$primary-color-1: #333333;

$secondary-color-1: #b71c1c;
$secondary-color-2: #888888;

$back-color-1: #F8F3EF;
$back-color-2: #FAFAFA;

$white-color: #ffffff;
$black-color: #000000;

$width-container: 1160;

$default-font-size: 16;

$animate: 0.2s;