@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Poppins-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  border: 0;
}

input,
textarea {
  outline: none;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  color: #ffffff;
  padding: 12px 20px;
  background-color: #009D98;
  border-radius: 4px;
  -webkit-box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
          box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #00847f;
}

.header {
  padding-top: 34px;
  position: absolute;
  width: 100%;
  margin: 0 auto;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content-nav-item {
  margin-right: 30px;
}

.header__content-nav-item:last-child {
  margin-right: 0;
}

.header__content-nav-item-link {
  color: #000000;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__content-nav-item-link:hover {
  color: #009D98;
}

.intro {
  height: 640px;
  background: url("../img/intro/intro-back.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.intro__content-title {
  color: transparent;
  -webkit-text-stroke: 1.5px #083C4C;
  font-size: 76px;
  line-height: 86px;
}

.intro__content-title span {
  letter-spacing: 2px;
}

.seek-travel {
  background-color: #e6f6f8;
}

.seek-travel__container {
  margin-left: auto;
  margin-right: 4%;
  max-width: 900px;
  position: relative;
  z-index: 1;
}

.seek-travel__container:after {
  position: absolute;
  content: "";
  width: 110px;
  height: 110px;
  background-image: url("../img/seek-travel/points.svg");
  left: -34px;
  bottom: -34px;
  z-index: -1;
}

.seek-travel__container-content {
  padding: 50px;
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50px 5px;
}

.seek-travel__container-content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seek-travel__container-content-form-back-where, .seek-travel__container-content-form-back-when, .seek-travel__container-content-form-back-travel_type {
  margin-right: 20px;
  position: relative;
}

.seek-travel__container-content-form-back-where:before, .seek-travel__container-content-form-back-when:before, .seek-travel__container-content-form-back-travel_type:before {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 16px;
  height: 16px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.seek-travel__container-content-form-back-where:before {
  background-image: url("../img/seek-travel/geolocation.svg");
}

.seek-travel__container-content-form-back-when:before {
  background-image: url("../img/seek-travel/date.svg");
}

.seek-travel__container-content-form-back-travel_type:before {
  background-image: url("../img/seek-travel/passenger.svg");
}

.seek-travel__container-content-form-where, .seek-travel__container-content-form-when, .seek-travel__container-content-form-travel_type {
  width: 100%;
  height: 50px;
  padding: 14px 34px 14px 20px;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transition: border 0.2s, background-color 0.2s;
  transition: border 0.2s, background-color 0.2s;
}

.seek-travel__container-content-form-where:focus, .seek-travel__container-content-form-when:focus, .seek-travel__container-content-form-travel_type:focus {
  border: 1px solid #009D98;
  background-color: #fcfcfc;
}

.seek-travel__container-content-form-btn {
  height: 50px;
  font-weight: 600;
  white-space: nowrap;
}

.about {
  padding-top: 140px;
  padding-bottom: 130px;
  background-color: #e6f6f8;
  position: relative;
}

.about:before {
  position: absolute;
  content: "";
  background-image: url("../img/about/map.svg");
  background-repeat: no-repeat;
  width: 57%;
  height: 75%;
  top: 17%;
  right: 0;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}

.about__content:before {
  position: absolute;
  content: "";
  background-image: url("../img/about/circle.svg");
  height: 275px;
  width: 275px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -10%;
}

.about__content:after {
  position: absolute;
  content: "";
  background-image: url("../img/about/points.svg");
  height: 50px;
  width: 50px;
  top: -24px;
  left: -6px;
  z-index: -1;
}

.about__content-img {
  width: 40%;
  height: 50%;
  margin: auto 0;
  position: relative;
}

.about__content-img:after {
  position: absolute;
  content: "";
  height: 86px;
  width: 86px;
  bottom: -36px;
  right: -36px;
  background-color: #FFC107;
  border-radius: 10px;
}

.about__content-description {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content-description-title {
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  color: #009D98;
}

.about__content-description-text {
  color: #7A7A7A;
  line-height: 26px;
  margin-top: 20px;
}

.about__content-description-btn {
  margin-top: 30px;
  width: 140px;
}

.free {
  height: 720px;
  color: #ffffff;
  background-image: url("../img/free/city.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.free:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(8, 60, 76, 0.5)), to(rgba(8, 60, 76, 0.5)));
  background: linear-gradient(to right, rgba(8, 60, 76, 0.5), rgba(8, 60, 76, 0.5));
}

.free__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  position: relative;
}

.free__content-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.free__content-description-title {
  font-size: 40px;
  font-weight: 700;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.free__content-description-info {
  margin-top: 30px;
}

.free__content-description-info-address, .free__content-description-info-location, .free__content-description-info-phone {
  margin-bottom: 28px;
}

.free__content-message {
  width: 43%;
  margin-right: 6%;
}

.free__content-message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.free__content-message-form-label {
  margin-bottom: 6px;
}

.free__content-message-form-input {
  resize: none;
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  -webkit-box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
          box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
  border-radius: 4px;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 20px;
  -webkit-transition: background-color 0.4s, color 0.4s;
  transition: background-color 0.4s, color 0.4s;
}

.free__content-message-form-input:focus {
  background-color: #ffffff;
  color: #000000;
}

.free__content-message-form-btn {
  width: 140px;
  margin-top: 10px;
  text-transform: uppercase;
}

.company {
  padding: 160px 0 30px 0;
}

.company__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  height: 900px;
  background: url("../img/footer/footer-back.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer hr {
  border: 0.5px solid #ffffff;
}

.footer__content {
  color: #ffffff;
  padding-top: 610px;
  margin-bottom: 50px;
}

.footer__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-item-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.footer__content-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content-item-description-link {
  color: #ffffff;
  margin-bottom: 20px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.footer__content-item-description-link:last-child {
  margin-bottom: 0;
}

.footer__content-item-description-link:hover {
  opacity: 0.7;
}

.footer__content-item-description-text {
  line-height: 26px;
}

.footer__content-item-description-icons-link {
  margin-right: 20px;
}

.footer__content-item-description-icons-link:last-child {
  margin-right: 0;
}

.footer__content-item-description-icons-link svg {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.footer__content-item-description-icons-link:hover svg {
  opacity: 0.7;
}

.footer__content-text {
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}
