<div class="content-item-slider-slide content-item-collection fl slide">
	<div class="content-item-collection-back-over fl al_it just_cont">
		<div class="content-item-collection-back-country fl al_it">
			<div class="content-item-collection-country-back-img fl">
				<img src="@@country.iconPath" alt="country" class="content-item-collection-country-img">
			</div>
			<h6 class="content-item-collection-country-title">@@country.title</h6>
		</div>
		<div class="content-item-collection-back-like">
			<button class="content-item-collection-btn-like fl">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="none" viewBox="0 0 24 20">
					<path stroke="#C6C6C6" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.84 2.61a5.5 5.5 0 0 0-7.78 0L12 3.67l-1.06-1.06a5.501 5.501 0 1 0-7.78 7.78l1.06 1.06L12 19.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78v0z"/>
				</svg>
			</button>
		</div>
	</div>
	<div class="content-item-collection-back-img blackout-blanket fl">
		<img src="@@pathImg" alt="collections" class="content-item-collection-img">
		<div class="content-item-collection-back-img-back-title">
			<h6 class="content-item-collection-back-img-title">@@company</h6>
		</div>
	</div>
	<h3 class="content-item-collection-title">
		<a role="button" class="content-item-collection-title-link">@@title</a>
	</h3>
	<div class="content-item-collection-back-link">
		<a role="button" class="content-item-collection-link fl al_it just_cont">
			@@countElement элемента
			<svg width="20" height="20" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M16.3994 27L30 13.5L16.3994 0L13.7755 2.59003L22.8863 11.619H0V15.381H22.8863L13.7755 24.4244L16.3994 27Z" fill="#D3D3D3"/>
			</svg>
		</a>
	</div>
</div>