$color-title-1: #3A2B02;
$color-title-advantages: #3E3E3E;

// CRACKERS
$color-crackers-subtitle: #858585;
$color-crackers-title: #444444;

// CHARACTERISTICS
$color-back-content: #F6F6F6;
$color-btn-open-menu: #6A6A6A;
$color-btn-slider: #6F6F6F;
$color-back-btn-open-menu: #E9E9E9;
$color-back-menu: #E9E9E9;

$color-back-range: #E3E3E3;

// INTRO
$color-intro-overhead: #EBE5D2;

// CATALOG
$color-back-catalog: #EBEBEB;
$color-back-catalog-link: #3E3E3E;
$color-title-catalog-nav: #ADADAD;
$color-link-catalog-nav: #6E6E6E;

// POPULAR
$color-btn-popular: #6F6F6F;
$color-company-popular-collections: #9B9B9B;
$color-title-popular-collections: #525252;
$color-back-link-popular-collections: #F5F5F5;
$color-link-popular-collections: #A3A3A3;

$color-back-link-popular-product: #F5F5F5;
$color-title-popular-product: #525252;
$color-description-popular-product: #A3A3A3;

$color-back-popular-product-choice: #E9E9E9;
$color-text-popular-product-popup: #8B8B8B;

// REVIEWS
$description-reviews-color: #A3A3A3;
$color-back-gradient-reviews: #EEEEEE;
$color-title-reviews: #EEEEEE;
$color-text-reviews: #3A2B02;
$color-link-count: #9B9B9B;

// NEW_ITEMS
$color-overhead-overhead-popup-collection: #7C7C7C;
$color-description-popup-collection: #8B8B8B;
$color-back-description-info-popup-collection: #F6F6F6;

$color-btn-like-popup-collection: #6F6F6F;
$color-back-btn-slider-popup-collection: #DFDFDF;
$color-btn-slider-popup-collection: #6F6F6F;


$color-back-popup: #6E6E6E;
$color-btn-close-popup: #6F6F6F;

$color-back-input-form: #E9E9E9;
$color-back-input-form-focus: #838383;

$color-back-input-search: #E1E1E1;
$color-back-input-search-focus: #838383;

$description-color-1: #A3A3A3;
$description-color-2: #A4A4A4;
$description-color-3: #AFAFAF;
$description-color-4: #6B6B6B;
$description-color-5: #525252;
$description-color-6: #6D6D6D;
$description-color-7: #777777;
$description-color-8: #EBE5D2;
$description-color-9: #999999;
$description-color-10: #8B8B8B;

$color-btn-link-1: #FF0000;
$color-btn-link-2: #E03226;

$black-color: #000000;
$white-color: #ffffff;


$animate: 0.2s;