$color-title-1: #3A2B02;
$color-title-advantages: #3E3E3E;

$color-back-catalog: #EBEBEB;
$color-back-catalog-link: #3E3E3E;

$description-reviews-color: #A3A3A3;
$color-back-gradient-reviews: #EEEEEE;
$color-title-reviews: #EEEEEE;
$color-text-reviews: #3A2B02;

$color-back-popup: #6E6E6E;
$color-btn-close-popup: #6F6F6F;

$color-back-input-form: #E9E9E9;
$color-back-input-form-focus: #838383;

$color-back-input-search: #E1E1E1;
$color-back-input-search-focus: #838383;

$description-color-1: #A3A3A3;
$description-color-2: #A4A4A4;
$description-color-3: #AFAFAF;
$description-color-4: #6B6B6B;
$description-color-5: #525252;
$description-color-6: #6D6D6D;
$description-color-7: #777777;
$description-color-8: #EBE5D2;

$color-btn-link-1: #FF0000;
$color-btn-link-2: #E03226;

$black-color: #000000;
$white-color: #ffffff;


$animate: 0.2s;