// COMMON

.container {
    max-width: 1190px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        margin: 0 40px;
    }

    @media (max-width: 425px) {
        margin: 0 30px
    }
}


.intro-back {

    &-overtitle {
        font-size: 16px;
        text-transform: uppercase;
        color: $primary-color;
        letter-spacing: 8px;
    }

    &-title {
        margin-top: 16px;
        color: $color-title;
        font-size: 42px;
        line-height: 60/42 * 100%;
    }

    @media (max-width: 425px) {
        
        &-title {
            font-size: 32px;
        }
    }
}


.color-back-icon-red    { background-color: $color-back-icon-red; }
.color-back-icon-blue   { background-color: $color-back-icon-blue; }
.color-back-icon-green  { background-color: $color-back-icon-green; }
.color-back-icon-yellow { background-color: $color-back-icon-yellow; }


.back-btns-points {
    display: flex;
    justify-content: center;
}

.btn-point {

    cursor: pointer;
    color: transparent;
    font-size: 0;

    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $color-description;

    margin-right: 20px;

    transition: background-color 0.2s;

    &.btn-point-acive {
        background-color: $primary-color;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: lighten($color-description, 16%);
    }
}


.wrapper-services-testimonials {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) -9.97%, $color-back 100%);
}
