.features {
    margin-top: 130px;

    &__content {
        display: flex;
        justify-content: space-between;

        &-back-img {
            width: 100%;
            margin: 0 auto;
            margin-top: 56px;
        }

        &-img {
            width: 100%;
            max-width: 460px;
            height: auto;
        }

        &-description {
            max-width: 600px;

            &-text {
                margin-top: 24px;

                color: $color-description;
                font-size: 18px;
                line-height: 28 / 18 * 100%;
            }

            &-items {
                margin-top: 60px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            &-item {
                max-width: 45%;

                &:first-child,
                &:nth-child(2) {
                    margin-bottom: 60px;
                }

                &-img {
                    padding: 10px;
                    border-radius: 24px;
                }

                &-title {
                    font-weight: 600;
                    font-size: 18px;
                    color: $color-title;
                    margin-top: 36px;
                }

                &-text {
                    line-height: 24 / 16 * 100%;
                    color: $color-description;

                    margin-top: 16px;
                }
            }
        }
    }

    @media (max-width: 1150px) {
        
        &__content {
            align-items: center;

            &-description {
                max-width: 500px;
            }
        }
    }

    @media (max-width: 950px) {
        
        &__content {
            flex-direction: column;
            text-align: center;

            &-description {
                max-width: 90%;
                margin: 96px auto 0;
            }
        }
    }

    @media (max-width: 600px) {

        &__content {

            &-description {
                max-width: 100%;
            }
        }
    }

    @media (max-width: 425px) {
        
        &__content {

            &-description {

                &-items {
                    flex-direction: column;
                }

                &-item {
                    max-width: 100%;

                    margin-bottom: 52px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}