.header {
    padding-top: 36px;
    padding-bottom: 20px;

    background: $color-back-intro_header;

    top: -80px;
    transition: top 0.6s;

    &.header-active {
        position: fixed;
        z-index: 20;
        top: 0;
        transition: top 0.6s;

        padding: 18px;

        width: 100%;
        box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);

        .header__content-nav-item-link {
            color: $color-title;
        }

        .header__content-back-logo {
            svg {
                path:last-child {
                    fill: $primary-color;
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;
        z-index: 10;

        &-back-logo {
            display: flex;
            align-items: center;

            &-title {
                font-size: 22px;
                font-weight: 700;
                color: $white-color;

                margin-left: 12px;
            }
        }

        &-nav {
            margin-left: 8%;

            flex-grow: 1;

            &-items {
                display: flex;

                list-style: none;
            }

            &-item {
                margin-right: 42px;

                &:last-child { margin-right: 0; }

                &-link {
                    color: $white-color;
                    opacity: 0.6;

                    transition: opacity 0.2s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &-back-login {
            display: flex;

            &-sign {
                margin-right: 34px;

                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 1px;
                    right: -17px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #D4D4D4;
                }
            }

            &-sign-link,
            &-start-link {
                color: $color-title;
                font-size: 14px;

                transition: color 0.2s;

                &:hover {
                    color: $color-btn;
                }
            }
        }
    } 
}