.header {
    padding-top: 36px;
    padding-bottom: 20px;

    background: $color-back-intro_header;

    top: -80px;
    transition: top 0.6s;

    &.header-active {
        position: fixed;
        z-index: 20;
        top: 0;

        padding: 18px 0;
        background: $primary-color;

        width: 100%;
        box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);

        .header__content-back-login {

            &-sign-link,
            &-start-link {
                color: $white-color;

                &:hover {
                    color: $color-btn;
                }
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: relative;
        z-index: 10;

        &-back-logo {
            display: flex;
            align-items: center;

            &-title {
                font-size: 22px;
                font-weight: 700;
                color: $white-color;

                margin-left: 12px;
            }
        }

        &-nav {
            margin-left: 8%;

            flex-grow: 1;

            &-items {
                display: flex;
            }

            &-item {
                margin-right: 42px;

                &:last-child { margin-right: 0; }

                &-link {
                    cursor: pointer;

                    color: $white-color;
                    opacity: 0.6;

                    transition: opacity 0.2s;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &-back-login {
            display: flex;

            &-sign {
                margin-right: 34px;

                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 1px;
                    right: -17px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: #D4D4D4;
                }
            }

            &-sign-link,
            &-start-link {
                color: $color-title;
                font-size: 14px;

                transition: color 0.2s;

                &:hover {
                    color: $color-btn;
                }
            }
        }

        &-back-btn {
            display: none;

            &-menu {
                cursor: pointer;

                font-size: 16px;
                padding: 9px 20px;
                font-weight: 700;
                color: $white-color;

                border: 1px solid $white-color;
                border-radius: 3px;

                transition: background-color 0.2s, border 0.2s;

                &:hover {
                    background-color: $color-btn;
                    border: 1px solid $color-btn;
                }
            }
        }
    }

    @media (max-width: 980px) and (min-width: 841px) {
        
        &__content {

            &-nav {

                &-item {

                    &:last-child {
                        .header__content-nav-item-link {
                            color: $color-title;

                            &.header__content-nav-item-link-pass {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 900px) and (min-width: 841px) {
        
        &__content {

            &-nav {

                &-item {
                    margin-right: 26px;
                }
            }
        }
    }

    @media (max-width: 840px) {
        padding-top: 30px;
        
        &__content {

            &-nav,
            &-back-login {
                display: none;
            }

            &-back-btn {
                display: block;
            }
        }
    }
}