.intro {
    padding-top: 62px;
    margin-bottom: 160px;

    padding-bottom: 60px;

    background: $color-back-intro_header;

    position: relative;

    &.intro-active {
        padding-top: 158px;

        &.intro {

            &:before {
                top: -195px;
            }
        }
    }

    &:before {
        position: absolute;
        content: "";
        width: 50%;
        height: 136%;
        top: -160px;
        left: -120px;
        background-color: $primary-color;
        border-bottom-right-radius: 500px;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        position: relative;
        z-index: 5;

        &:before {
            position: absolute;
            content: "";
            width: 86%;
            height: 155%;
            top: -160px;
            left: -120px;
            background-color: $primary-color;
            z-index: -1;
            border-bottom-right-radius: 500px;
        }

        &:after {
            position: absolute;
            content: "";
            background-image: url("../img/common/points-white.svg");
            bottom: -200px;
            left: -110px;
            width: 240px;
            height: 190px;
            z-index: -1;
        }

        &-description {
            max-width: 600px;
            margin-top: 50px;

            &-title {
                color: $white-color;
                font-size: 56px;
                line-height: 72 / 56 * 100%;

                span {
                    color: $color-btn;
                }
            }

            &-text {
                color: $white-color;
                font-size: 20px;
                line-height: 160%;
                margin-top: 36px;
            }

            &-back-btn {
                display: flex;
                margin-top: 64px;
            }

            &-btn {
                display: flex;

                color: $white-color;
                font-weight: 700;

                padding: 13px 22px;
                border: 1px solid $white-color;
                border-radius: 2px;

                transition: background-color 0.2s, border 0.2s;

                &:hover {
                    background-color: $color-btn;
                    border: 1px solid $color-btn;
                }

                &:first-child {
                    margin-right: 16px;
                }
            }
        }

        &-back-img {
            width: 37%;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                background-image: url("../img/intro/small.png");

                width: 370px;
                height: 250px;

                bottom: -140px;
                left: 170px;

                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;

                box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
            }
        }

        &-img {
            border-radius: 24px;
            width: 100%;
            max-width: 440px;
            height: auto;

            filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
        }
    }

    @media (max-width: 1100px) {
        
        &__content {
            
            &-description {
                max-width: 55%;
            }

            &-back-img {
                width: 50%;
            }
        }
    }

    @media (max-width: 1000px) {
        
        &__content {

            &-back-img {
                &:after {
                    bottom: -80px;
                    left: 35%;
                }
            }
        }
    }

    @media (max-width: 920px) {
        
        &__content {

            &-back-img {
                &:after {
                    bottom: -30px;
                }
            }
        }
    }

    @media (max-width: 840px) {

        &.intro-active {
            padding-top: 154px;
    
            &.intro {
    
                &:before {
                    top: -195px;
                }
            }
        }

        &:before {
            width: 100%;
            left: 0;
            border-bottom-right-radius: 320px;
        }
        
        &__content {
            justify-content: center;

            &:before {
                display: none;
            }

            &-description {
                max-width: 90%;
                text-align: center;

                &-title {
                    max-width: 90%;
                    margin: 0 auto;
                }

                &-back-btn {
                    justify-content: center;
                }
            }

            &-back-img {
                display: none;
            }
        }
    }

    @media (max-width: 770px) {
        
        &__content {

            &-description {

                &-title {
                    max-width: 99%;
                }
            }
        }
    }

    @media (max-width: 700px) {
     
        &__content {

            &-description {
                max-width: 100%;

                &-title {
                    max-width: 100%;
                }
            }
        }
    }
}