.mobile-nav {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;

    background-color: rgba(0, 0, 0, 0.5);

    transition: all 0.4s;

    &.mobile-nav-active {
        visibility: visible;
        opacity: 1;
    }

    &__content {
        padding: 32px 40px 40px 48px;

        background-color: $white-color;

        &.mobile-nav-content-active {
            padding: 18px 40px 40px 48px;
        }

        &-back-title_btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-title {
            font-size: 22px;
            font-weight: 600;
        }

        &-back-btn {
            border: 1px solid $color-btn-close;
            border-radius: 3px;

            display: flex;

            &-close {
                cursor: pointer;

                font-weight: 700;
                color: $color-btn-close;
                padding: 10px 20px;

                transition: background-color 0.2s, color 0.2s;

                &:hover {
                    color: $white-color;
                    background-color: $color-btn-close;
                }
            }
        }


        &-items {
            margin-top: 48px;
            text-align: center;
        }

        &-item {
            margin-bottom: 42px;

            &-link {
                color: $color-description;
                font-size: 24px;
                line-height: 1;

                transition: color 0.2s;

                &:hover {
                    color: $primary-color;
                }
            }
        }

        &-back-btns {
            margin-top: 4px;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-btn {
            font-weight: 700;
            color: $color-btn;

            padding: 18px 0;
            border: 1px solid $color-btn;
            border-radius: 3px;

            width: 170px;

            transition: background-color 0.2s, color 0.2s;

            &:first-child {
                margin-bottom: 16px;
            }

            &:hover {
                background-color: $color-btn;
                color: $white-color;
            }
        }
    }

    @media (max-width: 460px) {
        
        &__content {

            &-back-btns {
                flex-direction: row;
                justify-content: space-between;
            }

            &-btn {
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (max-width: 440px) {
        
        &__content {

            &-btn {
                max-width: 140px;
            }
        }
    }

    @media (max-width: 425px) {
        
        &__content {
            padding: 32px 30px 40px 38px;

            &.mobile-nav-content-active {
                padding: 18px 30px 40px 38px;
            }
        }
    }
}