.services {
    margin-top: 115px;

    &__content {

        &-back-intro {
            text-align: center;

            &-text {
                color: $color-description;
                font-size: 18px;
                margin-top: 24px;
            }
        }

        &-back-img {
            margin-top: 96px;

            display: flex;
            justify-content: center;
        }

        &-section {

            &-items {

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px;

                margin-top: 120px;
            }

            &-item {
                display: flex;
                align-items: center;

                background-color: $white-color;
                box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
                border-radius: 16px;

                padding: 20px 0 20px 24px;

                &-back-img {
                    margin-right: 30px;

                    width: 56px;
                    height: 56px;

                    border-radius: 24px;
                }

                &-img {
                    display: flex;
                    margin: 0 auto;
                    transform: translateY(10px);
                }

                &-title {
                    font-size: 18px;
                    line-height: 24 / 18 * 100%;
                }
            }
        }
    }
}