.services {
    margin-top: 115px;

    &__container {
        max-width: 1190px;
        margin: 0 auto;
    
        @media (max-width: 1200px) {
            margin: 0 40px;
        }
    }

    &__content {

        &-back-intro {
            text-align: center;

            &-text {
                color: $color-description;
                font-size: 18px;
                margin-top: 24px;
            }
        }

        &-back-img {
            display: flex;
            justify-content: center;
            margin-bottom: 120px;
            margin-top: 90px;
        }

        &-section {
            user-select: none;
			touch-action: pan-y;

            &-items {
                position: relative;
                left: 0;

                transition: left 0.4s;

                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
            }

            &-item {
                display: flex;
                align-items: center;

                background-color: $white-color;
                box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
                border-radius: 16px;

                padding: 20px 0 20px 24px;

                &.services-content-item-pass {
                    display: none;
                }

                &-back-img {
                    margin-right: 30px;

                    width: 56px;
                    height: 56px;

                    border-radius: 24px;
                }

                &-img {
                    display: flex;
                    margin: 0 auto;
                    transform: translateY(10px);
                }

                &-title {
                    font-size: 18px;
                    line-height: 24 / 18 * 100%;
                }
            }
        }

        &-back-btns {
            display: none;
        }
    }

    @media (max-width: 840px) {

        &__container {
            margin: 0;
        }

        &__content {
            margin: 0 40px;

            &-img {
                width: 100%;
            }

            &-back-img {
                margin: 90px 40px 120px 40px;
            }

            &-section {
                overflow: hidden;

                &-wrapper {
                    overflow: hidden;
                }

                &-items {
                    display: flex;
                    grid-column-gap: normal;
                    grid-row-gap: normal; 
                    padding-bottom: 48px;
                }

                &-item {
                    flex: 0 0 43%;
                    margin-right: 20px;

                    &:first-child {
                        margin-left: 28%;
                    }
                }
            }

            &-back-btns {
                display: flex;
            }
        }
    }

    @media (max-width: 670px) {
        
        &__content {

            &-section {

                &-item {
                    flex: 0 0 60%;

                    &:first-child {
                        margin-left: 20%;
                    }
                }
            }
        }
    }

    @media (max-width: 460px) {

        &__content {
            margin: 0 30px;

            &-back-img {
                margin: 60px 30px 120px 30px;
            }

            &-section {

                &-item {
                    flex: 0 0 85%;

                    &:first-child {
                        margin-left: 6%;
                    }
                }
            }
        }
    }
}