.threat {
    margin-top: 280px;

    &__content {
        color: $color-description;

        max-width: 960px;

        font-size: 20px;
        font-style: italic;
        line-height: 160%;
        font-weight: 500;

        position: relative;

        &:after {
            position: absolute;
            content: "";
            background-image: url("../img/common/points-grey.svg");
            top: -250px;
            right: -330px;
            width: 240px;
            height: 340px;
            z-index: -1;
        }
    }

    @media (max-width: 1140px) {
        
        &__content {
            &:after {
                right: -140px;
            }
        }
    }

    @media (max-width: 840px) {
        margin-top: 200px;
        text-align: center;

        &__content {

            &:after {
                top: 60px;
            }
        } 
    }
}