.update {
    margin-top: 260px;

    position: relative;

    &:before {
        position: absolute;
        content: "";
        right: 47%;
        top: 160px;

        width: 170px;
        height: 240px;

        background-image: url("../img/common/points-grey.svg");
    }

    &:after {
        position: absolute;
        content: "";
        width: 25%;
        height: 100%;
        right: 0;
        top: -56px;
        background-color: $primary-color;
        z-index: -1;
    }

    &__container {
        max-width: 1190px;
        margin: 0 auto;
    
        @media (max-width: 1200px) {
            margin: 0 40px;
        }
    }

    &-content-wrapper {
        position: relative;

        &:before,
        &:after {
            position: absolute;
            content: "";
        }

        &:before {
            left: -90px;
            bottom: -20px;

            width: 240px;
            height: 320px;

            background-image: url("../img/common/points-grey.svg");

            transform: rotate(90deg);
        }

        &:after {
            right: -120px;
            bottom: 30px;

            width: 240px;
            height: 170px;

            background-image: url("../img/common/points-white.svg");
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        position: relative;

        padding-bottom: 300px;

        &:before {
            position: absolute;
            content: "";
            width: 64%;
            height: 100%;
            top: -56px;
            right: -120px;
            background-color: $primary-color;
            z-index: -1;
            border-bottom-left-radius: 260px;
        }

        &-back-intro {
            max-width: 440px;
        }

        &-back-img {
            width: 52%;

            &-wrapper {
                position: relative;
                text-align: end;

                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    border-bottom-right-radius: 24px;
                    border-top-right-radius: 24px;
                    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
                    left: -120px;
                    background-repeat: no-repeat;
                }

                &:before {
                    background-image: url("../img/update/img-1.png");
                    width: 320px;
                    height: 240px;
                    top: 60px;
                }

                &:after {
                    background-image: url("../img/update/img-3.png");
                    width: 440px;
                    height: 400px;
                    bottom: -170px;
                }
            }
        }

        &-img {
            margin-top: 124px;
            border-radius: 24px;
            filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
        }

        &-description {
            max-width: 42%;
            padding-right: 40px;

            &-items {
                margin-top: 50px;
            }

            &-item {
                display: flex;

                margin-bottom: 60px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-back-img {
                    margin-right: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #fff;
                    width: 60px;
                    height: 60px;
                    border-radius: 43px;
                }

                &-img {
                    padding: 12px;
                }

                &-content {
                    color: $white-color;

                    &-title {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    &-text {
                        margin-top: 16px;
                        line-height: 24 / 16 * 100%;
                    }
                }
            }
        }
    }

    @media (min-width: 2800px) {
        
        &:after {
            width: 40%;
        }
    }

    @media (max-width: 1200px) {
        &:after {
            display: none;
        }
    }

    @media (max-width: 980px) {
        
        &__content {

            &-description {
                padding-right: 0;
            }
        }
    }

    @media (max-width: 840px) {
        margin-top: 200px;

        &:before {
            display: none;
        }

        &-content-wrapper {

            &:before {
                display: none;
            }

            &:after {
                right: -40px;
                height: 150px;
                bottom: 0;
            }
        }
        
        &__content {
            flex-direction: column;
            padding-bottom: 150px;

            &:before {
                width: 150%;
                height: 60%;

                left: -40px;
                right: 0;
                top: auto;
                bottom: 0;
            }

            &-back-intro {
                margin: 0 auto;
                text-align: center;
            }

            &-back-img {
                width: 100%;

                &-wrapper {
                    &:before,
                    &:after {
                        left: 0;
                        border-radius: 24px;
                        background-position: center;
                    }

                    &:before { width: 42%; }
                    &:after  { width: 58%; }
                }
            }

            &-description {
                max-width: 100%;
                margin-top: 220px;

                &-items {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                }

                &-item {
                    max-width: 40%;

                    flex-direction: column;
                    text-align: center;

                    &:nth-child(3) {
                        order: 2;
                        margin-bottom: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &-back-img {
                        margin: 0 auto;
                    }

                    &-content {

                        &-title {
                            margin-top: 32px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 740px) {
        
        &__content {

            &-description {

                &-items {
                    justify-content: space-between;
                }

                &-item {
                    max-width: 45%;
                }
            }
        }
    }

    @media (max-width: 670px) {

        &__container {
            max-width: 100%;
            margin: 0;
        }
        
        &__content {

            &-back-img {

                &-wrapper {
                    width: 100%;

                    &:before,
                    &:after {
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                        left: -40px;
                    }
                }
            }

            &-description {
                margin-left: 40px;
                margin-right: 40px;
            }
        }
    }

    @media (max-width: 540px) {
        
        &__content {

            &-back-img {

                &-wrapper {


                }
            }

            &-img {
                width: 60%;
            }
        }
    }

    @media (max-width: 500px) {
        
        &__content {

            &:before {
                height: 80%;
            }

            &-description {

                &-items {
                    flex-direction: column;
                }

                &-item {
                    max-width: 100%;
                    margin-bottom: 60px;

                    &:nth-child(3) {
                        order: 0;
                        margin-bottom: 60px;
                    }
                }
            }
        }
    }

    @media (max-width: 425px) {

        &__content {

            &-description {
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}