body {
	font-family: "Helvetica Neue Cyr";
	color: $primary-color-1;
}

h1 {
	font-size: 42px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: "Cormorant Garamond", sans-serif;
	line-height: 120%;
	letter-spacing: 3px;
}

h2 {
	font-size: 36px;
	font-weight: 400;
	font-family: "Cormorant Garamond", sans-serif;
	text-transform: uppercase;
	line-height: 1;
}

h3 {
	font-size: 18px;
	font-weight: 500;
	font-family: "Helvetica Neue Cyr", sans-serif;
	line-height: 130%;
}

p {
	font-size: 16px;
	line-height: 24px;

	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 18px;
	}
}

@media (max-width: 768px) {
	@include adaptive-title(38, 30, 16);
}

@media (max-width: 360px) {
	@include adaptive-title(32, 26, 16);
}