.popular {

	&__content {

		&-back-btn {
			&:last-child {
				.popular__content-btn {
					margin-right: 0;
				}
			}
		}

		&-btn {
			font: 700 25px/30px "Inter";
			letter-spacing: -1px;
			text-transform: uppercase;

			margin-right: 88px;
			color: $color-btn-popular;

			border-bottom: 2px dashed $color-btn-popular;

			transition: color $animate ease,
						border-bottom $animate ease;

			span {
				position: relative;

				&::after {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					left: 0;
					bottom: -10px;
					background-color: $color-btn-link-1;
					opacity: 0;

					transition: opacity $animate ease;
				}
			}

			&.popular-content-btn-active {
				border-bottom: 2px dashed transparent;
				color: $black-color;

				span {
					&::after {
						opacity: 1;
					}
				}
			}
		}

		&-items {
			margin-top: 80px;
			position: relative;
			height: 500px;
		}

		&-item {
			transform: scale(0.8);
			opacity: 0;
			position: absolute;
			z-index: 25;
			max-width: 100%;

			transition: transform $animate * 2 ease,
						opacity $animate * 2 ease;

			&.popular-content-item-active {
				transform: scale(1);
				opacity: 1;
				z-index: 50;
			}
		}
	}
}