.popular-queries {
	margin-top: 36px;

	&__content {

		&-title {
			font: 400 12px/16px "Roboto";
			text-align: end;
		}

		&-items {
			margin-left: 20px;
		}

		&-item {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			&-link {
				font: 300 12px/20px "Inter";
				color: $black-color;

				padding: 6px 20px;
				border: 2px solid #E5E5E5;
				border-radius: 2px;

				transition: border $animate ease;

				&:hover {
					border: 2px solid $black-color;
				}
			}
		}
	}
}