*,
::before,
::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

input, textarea {
	outline: none;
	border: none;
	resize: none;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}