@include include-fonts("Cormorant Garamond", 400, 'CormorantGaramond-Regular');

@include include-fonts("Helvetica Neue Cyr", 400, 'helveticaneuecyr-roman');
@include include-fonts("Helvetica Neue Cyr", 500, 'HelveticaNeueCyr-medium');
@include include-fonts("Helvetica Neue Cyr", 700, 'HelveticaNeueCyr-Bold');

@include include-fonts("Inter", 500, 'Inter-Medium');
