<li class="popular__content-item-product fl">
	<div class="popular__content-item-product-back-country fl al_it just_cont">
		<h6 class="popular__content-item-product-country-title">@@countryTitle</h6>
		<div class="popular__content-item-product-back-like">
			<button class="popular__content-item-product-btn-like fl">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="none" viewBox="0 0 24 20">
					<path stroke="#C6C6C6" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.84 2.61a5.5 5.5 0 0 0-7.78 0L12 3.67l-1.06-1.06a5.501 5.501 0 1 0-7.78 7.78l1.06 1.06L12 19.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78v0z"/>
				</svg>
			</button>
		</div>
	</div>
	<div class="popular__content-item-product-content">
		<div class="popular__content-item-product-back-img">
			<img src="@@pathImg" alt="product" class="popular__content-item-product-img">
		</div>
		<h3 class="popular__content-item-product-title">
			<a href="#" class="popular__content-item-product-title-link">@@title</a>
		</h3>
	</div>
	<div class="popular__content-item-product-back-link">
		<a href="#" class="popular__content-item-product-link fl al_it just_cont alt">
			@@price
			<svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
				<use href="#cart" xmlns="http://www.w3.org/2000/svg"/>
			</svg>
		</a>
	</div>
</li>