<div class="bell lock-padding">
    <div class="bell__container">
        <div class="bell__content block-flex">
            <div class="bell__content-description">
                <div class="bell__content-description-back-close">
                    <a role="button" class="bell__content-description-close">Закрыть</a>
                </div>
                <h2 class="bell__content-description-title">Заказать звонок</h2>
                <div class="bell__content-description-back-form">
                    <form action="index.html" class="bell__content-description-form">
                        <input type="text" placeholder="Имя" class="bell__content-description-form-input fill-field-input">
                        <input type="tel" placeholder="Телефон" class="bell__content-description-form-input fill-field-input">
                        <div class="bell__content-description-form-back-btn back-btn">
                            <button type="submit" class="bell__content-description-form-btn btn">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>