<div class="choosing-for-child">
    <div class="container">
        <div class="choosing-for-child__content block-flex-justify-align">
            <div class="choosing-for-child__content-intro">
                <h2 class="choosing-for-child__content-intro-title header-with-background "><span>Выбирая</span> <span>для</span> <span>своего</span> <span>ребенка</span> </h2>
                <div class="choosing-for-child__content-intro-text description-section">
                    <p>
                        изучение языков в нашей языковой школе, вы должны знать об особенностях нашего онлайн-обучения:
                    </p>
                </div>
            </div>
            <div class="choosing-for-child__content-items block-flex-justify-align">
                <div class="choosing-for-child__content-item">
                    <div class="choosing-for-child__content-item-description">
                        <p>
                            На первом занятии мы узнаем об интересах вашего ребенка, его увлечениях и особенностях.
                        </p>
                    </div>
                </div>
                <div class="choosing-for-child__content-item">
                    <div class="choosing-for-child__content-item-description">
                        <p>
                            Далее, после общения с ним, мы составляем ИНДИВИДУАЛЬНЫЙ ОБРАЗОВАТЕЛЬНЫЙ МАРШРУТ конкретно для вас. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>