<div class="for-kids-adults">
    <div class="container">
        <div class="for-kids-adults__content block-flex-justify-align">
            <div class="for-kids-adults__content-back-imgs for-kids-back-imgs">
                <img src="img/mainPage/children/figures.svg" alt="figures" class="for-kids-adults__content-img">
                <img src="img/mainPage/children/front-img.png" alt="kids" class="for-kids-adults__content-img for-kids-img">
            </div>
            <div class="for-kids-adults__content-description">
                <h2 class="for-kids-adults__content-description-title header-with-background"><span>Для</span> <span>детей</span></h2>
                <div class="for-kids-adults__content-description-items block-flex-justify">
                    <div class="for-kids-adults__content-description-item">
                        <h4 class="for-kids-adults__content-description-item-title description-section">Онлайн</h4>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                адаптированная под ребёнка программа
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                гибкое расписание
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                занятия в привычной обстановке
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                динамичные занятия по 30-40 минут
                            </p>
                        </div>
                    </div>
                    <div class="for-kids-adults__content-description-item">
                        <h4 class="for-kids-adults__content-description-item-title description-section">Оффлайн</h4>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                занятия в нашей школе в г. Троицке
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                удобное расписание
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                живое общение со сверстниками
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                увлекательные занятия в небольших группах
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="for-kids-adults for-adults">
    <div class="container">
        <div class="for-kids-adults__content block-flex-justify-align">
            <div class="for-kids-adults__content-description">
                <h2 class="for-kids-adults__content-description-title header-with-background"><span>Для</span> <span>взрослых</span></h2>
                <div class="for-kids-adults__content-description-items block-flex-justify">
                    <div class="for-kids-adults__content-description-item">
                        <h4 class="for-kids-adults__content-description-item-title description-section">Оффлайн</h4>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                занятия в нашей школе в г. Троицке
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                удобное расписание
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                уютная атмосфера
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                индивидуальные или групповые занятия
                            </p>
                        </div>
                    </div>
                    <div class="for-kids-adults__content-description-item">
                        <h4 class="for-kids-adults__content-description-item-title description-section">Онлайн</h4>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                занятия из любой точки в удобное время
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                персональная программа
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                гибкое расписание
                            </p>
                        </div>
                        <div class="for-kids-adults__content-description-item-text">
                            <p>
                                преодоление языкового барьера
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="for-kids-adults__content-back-imgs for-adults-back-imgs">
                <img src="img/mainPage/adults/figures.svg" alt="figures" class="for-kids-adults__content-img">
                <img src="img/mainPage/adults/front-img.png" alt="kids" class="for-kids-adults__content-img for-adults-img">
            </div>
        </div>
    </div>
</div>