<header class="header">
    <div class="container">
        <div class="header__content block-flex-align">
            <div class="header__content-back-logo block-flex-align">
                <img src="img/logo/logo.svg" alt="logo" class="header__content-logo">
                <h2 class="header__content-back-logo-title">
                    <a href="index.html" class="header__content-back-logo-title-link">
                        <span class="header-span-1">Speaky</span> School
                    </a>
                </h2>
            </div>
            <nav class="header__content-nav">
                <ul class="header__content-nav-items block-flex-align">
                    <li class="header__content-nav-item">
                        <a role="button" class="header__content-nav-item-link nav-item-link-menu arrow">Обучение детей</a>
                        <div class="header__content-nav-item-menu">
                            <div class="header__content-nav-item-menu-content block-flex">
                                <a href="kidsOnline.html" class="header__content-nav-item-link">Онлайн-занятия</a>
                                <a href="kidsOffline.html" class="header__content-nav-item-link">Занятия в клубе</a>
                            </div>
                        </div>
                    </li>
                    <li class="header__content-nav-item">
                        <a href="adultEducation.html" class="header__content-nav-item-link">Обучение взрослых</a>
                    </li>
                </ul>
            </nav>
            @@include("blocks/social.html")
            <div class="header__content-back-btn">
                <a role="button" class="btn-menu">
                    <span>Menu</span>
                </a>
            </div>
        </div>
    </div>
</header>