<!-- mt -> margin-top (задаём отступы) -->

@@if(mt == 140) {
    <div class="learn-languages learn-languages-mt-140">
}

@@if(mt == 100) {
    <div class="learn-languages learn-languages-mt-100">
}

@@if(mt == 70) {
    <div class="learn-languages learn-languages-mt-70">
}
    <div class="container">
        <div class="learn-languages-content-wrapper container__wrapper">
            <div class="learn-languages__content">
                <h2 class="learn-languages__content-title header-with-background">@@title</h2>
                <div class="learn-languages__content-items block-flex-justify">
                    <div class="learn-languages__content-item block-flex-align">
                        <div class="learn-languages__content-item-back-img">
                            <img src="img/common/iconsCountry/kingdom.svg" alt="kingdom" class="learn-languages__content-item-img">
                        </div>
                        <h4 class="learn-languages__content-item-title description-section">Английский</h4>
                    </div>
                    <div class="learn-languages__content-item block-flex-align">
                        <div class="learn-languages__content-item-back-img">
                            <img src="img/common/iconsCountry/germany.svg" alt="germany" class="learn-languages__content-item-img">
                        </div>
                        <h4 class="learn-languages__content-item-title description-section">Немецкий</h4>
                    </div>
                    <div class="learn-languages__content-item block-flex-align">
                        <div class="learn-languages__content-item-back-img">
                            <img src="img/common/iconsCountry/spain.svg" alt="spain" class="learn-languages__content-item-img">
                        </div>
                        <h4 class="learn-languages__content-item-title description-section">Испанский</h4>
                    </div>
                    <div class="learn-languages__content-item block-flex-align">
                        <div class="learn-languages__content-item-back-img">
                            <img src="img/common/iconsCountry/france.svg" alt="france" class="learn-languages__content-item-img">
                        </div>
                        <h4 class="learn-languages__content-item-title description-section">Французский</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>