<div class="mobile-nav">
    <div class="mobile-nav__wrapper lock-padding">
        <div class="container">
            <div class="mobile-nav__content">
                <nav class="mobile-nav__content-nav">
                    <ul class="mobile-nav__content-nav-items">
                        <li class="mobile-nav__content-nav-item">
                            <a href="kidsOnline.html" class="mobile-nav__content-nav-item-link">Обучение детей онлайн</a>
                        </li>
                        <li class="mobile-nav__content-nav-item">
                            <a href="kidsOffline.html" class="mobile-nav__content-nav-item-link">Обучение детей оффлайн</a>
                        </li>
                        <li class="mobile-nav__content-nav-item">
                            <a href="adultEducation.html" class="mobile-nav__content-nav-item-link">Обучение взрослых</a>
                        </li>
                    </ul>
                </nav>
                @@include("blocks/social.html")
                <div class="mobile-nav__content-contact">
                    <h4 class="mobile-nav__content-contact-title">Контакты</h4>
                    <ul class="mobile-nav__content-contact-links">
                        <li class="mobile-nav__content-contact-links-block">
                            <a href="tel:+7 (495) 723-75-15" class="mobile-nav__content-contact-links-block-link">+7 (495) 723-75-15</a>
                        </li>
                        <li class="mobile-nav__content-contact-links-block">
                            <a href="mailto:info@speaky.school" class="mobile-nav__content-contact-links-block-link">info@speaky.school</a>
                        </li>
                        <li class="mobile-nav__content-contact-links-block">
                            <a href="https://www.google.com/maps/place/%D0%A2%D1%80%D0%BE%D0%B8%D1%86%D0%BA%D0%B8%D0%B9+%D0%B1%D1%83%D0%BB.,+6,+%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+142190/@55.4676269,37.2873978,17z/data=!3m1!4b1!4m5!3m4!1s0x4135553790c781b1:0x8d484f4c45a57987!8m2!3d55.4676269!4d37.2895865" class="mobile-nav__content-contact-links-block-link">108840, Россия ,г. Москва, г. Троицк, Троицкий бульвар, 6</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>