<div class="payment-services lock-padding">
    <div class="payment-services__container">
        <div class="payment-services__content block-flex">
            <div class="payment-services__content-block">
                <div class="payment-services__content-block-back-close">
                    <a role="button" class="payment-services__content-block-close">Закрыть</a>
                </div>
                <h2 class="payment-services__content-block-title">Оплата услуг</h2>
                <div class="payment-services__content-block-back-form">
                    <form id="payment" action="index.html" class="payment-services__content-block-form block-flex">
                        <div class="payment-services__content-block-form-back-input block-flex-justify">
                            <input type="text" placeholder="Имя" class="payment-services__content-block-form-input fill-field-input">
                            <input type="tel" placeholder="Телефон" class="payment-services__content-block-form-input fill-field-input">
                        </div>
                        <input type="email" placeholder="Почта" class="payment-services__content-block-form-input fill-field-input">
                        <label for="amount-payment" class="payment-services__content-block-form-label"></label>
                        <input id="amount-payment" type="text" placeholder="Сумма платежа" class="payment-services__content-block-form-input fill-field-input input-amount-payment">
                    </form>
                    <div class="payment-services__content-block-text">
                        <p>
                            Нажимая кнопку "Оплатить", Вы соглашаетесь с условиями договора оферты и обработку персональных данных.
                        </p>
                    </div>
                    <div class="payment-services__content-block-back-btn back-btn">
                        <button form="payment" type="submit" class="payment-services__content-block-btn btn">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>