<div class="smart-approach">
    <div class="container">
        <div class="smart-approach__content">
            <div class="smart-approach__content-intro">
                <h2 class="smart-approach__content-intro-title header-with-background"><span>Мы</span> <span>используем</span> <span>SMART-подход</span> <span>в</span> <span>обучении</span></h2>
                <div class="smart-approach__content-intro-description">
                    <p>
                        Чтобы обучение было максимально эффективным, мы составляем индивидуальную карту обучения: ваша исходная точка, конечный результат, срок достижения этого результата. И будем вместе идти к этим целям
                    </p>
                </div>
                <div class="smart-approach__content-intro-items block-flex-justify">
                    <div class="smart-approach__content-intro-item">
                        <div class="smart-approach__content-intro-item-wrapper">
                            <h2 class="smart-approach-letter">s</h2>
                            <h4 class="smart-approach__content-intro-item-overhead">specific</h4>
                            <h4 class="smart-approach__content-intro-item-title description-section">Конкретная цель</h4>
                        </div>
                    </div>
                    <div class="smart-approach__content-intro-item">
                        <div class="smart-approach__content-intro-item-wrapper">
                            <h2 class="smart-approach-letter">m</h2>
                            <h4 class="smart-approach__content-intro-item-overhead">measurable</h4>
                            <h4 class="smart-approach__content-intro-item-title description-section">Критерии успеха</h4>
                        </div>
                    </div>
                    <div class="smart-approach__content-intro-item">
                        <div class="smart-approach__content-intro-item-wrapper">
                            <h2 class="smart-approach-letter">a</h2>
                            <h4 class="smart-approach__content-intro-item-overhead">achievable</h4>
                            <h4 class="smart-approach__content-intro-item-title description-section">Достижимая цель</h4>
                        </div>
                    </div>
                    <div class="smart-approach__content-intro-item">
                        <div class="smart-approach__content-intro-item-wrapper">
                            <h2 class="smart-approach-letter">r</h2>
                            <h4 class="smart-approach__content-intro-item-overhead">relevant</h4>
                            <h4 class="smart-approach__content-intro-item-title description-section">Цель, имеющая значение</h4>
                        </div>
                    </div>
                    <div class="smart-approach__content-intro-item">
                        <div class="smart-approach__content-intro-item-wrapper">
                            <h2 class="smart-approach-letter">t</h2>
                            <h4 class="smart-approach__content-intro-item-overhead">time bound</h4>
                            <h4 class="smart-approach__content-intro-item-title description-section">Четкие сроки</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="smart-approach__content-example">
                <div class="smart-approach__content-example-intro block-flex-justify-align">
                    <div class="smart-approach__content-example-intro-back-imgs">
                        <img src="img/mainPage/learningApproach/figures.svg" alt="figures" class="smart-approach__content-example-intro-img">
                        <img src="img/mainPage/learningApproach/front-img.png" alt="persona" class="smart-approach__content-example-intro-img">
                    </div>
                    <div class="smart-approach__content-example-intro-description">
                        <h4 class="smart-approach__content-example-intro-description-title description-section">Пример</h4>
                        <div class="smart-approach__content-example-intro-description-text">
                            <p>
                                Я учил английский в школе, но все забыл. Сейчас я хочу работать в международной компании, успешно пройти интервью и затем свободно общаться с коллегами. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="smart-approach__content-example-items">
                    <div class="smart-approach__content-example-item">
                        <h2 class="smart-approach-letter">1</h2>
                        <h4 class="smart-approach__content-example-item-title description-section">Определяем текущий уровень и ставим цель</h4>
                        <div class="smart-approach__content-example-item-description">
                            <p>
                                Улучшение языковых навыков до уровня свободного общения в определенной специфике (бизнес-английский).
                            </p>
                        </div>
                    </div>
                    <div class="smart-approach__content-example-item">
                        <h2 class="smart-approach-letter">2</h2>
                        <h4 class="smart-approach__content-example-item-title description-section">Критерии успеха</h4>
                        <div class="smart-approach__content-example-item-description">
                            <p>
                                Определяем даты промежуточных итогов, где оценим успехи по всем скилам. Что лично для вас будет являться успехом? Когда вы сможете свободно выразить мысль? Не будете путать слова? Напишите самостоятельно имейл?
                            </p>
                        </div>
                    </div>
                    <div class="smart-approach__content-example-item">
                        <h2 class="smart-approach-letter">3</h2>
                        <h4 class="smart-approach__content-example-item-title description-section">Достижимая цель</h4>
                        <div class="smart-approach__content-example-item-description">
                            <p>
                                Если мы определили стартовый уровень как Beginner, значит наша реальная цель в короткий срок – Pre-Intermediate
                            </p>
                        </div>
                    </div>
                    <div class="smart-approach__content-example-item">
                        <h2 class="smart-approach-letter">4</h2>
                        <h4 class="smart-approach__content-example-item-title description-section">Имеющая значение цель</h4>
                        <div class="smart-approach__content-example-item-description">
                            <p>
                                Что лично для вас изменится с появлением языковой компетенции?
                            </p>
                        </div>
                    </div>
                    <div class="smart-approach__content-example-item">
                        <h2 class="smart-approach-letter">5</h2>
                        <h4 class="smart-approach__content-example-item-title description-section">Четкие сроки</h4>
                        <div class="smart-approach__content-example-item-description">
                            <p>
                                Когда вы хотите достигнуть этого уровня? 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>