<div class="total">
    <div class="container">
        <div class="total__content block-flex-justify">
            <div class="total__content-intro">
                <h2 class="total__content-intro-title header-with-background"><span>Итог</span></h2>
                <div class="total__content-intro-description">
                    <p>
                        Все ваши занятия будут выстроены исходя из профессиональных интересов, таким образом:
                    </p>
                </div>
            </div>
            <div class="total__content-items block-flex-justify">
                <div class="total__content-item block-flex-align">
                    <div class="total__content-item-back-img">
                        <img src="img/common/iconsTotal/elearning.svg" alt="elearning" class="total__content-item-img">
                    </div>
                    <div class="total__content-item-description description-section">
                        <p>
                            отобразим рабочие сценарии
                        </p>
                    </div>
                </div>
                <div class="total__content-item block-flex-align">
                    <div class="total__content-item-back-img">
                        <img src="img/common/iconsTotal/devices.svg" alt="devices" class="total__content-item-img">
                    </div>
                    <div class="total__content-item-description description-section">
                        <p>
                            выучим специальный вокабуляр
                        </p>
                    </div>
                </div>
                <div class="total__content-item block-flex-align">
                    <div class="total__content-item-back-img">
                        <img src="img/common/iconsTotal/ebook.svg" alt="ebook" class="total__content-item-img">
                    </div>
                    <div class="total__content-item-description description-section">
                        <p>
                            погрузим вас в рабочую, при этом языковую среду
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>