<div class="training-package">
    <div class="container">
        <div class="training-package__content">
            <h2 class="training-package__content-title header-with-background"><span>Пакеты</span> <span>обучения</span></h2>
            <div class="training-package__content-back-btns slider">
                <div class="slider-list">
                    <div class="slider-track block-flex-justify">
                        <a role="button" class="training-package__content-btn training-package-content-btn-offline description-section training-package-btn-slider slide training-package-btn-active">Индивидуальные уроки</a>
                        <a role="button" class="training-package__content-btn training-package-content-btn-offline description-section training-package-btn-slider slide">Групповые уроки</a>
                        <a role="button" class="training-package__content-btn training-package-content-btn-offline description-section training-package-btn-slider slide">Разговорный клуб</a>
                    </div>
                </div>
            </div>
            <div class="training-package__content-wrapper-items">
                <div class="training-package__content-items training-package-content-items-offline slider training-package-content-items-active">
                    <div class="training-package__content-items-slider-list slider-list">
                        <div class="training-package__content-items-slider-track slider-track block-flex-justify-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-1.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "8800",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-2.svg",
                                "description": "8 занятий по 60 мин",
                                "price": "17600",
                            })
                        </div>
                    </div>
                </div>
                <div class="training-package__content-items training-package-content-items-offline slider">
                    <div class="training-package__content-items-slider-list slider-list">
                        <div class="training-package__content-items-slider-track slider-track block-flex-justify-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-4.svg",
                                "description": "4 занятия по 45-60 мин*",
                                "price": "4300",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-5.svg",
                                "description": "12 занятий по 45-60 мин*",
                                "price": "7900",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-6.svg",
                                "description": "8 занятий по 60 мин",
                                "price": "11850",
                            })
                        </div>
                    </div>
                </div>
                <div class="training-package__content-items training-package-content-items-offline slider">
                    <div class="training-package__content-items-slider-list slider-list">
                        <div class="training-package__content-items-slider-track slider-track block-flex-justify-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-7.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "3600",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-8.svg",
                                "description": "8 занятий по 60 мин",
                                "price": "6800",
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>