<div class="training-package">
    <div class="container">
        <div class="training-package__content">
            <h2 class="training-package__content-title header-with-background"><span>Пакеты</span> <span>обучения</span></h2>
            <div class="training-package__content-back-btns">
                <div class="training-package__content-back-btns-wrapper block-flex">
                    <a role="button" class="training-package__content-btn description-section training-package-btn-active">Индивидуальные уроки</a>
                    <a role="button" class="training-package__content-btn description-section">Разговорный клуб</a>
                </div>
                <div class="training-package__content-back-btns-wrapper block-flex">
                    <a role="button" class="training-package__content-btn description-section training-package-btn-active">30 минут</a>
                    <a role="button" class="training-package__content-btn description-section">60 минут</a>
                </div>
            </div>
            <div class="training-package__content-wrapper-items">
                <div class="training-package__content-items slider training-package-content-items-online training-package-content-items-active">
                    <div class="training-package__content-items-slider-list slider-list">
                        <div class="training-package__content-items-slider-track slider-track block-flex-justify-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-1.svg",
                                "description": "4 занятия по 30 мин",
                                "price": "3400",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-2.svg",
                                "description": "8 занятий по 30 мин",
                                "price": "6800",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-3.svg",
                                "description": "12 занятий по 30 мин",
                                "price": "10200",
                            })
                        </div>
                    </div>
                </div>
                <div class="training-package__content-items slider training-package-content-items-online">
                    <div class="training-package__content-items-slider-list slider-list">
                        <div class="training-package__content-items-slider-track slider-track block-flex-justify-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-4.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "5400",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-5.svg",
                                "description": "8 занятий по 60 мин",
                                "price": "10800",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-6.svg",
                                "description": "12 занятий по 60 мин",
                                "price": "16200",
                            })
                        </div>
                    </div>
                </div>
                <div class="training-package__content-items slider training-package-content-items-online">
                    <div class="training-package__content-items-slider-list slider-list">
                        <div class="training-package__content-items-slider-track slider-track block-flex-justify-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-7.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "5400",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-8.svg",
                                "description": "8 занятий по 60 мин",
                                "price": "4800",
                            })
                        </div>
                    </div>
                </div>
                <div class="training-package__content-items slider training-package-content-items-online">
                    <div class="training-package__content-items-slider-list slider-list">
                        <div class="training-package__content-items-slider-track slider-track block-flex-justify-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-1.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "3800",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-2.svg",
                                "description": "8 занятий по 60 мин",
                                "price": "5500",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-3.svg",
                                "description": "12 занятий по 60 мин",
                                "price": "12200",
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>