<div class="training-package">
    <div class="container">
        <div class="training-package__content">
            <h2 class="training-package__content-title header-with-background"><span>Пакеты</span> <span>обучения</span></h2>
            <h4 class="training-package__content-subtitle description-section">Выбирайте удобный формат встреч </h4>
            <div class="training-package__content-back-btns-line slider">
                <div class="slider-list">
                    <div class="slider-track block-flex">
                        <div class="training-package__content-back-btns-line-menu slide back-btns-line-menu-active">
                            <div class="training-package__content-back-btns-line-menu-wrapper block-flex">
                                <a role="button" class="training-package__content-back-btns-line-menu-btn line-menu-btn-pass">Button</a>
                                <div class="training-package__content-back-btns-line-menu-title description-section">Вид обучения</div>
                            </div>
                            <div class="training-package__content-back-btns-line-menu-content">
                                <div class="training-package__content-back-btns-line-menu-content-wrapper">
                                    <div class="training-package__content-back-btns-line-menu-content-checks">
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-offline" type="radio" value="offline" name="radio">
                                            <label for="training-package-radio-offline">Офлайн-занятия</label>
                                        </div>
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-online" type="radio" value="online" name="radio">
                                            <label for="training-package-radio-online">Онлайн занятия</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="training-package__content-back-btns-line-menu slide">
                            <div class="training-package__content-back-btns-line-menu-wrapper block-flex">
                                <a role="button" class="training-package__content-back-btns-line-menu-btn">Button</a>
                                <div class="training-package__content-back-btns-line-menu-title description-section">Вид занятия</div>
                            </div>
                            <div class="training-package__content-back-btns-line-menu-content back-btns-line-menu-content-offline">
                                <div class="training-package__content-back-btns-line-menu-content-wrapper">
                                    <div class="training-package__content-back-btns-line-menu-content-checks">
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-individual-lessons-offline" type="radio" value="individual-lessons-offline" name="radio_2">
                                            <label for="training-package-radio-individual-lessons-offline">Индивидуальные уроки</label>
                                        </div>
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-group-lessons-offline" type="radio" value="group-lessons-offline" name="radio_2">
                                            <label for="training-package-radio-group-lessons-offline">Групповые уроки</label>
                                        </div>
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-conversation-club-offline" type="radio" value="conversation-club-offline" name="radio_2">
                                            <label for="training-package-radio-conversation-club-offline">Разговорный клуб</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="training-package__content-back-btns-line-menu-content back-btns-line-menu-content-online">
                                <div class="training-package__content-back-btns-line-menu-content-wrapper">
                                    <div class="training-package__content-back-btns-line-menu-content-checks">
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-individual-lessons-online" type="radio" value="individual-lessons-online" name="radio_3">
                                            <label for="training-package-radio-individual-lessons-online">Индивидуальные уроки</label>
                                        </div>
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-conversation-club-online" type="radio" value="conversation-club-online" name="radio_3">
                                            <label for="training-package-radio-conversation-club-online">Разговорный клуб</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="training-package__content-back-btns-line-menu slide">
                            <div class="training-package__content-back-btns-line-menu-wrapper block-flex">
                                <a role="button" class="training-package__content-back-btns-line-menu-btn">Button</a>
                                <div class="training-package__content-back-btns-line-menu-title description-section">Длительность</div>
                            </div>
                            <div class="training-package__content-back-btns-line-menu-content back-btns-line-menu-content-offline">
                                <div class="training-package__content-back-btns-line-menu-content-wrapper">
                                    <div class="training-package__content-back-btns-line-menu-content-checks">
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <p>
                                                60 минут
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="training-package__content-back-btns-line-menu-content back-btns-line-menu-content-online">
                                <div class="training-package__content-back-btns-line-menu-content-wrapper">
                                    <div class="training-package__content-back-btns-line-menu-content-checks">
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-individual-lessons-conversation-club-1" type="radio" value="30-min" name="radio_4">
                                            <label for="training-package-radio-individual-lessons-conversation-club-1">30 минут</label>
                                        </div>
                                        <div class="training-package__content-back-btns-line-menu-content-check check-radio-back">
                                            <input id="training-package-radio-conversation-club-conversation-club-2" type="radio" value="60-min" name="radio_4">
                                            <label for="training-package-radio-conversation-club-conversation-club-2">60 минут</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 0;" class="training-package__content-wrapper-items">
                <div class="training-package__content-items slider training-package__content-items-adults-offline offline-individual-lessons-offline-60-min">
                    <div class="slider-list">
                        <div class="slider-track block-flex-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-4.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "5400",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-5.svg",
                                "description": "8 занятия по 60 мин",
                                "price": "10800",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-6.svg",
                                "description": "12 занятия по 60 мин",
                                "price": "16200",
                            })
                        </div>
                    </div>
                </div>
                <div class="training-package__content-items slider training-package__content-items-adults-offline offline-group-lessons-offline-60-min">
                    <div class="slider-list">
                        <div class="slider-track block-flex-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-4.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "4300",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-5.svg",
                                "description": "8 занятия по 60 мин",
                                "price": "7900",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-6.svg",
                                "description": "12 занятия по 60 мин",
                                "price": "11850",
                            })
                        </div>
                    </div>
                </div>
                <div style="justify-content: space-around;" class="training-package__content-items training-package__content-items-adults-offline slider offline-conversation-club-offline-60-min">
                    <div class="slider-list">
                        <div class="slider-track block-flex-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-7.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "3600",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-8.svg",
                                "description": "8 занятия по 60 мин",
                                "price": "6800",
                            })
                        </div>
                    </div>
                </div>

                <div class="training-package__content-items training-package__content-items-adults-online slider online-individual-lessons-online-30-min">
                    <div class="slider-list">
                        <div class="slider-track block-flex-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-1.svg",
                                "description": "4 занятия по 30 мин",
                                "price": "3400",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-2.svg",
                                "description": "8 занятия по 30 мин",
                                "price": "6800",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-3.svg",
                                "description": "12 занятия по 30 мин",
                                "price": "10200",
                            })
                        </div>
                    </div>
                </div>
                <div class="training-package__content-items training-package__content-items-adults-online slider online-individual-lessons-online-60-min">
                    <div class="slider-list">
                        <div class="slider-track block-flex-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-4.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "5400",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-5.svg",
                                "description": "8 занятия по 60 мин",
                                "price": "10800",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-6.svg",
                                "description": "12 занятия по 60 мин",
                                "price": "16200",
                            })
                        </div>
                    </div>
                </div>
                <div style="justify-content: space-around;" class="training-package__content-items training-package__content-items-adults-online slider online-conversation-club-online-60-min">
                    <div class="slider-list">
                        <div class="slider-track block-flex-align">
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-7.svg",
                                "description": "4 занятия по 60 мин",
                                "price": "5400",
                            })
                            @@include("blocks/training_package_block.html", {
                                "path_figures": "img/common/trainingPackages/illustration-8.svg",
                                "description": "8 занятия по 60 мин",
                                "price": "4800",
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>