<div class="trial-lesson">
    <div class="container trial-lesson__container">
        <div class="trial-lesson__content block-flex-justify">
            <div class="trial-lesson__content-back-form">
                <h2 class="trial-lesson__content-back-form-title">Записаться на пробное занятие</h2>
                <div class="trial-lesson__content-wrapper">
                    <div class="trial-lesson__content-back-form-back-btns block-flex">
                        <a role="button" id="trial-lesson-btn-adults-2" class="trial-lesson__content-back-form-btn trial-lesson-btn-active">Взрослые</a>
                        <a role="button" id="trial-lesson-btn-children-2" class="trial-lesson__content-back-form-btn">Дети и подростки</a>
                    </div>
                    <div class="trial-lesson__content-back-form-items">
                        <form action="index.html" class="trial-lesson__content-form trial-lesson-form-active">
                            <div class="trial-lesson__content-form-box">
                                <div class="trial-lesson__content-form-box-select arrow">
                                    <p>
                                        Английский язык
                                    </p>
                                </div>
                                <div class="trial-lesson__content-form-box-selects">
                                    <div class="trial-lesson__content-form-box-selects-block arrow">
                                        <label for="select-block-9" class="trial-lesson__content-form-box-selects-block-label">Английский язык</label>
                                        <input if="select-block-9" type="radio" class="trial-lesson__content-form-box-selects-block-input">
                                    </div>
                                    <div class="trial-lesson__content-form-box-selects-block arrow">
                                        <label for="select-block-10" class="trial-lesson__content-form-box-selects-block-label">Французский язык</label>
                                        <input if="select-block-10" type="radio" class="trial-lesson__content-form-box-selects-block-input">
                                    </div>
                                    <div class="trial-lesson__content-form-box-selects-block arrow">
                                        <label for="select-block-11" class="trial-lesson__content-form-box-selects-block-label">Немецкий язык</label>
                                        <input if="select-block-11" type="radio" class="trial-lesson__content-form-box-selects-block-input">
                                    </div>
                                    <div class="trial-lesson__content-form-box-selects-block arrow">
                                        <label for="select-block-12" class="trial-lesson__content-form-box-selects-block-label">Испанский язык</label>
                                        <input if="select-block-12" type="radio" class="trial-lesson__content-form-box-selects-block-input">
                                    </div>
                                </div>
                            </div>
                            <div class="trial-lesson__content-form-back-checks">
                                <div class="trial-lesson__content-form-check check-radio-back">
                                    <input id="trial-lesson-radio-online-3" type="radio" name="radio" checked>
                                    <label for="trial-lesson-radio-online-3">Онлайн-занятия</label>
                                </div>
                                <div class="trial-lesson__content-form-check check-radio-back">
                                    <input id="trial-lesson-radio-offline-3" type="radio" name="radio">
                                    <label for="trial-lesson-radio-offline-3">Занятия в клубе</label>
                                </div>
                            </div>
                            <div class="trial-lesson__content-form-back-input block-flex-justify">
                                <input type="text" placeholder="Имя" class="trial-lesson__content-form-input fill-field-input">
                                <input type="tel" placeholder="Телефон" class="trial-lesson__content-form-input fill-field-input">
                            </div>
                            <input type="email" placeholder="Почта" class="trial-lesson__content-form-input fill-field-input">
                            <div class="trial-lesson__content-form-back-btn back-btn">
                                <button type="submit" class="trial-lesson__content-form-btn btn">Отправить</button>
                            </div>
                        </form>
                        <form action="index.html" class="trial-lesson__content-form">
                            <div class="trial-lesson__content-form-box">
                                <div class="trial-lesson__content-form-box-select arrow">
                                    <p>
                                        Английский язык
                                    </p>
                                </div>
                                <div class="trial-lesson__content-form-box-selects">
                                    <div class="trial-lesson__content-form-box-selects-block arrow">
                                        <label for="select-block-13" class="trial-lesson__content-form-box-selects-block-label">Английский язык</label>
                                        <input id="select-block-13" type="radio" class="trial-lesson__content-form-box-selects-block-input">
                                    </div>
                                    <div class="trial-lesson__content-form-box-selects-block arrow">
                                        <label for="select-block-14" class="trial-lesson__content-form-box-selects-block-label">Французский язык</label>
                                        <input id="select-block-14" type="radio" class="trial-lesson__content-form-box-selects-block-input">
                                    </div>
                                    <div class="trial-lesson__content-form-box-selects-block arrow">
                                        <label for="select-block-15" class="trial-lesson__content-form-box-selects-block-label">Немецкий язык</label>
                                        <input id="select-block-15" type="radio" class="trial-lesson__content-form-box-selects-block-input">
                                    </div>
                                    <div class="trial-lesson__content-form-box-selects-block arrow">
                                        <label for="select-block-16" class="trial-lesson__content-form-box-selects-block-label">Испанский язык</label>
                                        <input id="select-block-16" type="radio" class="trial-lesson__content-form-box-selects-block-input">
                                    </div>
                                </div>
                            </div>
                            <div class="trial-lesson__content-form-back-checks">
                                <div class="trial-lesson__content-form-check check-radio-back">
                                    <input id="trial-lesson-radio-online-4" type="radio" name="radio" checked>
                                    <label for="trial-lesson-radio-online-4">Онлайн-занятия</label>
                                </div>
                                <div class="trial-lesson__content-form-check check-radio-back">
                                    <input id="trial-lesson-radio-offline-4" type="radio" name="radio">
                                    <label for="trial-lesson-radio-offline-4">Занятия в клубе</label>
                                </div>
                            </div>
                            <div class="trial-lesson__content-form-back-input block-flex-justify">
                                <input type="text" placeholder="Имя родителя" class="trial-lesson__content-form-input fill-field-input">
                                <input type="tel" placeholder="Телефон" class="trial-lesson__content-form-input fill-field-input">
                            </div>
                            <div class="trial-lesson__content-form-back-input block-flex-justify">
                                <input type="text" placeholder="Имя ребёнка" class="trial-lesson__content-form-input fill-field-input">
                                <input type="tel" placeholder="Возраст ребёнка" class="trial-lesson__content-form-input fill-field-input">
                            </div>
                            <input type="email" placeholder="Почта" class="trial-lesson__content-form-input fill-field-input">
                            <div class="trial-lesson__content-form-back-btn back-btn">
                                <button type="submit" class="trial-lesson__content-form-btn btn">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="trial-lesson__content-back-img">
                <img src="img/common/form/illustration-1.svg" alt="" class="trial-lesson__content-img">
            </div>
        </div>
    </div>
</div>