<div class="what-we-do">
    <div class="container">
        <div class="what-we-do__content">
            <h2 class="what-we-do__content-title header-with-background"><span>Что</span> <span>будем</span> <span>делать</span> <span>мы?</span></h2>
            <div class="what-we-do__content-items block-flex-justify">
                <div class="what-we-do__content-item">
                    <div class="what-we-do__content-item-back-number block-flex-align what-we-do-item-back-number-color-1">
                        <h4 class="what-we-do__content-item-number">1</h4>
                    </div>
                    <div class="what-we-do__content-item-description description-section">
                        <p>
                            сформулируем конкретную цель
                        </p>
                    </div>
                </div>
                <div class="what-we-do__content-item">
                    <div class="what-we-do__content-item-back-number block-flex-align what-we-do-item-back-number-color-2">
                        <h4 class="what-we-do__content-item-number">2</h4>
                    </div>
                    <div class="what-we-do__content-item-description description-section">
                        <p>
                            обозначим срок достижения цели
                        </p>
                    </div>
                </div>
                <div class="what-we-do__content-item">
                    <div class="what-we-do__content-item-back-number block-flex-align what-we-do-item-back-number-color-3">
                        <h4 class="what-we-do__content-item-number">3</h4>
                    </div>
                    <div class="what-we-do__content-item-description description-section">
                        <p>
                            назначим даты чекпоинтов
                        </p>
                    </div>
                </div>
                <div class="what-we-do__content-item">
                    <div class="what-we-do__content-item-back-number block-flex-align what-we-do-item-back-number-color-4">
                        <h4 class="what-we-do__content-item-number">4</h4>
                    </div>
                    <div class="what-we-do__content-item-description description-section">
                        <p>
                            начнём постепенно двигаться к цели
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>