<div class="what-foreign-languages">
    <div class="container">
        <div class="what-foreign-languages__content block-flex-justify-align">
            <div class="what-foreign-languages__content-back-imgs">
                @@for(let img = 0; img < arrImgs.length; img++) {
                    <img src="` + arrImgs[img] + `" alt="" class="what-foreign-languages__content-img">
                }
            </div>
            <div class="what-foreign-languages__content-description">
                <h2 class="what-foreign-languages__content-description header-with-background"><span>Что</span> <span>такое</span> <span>иностранные</span> <span>языки</span> <span>для</span> <span>нас?</span></h2>
                <div class="what-foreign-languages__content-description-items block-flex-justify">
                    <div class="what-foreign-languages__content-description-item">
                        <h4 class="what-foreign-languages__content-description-item-title description-section what-foreign-color-green">Навыки</h4>
                    </div>
                    <div class="what-foreign-languages__content-description-item">
                        <h4 class="what-foreign-languages__content-description-item-title description-section what-foreign-color-red">Культурная среда </h4>
                    </div>
                    <div class="what-foreign-languages__content-description-item">
                        <h4 class="what-foreign-languages__content-description-item-title description-section what-foreign-color-orange">Жизненные ценности</h4>
                    </div>
                    <div class="what-foreign-languages__content-description-item">
                        <h4 class="what-foreign-languages__content-description-item-title description-section what-foreign-color-orange">Знания</h4>
                    </div>
                    <div class="what-foreign-languages__content-description-item">
                        <h4 class="what-foreign-languages__content-description-item-title description-section what-foreign-color-yellow">Языковая среда</h4>
                    </div>
                    <div class="what-foreign-languages__content-description-item">
                        <h4 class="what-foreign-languages__content-description-item-title description-section what-foreign-color-emerald">Дружественная атмосфера</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>