<div class="why-us">
    <div class="container">
        <div class="why-us__content block-flex">
            <div class="why-us__content-description">
                <h2 class="why-us__content-description-title header-with-background"><span>Почему</span> <span>Speaky</span> <span>School?</span></h2>
                <div class="why-us__content-description-text">
                    <p>
                        Ежегодно наши ученики успешно сдают международные экзамены, поступают в престижные российские и европейские учебные заведения. 
                        В нашей школе обучаются дети и родители, школьники и взрослые, бабушки и дедушки!
                    </p>
                </div>
            </div>
            <div class="why-us__content-items block-flex-justify-align">
                <div class="why-us__content-item block-flex-align">
                    <div class="why-us__content-item-back-img">
                        <img src="img/mainPage/whyWe/icon-1.svg" alt="connection" class="why-us__content-item-img">
                    </div>
                    <div class="why-us__content-item-description description-section">
                        <p>
                            Преподаватели – носители языка
                        </p>
                    </div>
                </div>
                <div class="why-us__content-item block-flex-align">
                    <div class="why-us__content-item-back-img">
                        <img src="img/mainPage/whyWe/icon-2.svg" alt="website" class="why-us__content-item-img">
                    </div>
                    <div class="why-us__content-item-description description-section">
                        <p>
                            Все занятия исключительно на выбранном языке
                        </p>
                    </div>
                </div>
                <div class="why-us__content-item block-flex-align">
                    <div class="why-us__content-item-back-img">
                        <img src="img/mainPage/whyWe/icon-3.svg" alt="search" class="why-us__content-item-img">
                    </div>
                    <div class="why-us__content-item-description description-section">
                        <p>
                            Онлайн и офлайн занятия
                        </p>
                    </div>
                </div>
                <div class="why-us__content-item block-flex-align">
                    <div class="why-us__content-item-back-img">
                        <img src="img/mainPage/whyWe/icon-4.svg" alt="online" class="why-us__content-item-img">
                    </div>
                    <div class="why-us__content-item-description description-section">
                        <p>
                            Персональная программа обучения
                        </p>
                    </div>
                </div>
                <div class="why-us__content-item block-flex-align">
                    <div class="why-us__content-item-back-img">
                        <img src="img/mainPage/whyWe/icon-5.svg" alt="weninar" class="why-us__content-item-img">
                    </div>
                    <div class="why-us__content-item-description description-section">
                        <p>
                            Индивидуальные и групповые занятия
                        </p>
                    </div>
                </div>
                <div class="why-us__content-item block-flex-align">
                    <div class="why-us__content-item-back-img">
                        <img src="img/mainPage/whyWe/icon-6.svg" alt="graduate." class="why-us__content-item-img">
                    </div>
                    <div class="why-us__content-item-description description-section">
                        <p>
                            Аккредитация международной организацией Edexel
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>