<div class="your-child">
    <div class="container">
        <div class="your-child__content">
            <h2 class="your-child__content-title header-with-background"><span>Придя</span> <span>к</span> <span>нам,</span> <span>ваш</span> <span>nребёнок:</span></h2>
            <div class="your-child__content-items block-flex-justify">
                <div class="your-child__content-item block-flex-align">
                    <div class="your-child__content-item-back-img">
                        <img src="img/common/iconsTotal/art.svg" alt="art" class="your-child__content-item-img">
                    </div>
                    <div class="your-child__content-item-description description-section">
                        <p>
                            Полностью погрузится в языковую среду, так как все занятия у нас проходят только на изучаемом языке
                        </p>
                    </div>
                </div>
                <div class="your-child__content-item block-flex-align">
                    <div class="your-child__content-item-back-img">
                        <img src="img/common/iconsTotal/elearning.svg" alt="elearning" class="your-child__content-item-img">
                    </div>
                    <div class="your-child__content-item-description description-section">
                        <p>
                            Будет обучаться по персональному образовательному маршруту, выстроенному исходя из его интересов и особенностей
                        </p>
                    </div>
                </div>
                <div class="your-child__content-item block-flex-align">
                    <div class="your-child__content-item-back-img">
                        <img src="img/common/iconsTotal/login.svg" alt="login" class="your-child__content-item-img">
                    </div>
                    <div class="your-child__content-item-description description-section">
                        <p>
                            Сдаст международный экзамен
                        </p>
                    </div>
                </div>
                <div class="your-child__content-item block-flex-align">
                    <div class="your-child__content-item-back-img">
                        <img src="img/common/iconsTotal/desk.svg" alt="desk" class="your-child__content-item-img">
                    </div>
                    <div class="your-child__content-item-description description-section">
                        <p>
                            Выучит язык для живого общения
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>