<div class="company">
	<div class="container">
		<div class="company__content">
			<div class="company__content-items fl just_cont">
				<div class="company__content-item fl al_it">
					<div class="company__content-item-back-img">
						<img src="./img/companyLogo/yandex.svg" alt="Yandex Maps" class="company__content-item-img">
					</div>
					<div class="company__content-item-rating">
						<h6 class="company__content-item-rating-number">4,4</h6>
					</div>
					<a href="#" class="company__content-item-link">
						<span>Посмотреть</span>
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="#check" />
						</svg>
					</a>
				</div>
				<div class="company__content-item fl al_it">
					<div class="company__content-item-back-img">
						<img src="./img/companyLogo/gis.svg" alt="GIS" class="company__content-item-img">
					</div>
					<div class="company__content-item-rating">
						<h6 class="company__content-item-rating-number">4,0</h6>
					</div>
					<a href="#" class="company__content-item-link">
						<span>Посмотреть</span>
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="#check" />
						</svg>
					</a>
				</div>
				<div class="company__content-item fl al_it">
					<div class="company__content-item-back-img">
						<img src="./img/companyLogo/google_maps.svg" alt="Google Maps" class="company__content-item-img">
					</div>
					<div class="company__content-item-rating">
						<h6 class="company__content-item-rating-number">4,0</h6>
					</div>
					<a href="#" class="company__content-item-link">
						<span>Посмотреть</span>
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="#check" />
						</svg>
					</a>
				</div>
				<div class="company__content-item fl al_it">
					<div class="company__content-item-back-img">
						<img src="./img/companyLogo/flamp-complex.svg" alt="Flamp" class="company__content-item-img">
					</div>
					<div class="company__content-item-rating">
						<h6 class="company__content-item-rating-number">4,2</h6>
					</div>
					<a href="#" class="company__content-item-link">
						<span>Посмотреть</span>
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<use xlink:href="#check" />
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>