<div class="designers new-block">
	<div class="container">
		<div class="designers__content">
			<div class="designers__content-description">
				<h2 class="designers__content-description-title">Дизайнеры учтут все нюансы помещения и ответят на вопросы</h2>
				<div class="designers__content-description-wrapper fl">
					<div class="designers__content-description-back-img">
						<img src="./img/blocks/roomNuances.jpg" alt="room nuances" class="designers__content-description-img">
					</div>
					<div class="designers__content-description-items">
						<div class="designers__content-description-item">
							<div class="designers__content-description-item-text underline-text">
								<p>
									В шоу-руме на ул. Белинского, 169Б поможем определиться с материалами, фурнитурой и текстурами.
								</p>
							</div>
						</div>
						<div class="designers__content-description-item">
							<div class="designers__content-description-item-text underline-text">
								<p>
									Предложим лучшие варианты организации пространства, учитывая все ваши пожелания.
								</p>
							</div>
						</div>
						<div class="designers__content-description-item">
							<div class="designers__content-description-item-text">
								<p>
									Предоставим 3D-эскиз будущего изделия или всего помещения.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="designers__content-items fl just_cont">
				<div class="designers__content-item">
					<div class="designers__content-item-back-img fl">
						<img src="./img/designers/designer_1.png" alt="designer 1" class="designers__content-item-img">
					</div>
					<h6 class="designers__content-item-name">Вера</h6>
					<a href="#" class="designers__content-item-link">Посмотреть работы</a>
				</div>
				<div class="designers__content-item">
					<div class="designers__content-item-back-img fl">
						<img src="./img/designers/designer_2.png" alt="designer 2" class="designers__content-item-img">
					</div>
					<h6 class="designers__content-item-name">Марина</h6>
					<a href="#" class="designers__content-item-link">Посмотреть работы</a>
				</div>
				<div class="designers__content-item">
					<div class="designers__content-item-back-img fl">
						<img src="./img/designers/designer_3.png" alt="designer 3" class="designers__content-item-img">
					</div>
					<h6 class="designers__content-item-name">Дарья</h6>
					<a href="#" class="designers__content-item-link">Посмотреть работы</a>
				</div>
				<div class="designers__content-item">
					<div class="designers__content-item-back-img fl">
						<img src="./img/designers/designer_4.png" alt="designer 4" class="designers__content-item-img">
					</div>
					<h6 class="designers__content-item-name">Наталья</h6>
					<a href="#" class="designers__content-item-link">Посмотреть работы</a>
				</div>
			</div>
		</div>
	</div>
</div>