<div class="designers new-block">
	<div class="container">
		<div class="designers__content">
			@@include("../blocks/designers/description.html")
			<div class="designers__content-items fl just_cont">
				<div class="designers__content-item">
					<div class="designers__content-item-back-img fl">
						<img src="./img/designers/designer_1.jpg" alt="designer 1" class="designers__content-item-img">
					</div>
					<h6 class="designers__content-item-name">Вера</h6>
					<a href="./designers.html" class="designers__content-item-link">Посмотреть работы</a>
				</div>
				<div class="designers__content-item">
					<div class="designers__content-item-back-img fl">
						<img src="./img/designers/designer_2.jpg" alt="designer 2" class="designers__content-item-img">
					</div>
					<h6 class="designers__content-item-name">Марина</h6>
					<a href="./designers.html" class="designers__content-item-link">Посмотреть работы</a>
				</div>
				<div class="designers__content-item">
					<div class="designers__content-item-back-img fl">
						<img src="./img/designers/designer_3.jpg" alt="designer 3" class="designers__content-item-img">
					</div>
					<h6 class="designers__content-item-name">Дарья</h6>
					<a href="./designers.html" class="designers__content-item-link">Посмотреть работы</a>
				</div>
				<div class="designers__content-item">
					<div class="designers__content-item-back-img fl">
						<img src="./img/designers/designer_4.jpg" alt="designer 4" class="designers__content-item-img">
					</div>
					<h6 class="designers__content-item-name">Наталья</h6>
					<a href="./designers.html" class="designers__content-item-link">Посмотреть работы</a>
				</div>
			</div>
		</div>
	</div>
</div>