<div class="dream-interior new-block">
	<div class="container">
		<div class="dream-interior__content">
			<h2 class="dream-interior__content-title">5 шагов до интерьера вашей мечты</h2>
			<div class="dream-interior__content-items fl just_cont">
				<div class="dream-interior__content-item">
					<h4 class="dream-interior__content-item-number fl al_it">
						<span>1</span>
					</h4>
					<div class="dream-interior__content-item-description">
						<h3 class="dream-interior__content-item-description-title">Замер, договор и предоплата 50%</h3>
						<div class="dream-interior__content-item-description-text">
							<p>
								от 30 минут и до суток
							</p>
						</div>
					</div>
				</div>
				<div class="dream-interior__content-item">
					<h4 class="dream-interior__content-item-number fl al_it">
						<span>2</span>
					</h4>
					<div class="dream-interior__content-item-description">
						<h3 class="dream-interior__content-item-description-title">Дизайн-проект и чертежи</h3>
						<div class="dream-interior__content-item-description-text">
							<p>
								от суток до 3 дней
							</p>
						</div>
					</div>
				</div>
				<div class="dream-interior__content-item">
					<h4 class="dream-interior__content-item-number fl al_it">
						<span>3</span>
					</h4>
					<div class="dream-interior__content-item-description">
						<h3 class="dream-interior__content-item-description-title">Производство мебели</h3>
						<div class="dream-interior__content-item-description-text">
							<p>
								10-40 рабочих дней
							</p>
						</div>
					</div>
				</div>
				<div class="dream-interior__content-item">
					<h4 class="dream-interior__content-item-number fl al_it">
						<span>4</span>
					</h4>
					<div class="dream-interior__content-item-description">
						<h3 class="dream-interior__content-item-description-title">Оплата 50% и установка мебели </h3>
						<div class="dream-interior__content-item-description-text">
							<p>
								от 1 рабочего дня
							</p>
						</div>
					</div>
				</div>
				<div class="dream-interior__content-item">
					<h4 class="dream-interior__content-item-number fl al_it">
						<span>5</span>
					</h4>
					<div class="dream-interior__content-item-description">
						<h3 class="dream-interior__content-item-description-title">Гарантия и сервис</h3>
						<div class="dream-interior__content-item-description-text">
							<p>
								в течение 12 месяцев
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>