<div class="exact-dates new-block">
	<div class="container">
		<div class="exact-dates__wrapper">
			<div class="exact-dates__container">
				<div class="exact-dates__content fl just_cont">
					<div class="exact-dates__content-description">
						<h2 class="exact-dates__content-description-title">Узнайте точные сроки и стоимость</h2>
						<div class="exact-dates__content-description-text">
							<p>
								Запишитесь на замер или отправьте нам готовый дизайн-проект.
							</p>
						</div>
					</div>
					<div class="exact-dates__content-links">
						<a href="#" class="exact-dates__content-link fl al_it">
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<use xlink:href="#whatsapp" /></svg>
							<span>Написать в whatsapp</span>
						</a>
						<a href="#" class="exact-dates__content-link fl al_it">
							<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<use xlink:href="#telegram" />
							</svg>
							<span>Написать в telegram</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>