<footer class="footer">
	<div class="container">
		<div class="footer__content fl">
			<div class="footer__content-back-logo">
				<img src="img/logo/logo.svg" alt="logo" class="footer__content-logo">
			</div>
			<div class="footer__content-items fl">
				<div class="footer__content-items-wrapper fl">
					<div class="footer__content-item">
						<h4 class="footer__content-item-title">Каталог мебели</h4>
						<div class="footer__content-item-links fl">
							<a href="#" class="footer__content-item-link">Каталог материалов</a>
							<a href="#" class="footer__content-item-link">Акции</a>
						</div>
					</div>
					<div class="footer__content-item">
						<h4 class="footer__content-item-title">О нас</h4>
						<div class="footer__content-item-links fl">
							<a href="#" class="footer__content-item-link">Гарантия</a>
							<a href="./designers.html" class="footer__content-item-link">Дизайнеры</a>
							<a href="./contacts.html" class="footer__content-item-link">Контакты</a>
						</div>
					</div>
				</div>
				<div class="footer__content-items-wrapper fl">
					<div class="footer__content-item">
						<h4 class="footer__content-item-title">Услуги</h4>
						<div class="footer__content-item-links fl">
							<a href="#" class="footer__content-item-link">Мебель в кредит</a>
							<a href="#" class="footer__content-item-link">Мебель в рассрочку</a>
							<a href="#" class="footer__content-item-link">3D визуализация</a>
						</div>
					</div>
					<div class="footer__content-item">
						<h4 class="footer__content-item-title">Порфтолио</h4>
						<div class="footer__content-item-links fl">
							<a href="#" class="footer__content-item-link">По категориям</a>
							<a href="#" class="footer__content-item-link">По стилям дизайна</a>
							<a href="#" class="footer__content-item-link">По реализованным проектам</a>
						</div>
					</div>
					<div class="footer__content-item">
						<h4 class="footer__content-item-title">Полезно</h4>
						<div class="footer__content-item-links fl">
							<a href="#" class="footer__content-item-link">Замеры помещения</a>
							<a href="#" class="footer__content-item-link">Подготовка к монтажу</a>
							<a href="#" class="footer__content-item-link">Уход за мебелью</a>
							<a href="#" class="footer__content-item-link">Сертификита<br>материалов</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>