<div class="intro-features">
	<div class="container">
		<div class="intro-features__content">
			<div class="intro-features__content-items fl just_cont">
				<div class="intro-features__content-item">
					<h3 class="intro-features__content-item-title">Оказываем комплекс услуг</h3>
					<div class="intro-features__content-item-description">
						<p class="underline-text">
							Создаем дизайн-проект, производим и устанавливаем мебель.
						</p>
					</div>
				</div>
				<div class="intro-features__content-item">
					<h3 class="intro-features__content-item-title">Разумные сроки изготовления</h3>
					<div class="intro-features__content-item-description">
						<p class="underline-text">
							От 10 до 40 рабочих дней. Зависит от наличия материалов на производстве.
						</p>
					</div>
				</div>
				<div class="intro-features__content-item">
					<h3 class="intro-features__content-item-title">Проекты любой сложности</h3>
					<div class="intro-features__content-item-description">
						<p class="underline-text">
							Благодаря высокой квалификации  мастеров производства и дизайнеров.
						</p>
					</div>
				</div>
				<div class="intro-features__content-item">
					<h3 class="intro-features__content-item-title">Качественные материалы</h3>
					<div class="intro-features__content-item-description">
						<p class="underline-text">
							Используем только прочные, проверенные годами материалы.
						</p>
					</div>
				</div>
				<div class="intro-features__content-item">
					<h3 class="intro-features__content-item-title">Мы за честные цены</h3>
					<div class="intro-features__content-item-description">
						<p class="underline-text">
							Не накручиваем торговую наценку, благодаря собственному производству.
						</p>
					</div>
				</div>
				<div class="intro-features__content-item">
					<h3 class="intro-features__content-item-title">Реализуем любую вашу идею</h3>
					<div class="intro-features__content-item-description">
						<p class="underline-text">
							У нас более 100 000 материалов, цветов и текстур.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>