<div class="your-project new-block">
	<div class="container">
		<div class="your-project__content">
			<h2 class="your-project__content-title">Ваш проект в надежных руках — Посмотрите отзывы и убедитесь в этом сами </h2>
			<div class="your-project__content-wrapper">
				<div class="your-project__content-items">
					<div class="your-project__content-item fl al_it just_cont">
						<div class="your-project__content-item-back-video">
							<iframe width="580" height="280" src="https://www.youtube.com/embed/tCECsNRNqd0" style="border: none"></iframe>
						</div>
						<div class="your-project__content-item-description fl">
							<h3 class="your-project__content-item-description-quote">
								Здесь продающая/закрывающая сомнения цитата из видео. Здесь продающая/закрывающая сомнения цитата из видео.
							</h3>
							<div class="your-project__content-item-description-text">
								<p>
									Тут небольшой текст о заказчиках и что мы для них делали.
								</p>
							</div>
						</div>
					</div>
					<div class="your-project__content-item fl al_it just_cont">
						<div class="your-project__content-item-description fl">
							<h3 class="your-project__content-item-description-quote">
								Здесь продающая/закрывающая сомнения цитата из видео. Здесь продающая/закрывающая сомнения цитата из видео.
							</h3>
							<div class="your-project__content-item-description-text">
								<p>
									Тут небольшой текст о заказчиках и что мы для них делали.
								</p>
							</div>
						</div>
						<div class="your-project__content-item-back-video">
							<iframe width="580" height="280" src="https://www.youtube.com/embed/tCECsNRNqd0" style="border: none"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>