.container {
	max-width: $width-container + 40 + px;
	padding: 0 20px;
	margin: 0 auto;
}


.fl {
	display: flex;
}
.al_it {
	align-items: center;
}
.just_cont {
	justify-content: space-between;
}


.button {
	background-color: $secondary-color-1;
	color: $white-color;
	padding: 18px 10px;
	border: 1px solid $secondary-color-1;
	text-transform: uppercase;
	letter-spacing: 1px;

	transition: background-color $animate ease, color $animate ease;

	&:hover {
		background-color: $white-color;
		color: $secondary-color-1
	}
}


.form-input {
	padding: 16px 25px;
	max-width: 280px;
	margin-bottom: 15px;
	border: 1px solid transparent;

	transition: border $animate;

	&:focus {
		border: 1px solid $secondary-color-1;
	}
}


.new-block {
	margin-top: 130px;

	@media (max-width: 768px) {
		margin-top: 90px;
	}
}


.underline-text {
	position: relative;

	&::after {
		position: absolute;
		content: "";
		width: 47%;
		height: 1px;
		background-color: $secondary-color-1;
		left: 0;
		bottom: -10px;
	}
}


.back-img-demonstration {

	@media (max-width: 800px) {
		height: 200px;
		position: relative;
		overflow: hidden;

		img {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 300px;
			max-width: 100%;
		}
	}
}