.designers {

	&__content {

		&-description {

			&-title {
				max-width: 800px;
			}

			&-wrapper {
				margin-top: 60px;
			}

			&-back-img {
				margin-right: 40px;
			}

			&-img {
				width: 100%;
				max-width: 560px;
			}

			&-items {
				max-width: 47%;
			}

			&-item {
				margin-bottom: 26px;
				max-width: 81%;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&-items {
			margin-top: 70px;
		}

		&-item {
			padding: 35px 50px;
			background-color: $back-color-1;
			cursor: pointer;

			&:hover {

				.designers__content-item-link {
					color: $secondary-color-1;
					border-bottom: 1px solid $secondary-color-1;
				}
			}

			&-img {
				width: 160px;
				height: 160px;
				border-radius: 50%;
			}

			&-name {
				text-align: center;
				font-size: 18px;
				line-height: 24px;
				font-weight: 500;

				margin-top: 32px;
				margin-bottom: 25px;
			}

			&-link {
				color: $primary-color-1;
				border-bottom: 1px solid $primary-color-1;
				transition: all $animate;
			}
		}
	}
}