.dream-interior {

	&__content {

		&-items {
			margin-top: 50px;
		}

		&-item {
			max-width: 17%;

			&-number {
				position: relative;
				color: $white-color;
				font-size: 26px;
				line-height: 34/24 * 100%;
				line-height: 34px;
				font-family: "Inter", sans-serif;

				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-color: $primary-color-1;

				justify-content: center;

				&::before {
					position: absolute;
					content: "";
					height: 1px;
					width: 200px;
					background-color: $primary-color-1;
					right: -200px;
					top: 50%;
					transform: translateY(-50%);
					z-index: -1;
				}
			}

			&:last-child {

				.dream-interior__content-item-number {
					&::before {
						display: none;
					}
				}
			}

			&-description {

				&-title {
					margin-top: 20px;
				}

				&-text {
					margin-top: 10px;
				}
			}
		}
	}

	@media (max-width: 1030px) {

		&__content {

			&-item {

				&-number {

					&::before {
						width: 150px;
						right: -150px;
					}
				}
			}
		}
	}

	@media (max-width: 860px) {

		&__content {

			&-items {
				flex-direction: column;
			}

			&-item {
				max-width: 100%;
				display: flex;
				align-items: center;
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}

				&-number {
					margin-right: 30px;

					&::before {
						width: 1px;
						height: 50px;
						right: auto;
						transform: none;
						top: 100%;
					}
				}

				&-description {

					&-title {
						margin-top: 0;
					}

					&-text {
						margin-top: 6px;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {

		&__content {

			&-item {

				&-number {
					width: 50px;
					height: 50px;
					font-size: 22px;
				}
			}
		}
	}

	@media (max-width: 420px) {

		&__content {

			&-item {

				&-number {
					width: 44px;
					height: 44px;
					font-size: 18px;
				}
			}
		}
	}
}