.exact-dates {

	&__wrapper {
		background-color: $primary-color-1;
		max-width: $width-container + 40 + px;
		padding: 0 20px;
	}

	&__container {
		max-width: 900px;
		margin: 0 auto;
	}

	&__content {
		color: $white-color;
		padding: 70px 0;

		&-description {
			position: relative;
			max-width: 50%;

			&::after {
				position: absolute;
				content: "";
				background-image: url("../img/icons/arrow.svg");
				width: 155px;
				height: 23px;
				right: -14%;
				bottom: 2px;
			}

			&-text {
				margin-top: 22px;
				max-width: 65%;
			}
		}

		&-link {
			color: $primary-color-1;
			text-transform: uppercase;
			line-height: 1;

			padding: 16px 32px;
			background-color: $white-color;
			margin-bottom: 26px;

			transition: background-color $animate ease, color $animate ease;

			&:last-child {
				margin-bottom: 0;
			}

			&:hover {
				color: $white-color;
				background-color: $secondary-color-1;
			}

			span {
				margin-left: 12px;
			}
		}
	}

	@media (max-width: 870px) {

		&__content {

			&-description {
				max-width: 54%;

				&::after {
					right: -7%;
				}
			}
		}
	}

	@media (max-width: 810px) {

		&__content {
			flex-direction: column;
			padding: 50px 10px;

			&-description {
				max-width: 70%;

				&::after {
					background-image: url("../img/icons/arrow-2.svg");
					width: 66px;
					height: 100px;
					right: 5px;
					bottom: -30px;
				}
			}

			&-links {
				margin-top: 36px;
				display: flex;
				flex-direction: column;
			}

			&-link {
				max-width: 300px;
			}
		}
	}

	@media (max-width: 700px) {

		&__content {

			&-description {
				max-width: 85%;
			}
		}
	}

	@media (max-width: 560px) {

		&__content {

			&-description {
				max-width: 100%;
			}
		}
	}

	@media (max-width: 480px) {

		&__content {

			&-description {

				&::after {
					transform: rotate(-22deg) scale(0.75);
					bottom: -25px;
				}
			}
		}
	}
}