.footer {
	margin: 50px 0 45px 0;

	&__content {

		&-back-logo {
			margin-right: 60px;
		}

		&-item {
			margin-right: 40px;

			&:nth-child(2) {
				margin-right: 100px;
			}

			&:last-child {
				margin-right: 0;
			}

			&-title {
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				margin-bottom: 16px;
			}

			&-links {
				flex-direction: column;
			}

			&-title-link {
				font-family: "Helvetica Neue Cyr", sans-serif;
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
				margin-bottom: 16px;
			}

			&-link {
				font-size: 14px;
				color: $primary-color-1;

				margin-bottom: 16px;

				transition: color $animate;

				&:hover {
					color: $secondary-color-1;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (max-width: 1020px) {
		&__content {

			&-back-logo {
				margin-right: 30px;
			}

			&-item {
				margin-right: 20px;

				&:nth-child(2) {
					margin-right: 20px;
				}
			}
		}
	}

	@media (max-width: 890px) {
		&__content {

			&-back-logo {
				margin-right: 0;
			}
		}
	}

	@media (max-width: 830px) {
		margin-bottom: 10px;

		&__content {

			&-items {
				flex-wrap: wrap;
				justify-content: space-around;
			}

			&-item {
				max-width: 30%;
				margin-bottom: 32px;

				&:nth-child(5) {
					width: 100%;
				}
			}
		}
	}

	@media (max-width: 480px) {

		&__content {

			&-items {
				column-gap: 5%;
			}

			&-item {
				margin: 0 0 30px 0;

				&:nth-child(2) {
					margin-right: 0;
				}
			}
		}
	}

	@media (max-width: 430px) {

		&__content {

			&-item {
				max-width: inherit;
				width: 40%;

				&:nth-child(5) {
					width: 40%;
				}
			}
		}
	}
}