.header {
	padding: 35px 0;

	&__content {

		&-logo {
			margin-right: 20px;
		}

		&-title {
			font-size: 14px;
			font-weight: 400;
			line-height: 130%;
		}

		&-locations {

			&-item {
				margin-right: 60px;

				&:last-child {
					margin-right: 0;
				}

				&-title {
					color: $secondary-color-2;
					font-size: 14px;
					font-weight: 400;
					line-height: 1;
					margin-bottom: 10px;
				}

				&-link {
					color: $primary-color-1;
					line-height: 110%;

					transition: color $animate;

					&:hover {
						color: $black-color;
					}
				}

				&-description {

					p {
						flex-direction: column;
					}
				}
			}
		}

		&-social {

			&-items {
				margin-right: 30px;
			}

			&-item {
				margin-right: 24px;

				&:last-child {
					margin-right: 0;
				}

				&-link {

					svg {
						transition: opacity $animate ease;
					}

					&:hover {

						svg {
							opacity: 0.7;
						}
					}
				}
			}

			&-phone {

				&-link {
					font-weight: 500;
					font-size: 22px;
					line-height: 130%;
					color: $primary-color-1;

					transition: color $animate;

					&:hover {
						color: $black-color;
					}
				}
			}
		}
	}
}