.header {
	padding: 35px 0;

	&__content {

		&-logo {
			margin-right: 20px;
		}

		&-title {
			font-size: 14px;
			font-weight: 400;
			line-height: 130%;
		}

		&-locations {

			&-items {
				display: flex;
			}

			&-item {
				margin-right: 60px;

				&:last-child {
					margin-right: 0;
				}

				&-title {
					color: $secondary-color-2;
					font-size: 14px;
					font-weight: 400;
					line-height: 1;
					margin-bottom: 10px;
				}

				&-link {
					color: $primary-color-1;
					line-height: 110%;

					transition: color $animate;

					&:hover {
						color: $secondary-color-1;
					}
				}

				&-description {

					p {
						flex-direction: column;
					}
				}
			}
		}

		&-social {

			&-items {
				margin-right: 30px;
			}

			&-item {
				margin-right: 24px;

				&:last-child {
					margin-right: 0;
				}

				&-link {

					svg {
						transition: opacity $animate ease;
					}

					&:hover {

						svg {
							opacity: 0.7;
						}
					}
				}
			}

			&-phone {

				&-link {
					font-weight: 500;
					font-size: 22px;
					line-height: 130%;
					color: $primary-color-1;

					transition: color $animate;

					&:hover {
						color: $secondary-color-1;
					}
				}
			}
		}

		&-back-btn-menu {
			display: none;
		}

		&-btn-menu {
			padding: 12px 4px;

			span {
				font-size: 0;
				color: transparent;
				display: block;
				width: 26px;
				height: 2px;
				background-color: $primary-color-1;

				position: relative;

				&::before,
				&::after {
					position: absolute;
					content: "";
					width: 100%;
					height: 2px;
					background-color: $primary-color-1;
					left: 0;
				}

				&::before {
					top: -6px;
				}

				&::after {
					bottom: -6px;
				}
			}
		}
	}

	@media (max-width: 1020px) {

		&__content {

			&-title {
				display: none;
			}

			&-locations-item {
				margin-right: 0;

				&:last-child {
					display: none;
				}
			}

			&-back-btn-menu {
				display: flex;
			}
		}
	}

	@media (max-width: 680px) {

		&__content {

			&-back-logo {
				flex-grow: 1;
			}

			&-locations {
				display: none;
			}

			&-social {

				&-items {
					order: 1;
				}

				&-phones {
					margin-right: 15px;
				}

				&-phone {

					&:last-child {
						display: none;
					}
				}
			}
		}
	}

	@media (max-width: 530px) {

		&__content {

			&-social {

				&-phone {

					&-link {
						font-size: 18px;
						line-height: 18px;
					}
				}
			}
		}
	}

	@media (max-width: 480px) {

		&__content {

			&-logo {
				width: 90px;
				height: 54px;
			}
		}
	}
}