.header {
	padding: 35px 0;

	&__content {

		&-logo {
			margin-right: 20px;
		}

		&-title {
			font-size: 14px;
			font-weight: 400;
			line-height: 130%;
		}

		&-locations {

			&-item {
				margin-right: 60px;

				&:last-child {
					margin-right: 0;
				}

				&-title {
					color: $secondary-color-2;
					font-size: 14px;
					font-weight: 400;
					line-height: 1;
					margin-bottom: 10px;
				}

				&-link {
					color: $primary-color-1;
					line-height: 110%;

					transition: color $animate;

					&:hover {
						color: $black-color;
					}
				}

				&-description {

					p {
						flex-direction: column;
					}
				}
			}
		}

		&-social {

			&-items {
				margin-right: 30px;
			}

			&-item {
				margin-right: 24px;

				&:last-child {
					margin-right: 0;
				}

				&-link {

					svg {
						transition: opacity $animate ease;
					}

					&:hover {

						svg {
							opacity: 0.7;
						}
					}
				}
			}

			&-phone {

				&-link {
					font-weight: 500;
					font-size: 22px;
					line-height: 130%;
					color: $primary-color-1;

					transition: color $animate;

					&:hover {
						color: $black-color;
					}
				}
			}
		}
	}

	&__nav {
		margin-top: 38px;
		background-color: $primary-color-1;

		&-container {
			max-width: 820px;
			margin: 0 auto;
			padding: 14px 10px;
		}

		&-items {

		}

		&-item {
			position: relative;

			&-link {
				color: $white-color;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 18px;

				position: relative;

				&::after {
					position: absolute;
					content: "";
					left: 0;
					bottom: -2px;
					width: 0;
					height: 1px;
					background-color: $white-color;
					transition: all $animate;
				}

				&:hover {

					&::after {
						width: 100%;
					}
				}
			}

			&-button {
				color: $white-color;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 18px;

				position: relative;

				&::before {
					position: absolute;
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 4px 0 4px;
					border-color: $white-color transparent transparent transparent;
					right: -18px;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			&-menu {
				position: absolute;
				top: 30px;
				left: -20px;
				width: 235px;
				background-color: $primary-color-1;

				visibility: hidden;
				padding: 10px 20px 20px;

				z-index: 20;

				&.nav-item-menu-active {
					visibility: visible;
					height: auto;
				}

				&-content {
					flex-direction: column;

					&-link {
						color: $white-color;
						margin-bottom: 12px;

						&:last-child {
							margin-bottom: 0;
						}

						span {
							position: relative;

							&::after {
								position: absolute;
								content: "";
								left: 0;
								bottom: -2px;
								width: 0;
								height: 1px;
								background-color: $white-color;
								transition: all $animate;
							}
						}

						&:hover {
							span {
								&::after {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}

	&__nav-mobile {

	}
}