.intro-features {
	margin-top: 64px;

	&__content {

		&-items {
			flex-wrap: wrap;
		}

		&-item {
			max-width: 30%;

			&-description {
				margin-top: 10px;

				.underline-text {
					&::after {
						width: 100%;
						bottom: -24px;
					}
				}
			}

			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {

				.intro-features__content-item-description {
					.underline-text {
						&::after {
							display: none;
						}
					}
				}
			}
		}

		&-item + &-item {
			margin-bottom: 60px;
		}
	}

	@media (max-width: 850px) {

		&__content {

			&-item {
				max-width: 45%;

				&:nth-child(4) {
					.intro-features__content-item-description {
						.underline-text {
							&::after {
								display: block;
							}
						}
					}
				}
			}
		}
	}
}