.specialist-consultation {

	&__content {

		&-description {
			max-width: 46%;

			&-text {
				line-height: 24px;
				margin-top: 58px;
			}

			&-items {
				margin-top: 20px;
			}

			&-item {
				flex-direction: column;
				margin-right: 90px;

				&:last-child {
					margin-right: 0;
				}

				&-link {
					color: $primary-color-1;
					transition: color $animate;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}

					&.specialist-consultation-link-phone {
						font-weight: 500;
						font-size: 22px;
						line-height: 28px;
					}

					&:hover {
						color: $black-color;
					}
				}

				&-social {
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}

					&-link {
						color: $primary-color-1;

						transition: color $animate;

						span {
							position: relative;
							margin-left: 12px;

							&::after {
								position: absolute;
								content: "";
								left: 0;
								bottom: -4px;
								width: 100%;
								height: 1px;
								background-color: $primary-color-1;
								transition: background-color $animate;
							}
						}

						&:hover {
							color: $black-color;

							span {
								&::after {
									background-color: $black-color;
								}
							}
						}
					}
				}
			}
		}

		&-back-form {
			margin-left: 60px;
		}

		&-form {
			flex-direction: column;
			max-width: 71%;
			padding: 50px 60px;
			background-color: $back-color-1;

			&-description {
				margin-top: 20px;
				color: $secondary-color-2;

				p {
					line-height: 16px;
					font-size: 12px;
				}
			}
		}
	}
}