.specialist-consultation {

	&__content {

		&-title {
			max-width: 600px;
		}

		&-description {
			max-width: 47%;
			margin-right: 60px;

			&-text {
				line-height: 24px;
				margin-top: 58px;
			}

			&-items {
				margin-top: 20px;
			}

			&-item {
				flex-direction: column;
				margin-right: 90px;

				&:last-child {
					margin-right: 0;
				}

				&-link {
					color: $primary-color-1;
					transition: color $animate;
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}

					&.specialist-consultation-link-phone {
						font-weight: 500;
						font-size: 22px;
						line-height: 28px;
					}

					&:hover {
						color: $secondary-color-1;
					}
				}

				&-social {
					margin-bottom: 16px;

					&:last-child {
						margin-bottom: 0;
					}

					&-link {
						color: $primary-color-1;

						transition: color $animate;

						span {
							position: relative;
							margin-left: 12px;

							&::after {
								position: absolute;
								content: "";
								left: 0;
								bottom: -4px;
								width: 100%;
								height: 1px;
								background-color: $primary-color-1;
								transition: background-color $animate;
							}
						}

						&:hover {
							color: $secondary-color-1;

							span {
								&::after {
									background-color: $secondary-color-1;
								}
							}
						}
					}
				}
			}
		}

		&-back-form {
			max-width: 400px;
		}

		&-form {
			flex-direction: column;
			padding: 50px 60px;
			background-color: $back-color-1;

			&-input {
				max-width: 100%;
			}

			&-description {
				margin-top: 20px;
				color: $secondary-color-2;

				p {
					line-height: 16px;
					font-size: 12px;
				}
			}
		}
	}

	@media (max-width: 1040px) {

		&__content {

			&-description {
				max-width: 100%;
				margin-right: 30px;
			}
		}
	}

	@media (max-width: 930px) {

		&__content {

			&-wrapper {
				justify-content: space-between;
			}

			&-back-form {
				// width: 50%;
			}

			&-form {
				padding: 40px 30px;
			}
		}
	}

	@media (max-width: 890px) {

		&__content {

			&-wrapper {
				margin-top: 50px;
			}

			&-description {

				&-text {
					margin-top: 0;
				}

				&-items {
					flex-direction: column;
				}

				&-item {
					margin-right: 0;
					margin-bottom: 30px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&-back-form {
				max-width: 300px;
			}
		}
	}

	@media (max-width: 570px) {

		&__content {

			&-wrapper {
				flex-direction: column;
			}

			&-description {

				&-items {
					flex-direction: row;
					justify-content: space-between;
				}
			}

			&-back-form {
				max-width: 100%;
			}
		}
	}
}