.visit-showroom {
	background-color: $primary-color-1;
	color: $white-color;

	&__container {
		max-width: $width-container + 40 + px;
		margin: 0 auto;
		padding: 0 20px;
	}

	&__content {

		&-description {

			&-title {
				text-transform: uppercase;
			}

			&-items {
				margin-top: 30px;
			}

			&-item {

				&-back-img {
					margin-right: 20px;
				}

				&-link {
					color: $white-color;
					line-height: 24px;

					transition: color $animate;

					&:hover {
						color: $secondary-color-1;
					}
				}

				&-text {

					p {
						flex-direction: column;

						span {
							line-height: 150%;
						}
					}
				}
			}

			&-social {
				margin-top: 38px;

				&-items {
					margin-top: 30px;
				}

				&-item {

					&-link {
						color: $white-color;

						transition: color $animate;

						span {
							margin-left: 15px;
							position: relative;

							&::after {
								position: absolute;
								content: "";
								width: 100%;
								height: 1px;
								background-color: $white-color;
								left: 0;
								bottom: -4px;

								transition: background-color $animate;
							}
						}

						&:hover {
							color: $secondary-color-1;

							span {

								&::after {
									background-color: $secondary-color-1;
								}
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 1140px) {

		&__content {

			&-back-maps {

				iframe {
					width: 500px;
				}
			}
		}
	}

	@media (max-width: 1030px) {

		&__content {

			&-back-maps {

				iframe {
					width: 400px;
					height: 330px;
				}
			}
		}
	}

	@media (max-width: 930px) {

		&__container {
			padding: 0;
		}

		&__content {
			align-items: normal;
			flex-direction: column;

			&-description {
				padding: 50px 20px 50px 70px;

				&-items {
					justify-content: start;
				}

				&-item {
					margin-right: 60px;

					&:last-child {
						margin-right: 0;
					}
				}

				&-social {

					&-items {
						justify-content: start;
					}

				&-item {
					margin-right: 70px;

					&:last-child {
						margin-right: 0;
					}
				}
				}
			}

			&-back-maps {

				iframe {
					width: 100%;
					height: 350px;
				}
			}
		}
	}

	@media (max-width: 610px) {

		&__content {

			&-description {
				padding: 46px 38px;

				&-item {
					margin-right: 30px;
				}

				&-social {

					&-item {
						margin-right: 30px;

						&-link {

							svg {
								width: 30px;
								height: 30px;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 520px) {

		&__content {

			&-description {

				&-items {
					flex-direction: column;
				}

				&-item {
					margin-bottom: 12px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&-social {

					&-items {
						flex-direction: column;
					}

					&-item {
						margin-bottom: 12px;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}
