.your-project {

	&__content {

		&-title {
			max-width: 670px;
		}

		&-items {
			margin-top: 70px;
		}

		&-item {
			margin-bottom: 70px;

			&:last-child {
				margin-bottom: 0;
			}

			&-description {
				flex-direction: column;
				justify-content: center;

				padding: 20px;

				&-quote {
					position: relative;
					max-width: 360px;
					padding-left: 40px;
					margin: 0 auto;

					&::before {
						position: absolute;
						content: "";
						height: 1px;
						width: 60px;
						background-color: $secondary-color-1;
						top: 12px;
						left: -40px;
					}

				}

				&-text {
					margin-top: 60px;
				}
			}
		}
	}

	@media (max-width: 1120px) {

		&__content {

			&-item {

				&-back-video {
					iframe {
						width: 500px;
					}
				}
			}
		}
	}

	@media (max-width: 1000px) {

		&__content {

			&-item {

				&-back-video {
					iframe {
						width: 400px;
						height: 210px;
					}
				}
			}
		}
	}

	@media (max-width: 910px) {

		&__content {

			&-item {

				&-description {

					&-quote {

						&::before {
							left: -30px;
						}
					}
				}

				&-back-video {

					iframe {
						width: 300px;
						height: 170px;
					}
				}
			}
		}
	}

	@media (max-width: 800px) {

		&__content {

			&-item {
				flex-direction: column;
				align-items: normal;

				&-description {
					order: -1;

					&-quote {
						max-width: 100%;
						padding: 0;

						&::before {
							left: 0;
							top: -20px;
						}
					}

					&-text {
						margin-top: 20px;
					}
				}

				&-back-video {

					iframe {
						width: 100%;
						height: 300px;
					}
				}
			}
		}
	}
}