<div class="reviews__content-slider-slide fl slide">
	<div class="reviews__content-slider-slide-info fl al_it">
		<div class="reviews__content-slider-slide-info-back-img fl">
			<img src="@@pathImg" alt="man" class="reviews__content-slider-slide-info-img">
		</div>
		<div class="reviews__content-slider-slide-info-description fl just_cont">
			<h3 class="reviews__content-slider-slide-info-description-title">@@name</h3>
			<div class="reviews__content-slider-slide-info-description-time">@@timePub</div>
			<div class="reviews__content-slider-slide-info-description-stars fl al_it">
				<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#star-fill" />
				</svg>
				<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#star-fill" />
				</svg>
				<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#star-fill" />
				</svg>
				<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#star-fill" />
				</svg>
				<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
					<use xlink:href="#star-unfill" />
				</svg>
			</div>
		</div>
	</div>
	<div class="reviews__content-slider-slide-description fl">
		<div class="reviews__content-slider-slide-description-back-img">
			<img src="./img/reviews/char.svg" alt="char" class="reviews__content-slider-slide-description-img">
		</div>
		<div class="reviews__content-slider-slide-description-text">
			<p>
				@@text.p_1
			</p>
			<p>
				@@text.p_2
			</p>
		</div>
	</div>
	<div class="reviews__content-slider-slide-source fl al_it">
		<h4 class="reviews__content-slider-slide-source-title">Источник отзыва</h4>
		<div class="reviews__content-slider-slide-source-back-img fl">
			<img src="./img/reviews/source.svg" alt="source" class="reviews__content-slider-slide-source-img">
		</div>
	</div>
</div>