.about {
    margin-top: 190px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-back-img {
            &:before {
                top: -35px;
                left: -35px;
            }
        }

        &-description {
            margin-left: 10%;
            margin-bottom: 60px;
            max-width: 540px;

            &-text {
                margin-top: 22px;

                line-height: 30px;
                color: $color-description;
            }

            &-back-btn {
                margin-top: 46px;
            }
        }
    }

    @media (max-width: 1130px) {
        
        &__content {

            &-description {
                margin-left: 4%;
                max-width: 50%;
            }
        }
    }

    @media (max-width: 768px) {
        margin-top: 125px;
        
        &__content {
            flex-direction: column;

            &-back-img {
                order: 1;
                margin-top: 90px;
            }

            &-description {
                margin: 0;
                max-width: 100%;
            }
        }
    }

    @media (max-width: 630px) {
        
        &__content {

            &-back-img {
                margin-top: 80px;

                &:before {
                    top: -25px;
                    left: -25px;
                }
            }
        }
    }
}