.blog {
    margin-top: 140px;
    padding: 90px 0 120px 0;

    background-color: $color-back;

    &__content {

        &-intro {
            text-align: center;
        }

        &-items {
            display: flex;
            justify-content: space-between;

            margin-top: 80px;
        }

        &-item {
            max-width: 44%;

            &-back-img {
                &:before {
                    top: 18px;
                    right: -18px;
                    z-index: 0;
                }
            }

            &-img {
                position: relative;
            }

            &-description {
                margin-top: 60px;

                &-title {
                    font-size: 30px;
                    font-weight: 600;
                    font-family: "Open Sans";

                    &-link {
                        color: $color-title;

                        transition: color 0.2s;

                        &:hover {
                            color: $color-main;
                        }
                    }
                }

                &-text {
                    color: $color-description;
                    margin-top: 20px;
                }

                &-back-btn {
                    margin-top: 45px;
                }
            }
        }
    }

    @media (max-width: 930px) and (min-width: 701px) {
        
        &__content {

            &-item {
                max-width: 46%;

                &-back-img {
                    &:before {
                        border-radius: 80px 0px;
                    }
                }

                &-img {
                    border-radius: 80px 0px;
                }
            }
        }
    }

    @media (max-width: 700px) {

        &__content {

            &-items {
                flex-direction: column;
            }

            &-item {
                max-width: 100%;

                &:first-child {
                    margin-bottom: 60px;
                }
            }
        }
    }

    @media (max-width: 540px) {

        &__content {

            &-item {

                &-back-img {
                    &:before {
                        border-radius: 90px 0px;
                    }
                }

                &-img {
                    border-radius: 90px 0px;
                }
            }
        }
    }
}