.client {
    margin-top: 160px;

    &__container {
        max-width: 1350px;
        margin: 0 auto;
    }
    
    &__content {

        &-back-intro {
            text-align: center;
        }

        &-back-btn {
            text-align: end;
            margin-top: 4px;
        }

        &-wrapper-items {
            overflow: hidden;
        }

        &-items {
            display: flex;
            justify-content: space-between;

            margin-top: 86px;
            padding-bottom: 40px;

            position: relative;
            left: 0;

            transition: left 0.4s;
        }

        &-item {
            display: flex;
            flex: 0 0 45%;

            margin-right: 9%;

            padding: 40px 40px 60px 40px;

            position: relative;

            &:before {
                position: absolute;
                content: "";
                background-image: url("../img/common/quotes.svg");
                right: 30px;
                top: 15px;
                width: 32px;
                height: 32px;
                z-index: -1;
            }

            &:after {
                position: absolute;
                content: "";
                width: 85%;
                height: 100%;
                top: 0;
                right: 0;
                z-index: -1;

                background-color: $white-color;
                box-shadow: 7px 7px 30px 5px rgba(66, 96, 84, 0.15);
                border-radius: 70px 0px;
                z-index: -2;
            }

            &:last-child {
                margin-right: 0;
            }

            &-back-img {
                margin-right: 30px;
            }

            &-img {
                border-radius: 30px 0px;
            }

            &-description {

                &-title {
                    color: $color-title;
                    font-weight: 700;
                    font-size: 24px;

                    span {
                        font-size: 16px;
                        color: $color-description;
                        font-weight: 400;
                    }
                }

                &-text {
                    line-height: 28px;
                    color: $color-description;

                    margin-top: 8px;
                }
            }
        }
    }

    @media (max-width: 1430px) {
        &__container {
            margin: 0 40px;
        }
    }

    @media (max-width: 1140px) {
        
        &__content {

            &-item {
                flex: 0 0 48%;
                margin-right: 2%;

                &-description {

                    &-title {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    @media (max-width: 1000px) {
        
        &__content {

            &-item {
                padding: 40px 20px 30px 20px;
            }
        }
    }

    @media (max-width: 910px) {

        &__container {
            margin: 0 0 0 40px;
        }
        
        &__content {

            &-back-intro {
                margin: 0 40px 0 0;
            }

            &-back-btn {
                margin: 0 40px 0 0;
            }

            &-wrapper-items {
                padding:  0 40px 0 0;
            }

            &-item {
                flex: 0 0 98%;
                margin-right: 5%;

                &:after {
                    width: 90%;
                }
            }
        }
    }

    @media (max-width: 750px) {
        
        &__content {

            &-back-btn {
                margin-top: 30px;
            }
        }
    }

    @media (max-width: 500px) {

        &__container {
            margin: 0;
        }
        
        &__content {

            &-wrapper-items {
                padding: 0 40px;
            }

            &-item {
                flex-direction: column;
                text-align: center;

                margin-right: 10%;

                &:after {
                    width: 98%;
                }

                &-back-img {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: 450px) {
        
        &__content {

            &-items {
                margin-top: 65px;
            }
        }
    }

    @media (max-width: 425px) {

        &__content {

            &-back-intro {
                margin: 0 25px;
            }

            &-back-btn {
                margin: 30px 25px 0 25px;
            }

            &-wrapper-items {
                padding: 0 25px;
            }
        }
    }
}