.header {
    position: fixed;
    z-index: 25;

    width: 100%;
    padding: 30px 0;

    background-color: $white-color;

    transition: box-shadow 0.2s, padding 0.2s;

    &.header-active {
        box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);
        padding: 15px 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-wrapper {
            display: flex;
        }

        &-nav {

            &-items {
                display: flex;
            }

            &-item {
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-back-btn {
            margin-left: 55px;
        }

        &-back-btn-menu {
            display: none;
        }

        &-btn-menu {
            cursor: pointer;
            padding: 10px 0px;

            span {
                position: relative;

                font-size: 0;
                color: transparent;

                display: block;
                width: 30px;
                height: 5px;
                border-radius: 4px;

                background-color: $color-main;

                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 5px;
                    border-radius: 4px;
                    background-color: $color-main;

                    transition: all 0.2s;
                }

                &:before { top: -8px; }
                &:after { bottom: -8px; }
            }

            &.header-content-btn-menu-active {

                span {
                    background-color: transparent;

                    &:before,
                    &:after {
                        width: 26px;
                    }

                    &:before {
                        top: 2px;
                        transform: rotate(45deg);
                    }

                    &:after {
                        bottom: -2px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }

    @media (max-width: 1030px) {
        
        &__content {

            &-nav {

                &-item {
                    margin-right: 20px;
                }
            }

            &-back-btn {
                margin-left: 30px;
            }
        }
    }

    @media (max-width: 900px) {
        
        &__content {

            &-wrapper {
                display: none;
            }

            &-back-btn-menu {
                display: flex;
            }
        }
    }
}