.header {
    position: fixed;
    z-index: 20;

    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color: $white-color;

    transition: box-shadow 0.2s;

    &.header-active {
        box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-wrapper {
            display: flex;
        }

        &-nav {

            &-items {
                display: flex;
            }

            &-item {
                margin-right: 40px;

                &:last-child {
                    margin-right: 0;
                }

                &-link {
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $color-title;

                    transition: color 0.2s;

                    &:hover {
                        color: $color-description;
                    }
                }
            }
        }

        &-back-btn {
            margin-left: 55px;
        }

        &-btn {
            font-size: 16px;
            font-weight: 600;
            color: $white-color;

            background-color: $color-secondary;
            padding: 5px 20px;
            border-radius: 15px 0px;

            transition: background-color 0.2s;

            &:hover {
                background-color: darken($color-secondary, 10%);
            }
        }
    }
}