.intro {
    padding-top: 175px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-text {
            margin-right: 3.5%;

            &-title {
                font-size: 72px;
                line-height: 78/72 * 100%;
                font-weight: 600;
                font-family: "Poppins";

                margin-top: 12px;
            }

            &-description {
                line-height: 30px;
                color: $color-description;

                margin-top: 24px;
            }

            &-back-btn {
                margin-top: 46px;
            }
        }

        &-back-img {

            &:before {
                top: 35px;
                right: -35px;
            }
        }
    }

    @media (max-width: 1000px) and (min-width: 891px) {
        
        &__content {

            &-back-img {
                width: 120%;

                &:before {
                    border-radius: 70px 0;
                }
            }

            &-img {
                border-radius: 70px 0;
            }
        }
    }

    @media (max-width: 890px) {
        
        &__content {
            flex-direction: column;

            &-text {
                margin-right: 0;
            }

            &-back-img {
                margin-top: 60px;
            }
        }
    }

    @media (max-width: 768px) {
        
        &__content {

            &-text {

                &-title {
                    font-size: 60px;
                }
            }
        }
    }

    @media (max-width: 540px) {
        
        &__content {

            &-text {

                &-title {
                    font-size: 48px;
                }
            }
        }
    }

    @media (max-width: 560px) {
        
        &__content {

            &-back-img {
                &:before {
                    top: 20px;
                    right: -20px;
                }
            }
        }
    }
}