.market {
    margin-top: 224px;

    position: relative;

    &:before {
        position: absolute;
        content: "";
        background-image: url("../img/common/points.svg");
        width: 212px;
        height: 153px;
        top: -130px;
        left: 0;
        z-index: -1;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-description {
            margin-right: 11%;

            &-years {
                font-size: 240px;
                line-height: 1;
                font-weight: 900;
                text-transform: uppercase;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                &.market__content-description-years-img {
                    background-image: url("../img/market/back-number.jpg");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &-title {
                font-size: 50px;
                line-height: 65px;
            }

            &-back-btn {
                margin-top: 35px;
            }
        }

        &-back-img {
            &:before {
                top: 30px;
                right: -30px;
            }
        }
    }

    @media (max-width: 1024px) {
        margin-top: 140px;
        
        &__content {

            &-description {
                margin-right: 0;
            }

            &-back-img {
                width: 120%;
            }
        } 
    }

    @media (max-width: 850px) {
        
        &__content {

            &-description {

                &-years {
                    font-size: 180px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        
        &__content {
            flex-direction: column;

            &-back-img {
                width: 100%;

                margin-top: 60px;
            }
        } 
    }

    @media (max-width: 560px) {

        &__content {

            &-back-img {
                &:before {
                    top: 20px;
                    right: -20px;
                }
            }
        }
    }
}