.nav-mobile {
    position: fixed;
    z-index: 20;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    visibility: hidden;
    opacity: 0;

    transition: all 0.4s;

    &.nav-mobile-active {
        visibility: visible;
        opacity: 1;

        .nav-mobile__content {
            transform: translateX(0);
        }
    }

    &__content {
        width: 50%;
        height: 100%;

        margin-left: auto;
        background-color: $white-color;
        padding-top: 140px;

        transform: translateX(100%);

        transition: all 0.4s;

        &-nav {
            text-align: center;

            &-item {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-back-btn {
                margin-top: 40px;   
            }
        }
    }
}