.service {
    padding-top: 125px;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        background-image: url("../img/common/points.svg");
        width: 212px;
        height: 153px;
        top: -50px;
        left: 0;
        z-index: -1;
    }

    &__intro {
        display: flex;
        justify-content: space-between;

        &-back-btns {
            margin-top: auto;
        }
    }

    &__items-wrapper {
        overflow-x: hidden;

        padding-bottom: 40px;
    }

    &__items {
        margin-top: 50px;
        display: flex;

        position: relative;
        left: 0;

        transition: left 0.4s;
    }

    &__item {
        display: flex;
        flex: 0 0 30%;

        padding: 40px 20px 40px 35px;
        margin-right: 4%;

        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
        border-radius: 60px 0px;

        transition: color 0.2s, background-color 0.2s;

        &:first-child { margin-left: 15px; }
        &:last-child  { padding-right: 15px; }

        &:hover {
            color: $white-color;
            background-color: $color-secondary;

            .service__item-description {

                &-text {
                    color: $white-color;
                }
            }
        }

        &-back-img {
            margin-right: 20px;
        }

        &-description {

            &-title {
                font-size: 24px;
                font-weight: 700;
            }

            &-text {
                color: $color-description;
                transition: color 0.2s;
                margin-top: 10px;
            }
        }
    }

    @media (max-width: 1040px) {
        
        &__item {
            padding: 40px 20px 30px 20px;
            text-align: center;

            display: flex;
            flex-direction: column;

            &-back-img {
                margin: 0 auto 15px auto;
            }
        }
    }

    @media (max-width: 910px) {
        
        &__item {
            flex: 0 0 46%;
        }
    }

    @media (max-width: 560px) {
        
        &__item {
            flex: 0 0 93%;
            margin-right: 5%;
        }
    }

    @media (max-width: 500px) {
        
        &__item {

        }
    }

    @media (max-width: 470px) {
        
        &__intro {
            flex-direction: column;

            &-back-btns {
                margin-left: auto;
                margin-top: 20px;
            }
        }
    }
}