.blog {

    .back-overhead {
        width: 40%;
        margin-left: auto;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        padding-bottom: 120px;

        &-img {

            &-back {
                position: relative;

                display: flex;

                margin-bottom: 40px;

                &-author {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    background-color: $white-color;
                    padding: 20px 32px;

                    display: flex;
                    align-items: center;

                    &-img {
                        margin-right: 18px;
                    }

                    &-description {

                        &-name {
                            font-size: 18px;
                            margin-bottom: 8px;
                        }

                        &-profession {
                            font-size: 14px;
                            color: $gray-color-3;
                        }
                    }
                }
            }

            &-title-link {
                font-size: 40px;
                line-height: 50px;
                font-weight: 800;
                color: $gray-color-1;

                transition: opacity 0.2s;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        &-text {

            &-items {
                margin-top: 40px;
            }

            &-item {
                display: flex;

                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-description {
                    padding: 20px 30px;

                    &-title {
                        font-size: 32px;
                        line-height: 36px;
                    }

                    &-link {
                        color: $gray-color-1;

                        transition: opacity 0.2s;

                        &:hover {
                            opacity: 0.6;
                        }
                    }

                    &-address {
                        font-size: 18px;
                        color: $gray-color-3;
                    }
                }
            }
        }
    }

    @media (max-width: 1090px) {

        &__content {
            padding-bottom: 50px;
            
            &-img {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &-back {
                    margin-right: 20px;

                    &-house {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    @media (max-width: 850px) {
        
        .back-overhead {
            width: 100%;  
        }

        &__content {
            flex-direction: column;
            padding-bottom: 80px;
            
            &-img {
                order: 1;

                &-back {
                    margin-right: 0;

                    &-house {
                        width: 100%;
                    }
                }
            }

            &-text {
                margin-bottom: 60px;

                &-items {
                    display: block;
                }

                &-item {
                    align-items: center;

                    &-description {
                        padding: 0px 0px 0px 30px;
                    }
                }
            }
        }
    }

    @media (max-width: 450px) {
        
        &__content {

            &-text {

                &-item {
                    flex-direction: column;
                    align-items: unset;

                    &-img {
                        width: 100%;
                    }

                    &-description {
                        padding: 20px 30px 20px 0;
                    }
                }
            }
        }
    }
}