.choose {
    position: relative;
    z-index: 1;

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 120px;
        bottom: 0;
        left: 0;
        background-color: $main-color-back;
        z-index: -1;
    }

    &__content-text {
        display: flex;

        &-title {
            margin-right: 13%;
        }

        &-description {
            font-size: 18px;
            line-height: 28px;
            max-width: 37%;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    &__item {
        width: 32%;
        position: relative;

        padding: 60px 45px 45px 45px;
        box-shadow: 0px 20px 55px rgba(0, 0, 0, 0.05);

        overflow: hidden;

        transition: color 0.2s, background-color 0.2s, fill 0.2s;

        &:before {
            position: absolute;
            opacity: 0.6;
            font-weight: 800;
            top: -26px;
            left: -18px;
            color: $main-color-back;
            font-size: 110px;
        }

        &:after {
            position: absolute;
            content: "";
            width: 100%;
            height: 120px;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: $white-color;
            transition: background-color 0.2s;
        }

        &:first-child  { &:before { content: "01"; } }
        &:nth-child(2) { &:before { content: "02"; } }
        &:last-child   { &:before { content: "03"; } }

        &:hover {
            background-color: $main-color;
            color: $white-color;

            &:after {
                background-color: $main-color
            }

            .choose__item-content-text-link {
                color: $white-color;
            }

            .choose__item-icon {
                path {
                    fill: $white-color;
                }
            }
        }

        &-icon {
            display: flex;
            justify-content: flex-end;
        }

        &-content {
            display: flex;
            margin-top: 60px;

            position: relative;
            z-index: 2;

            &-score {
                font-size: 24px;
                margin-right: 16px;
                line-height: 1.3;
            }

            &-text {
                position: relative;

                &-title {
                    font-size: 24px;
                }
        
                &-description {
                    font-size: 14px;
                    line-height: 22px;
                    margin-top: 24px;
                    margin-bottom: 48px;
                }
        
                &-link {
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    font-size: 14px;
                    font-weight: 600;
                    color: $gray-color-1;
                    text-decoration: underline;

                    display: flex;
                    justify-content: start;

                    transition: opacity 0.2s;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        
        &__item {
            padding: 7.5% 4% 4% 4%;
        }
    }

    @media (max-width: 880px) {
        
        &__content-text {

            &-title {
                margin: 0;
            }

            &-description {
                margin-left: auto;
                padding-left: 8px;
            }
        }
    }

    @media (max-width: 770px) {
        
        &__item {
            padding: 6.5% 2% 3% 3%;
        }
    }

    @media (max-width: 730px) {

        &__items {
            display: block;
        }
        
        &__item {
            width: 100%;
            padding: 60px 45px 45px 45px;

            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 635px) {
        
        &__content-text {
            flex-direction: column;

            &-description {
                margin-top: 30px;
                max-width: 100%;
                padding: 0;
            }
        }
    }

    @media (max-width: 376px) {

        &__item {
            padding: 60px 45px 45px 28px;
        }
    }
}