.properties {
    
    &__content {
        margin-top: 60px;
        width: 105%;

        &-items {
            display: flex;
            position: relative;
            left: 0;

            overflow: hidden;

            transition: all ease 0.2s;

            cursor: pointer;

            &.properties__content-items-active {
                cursor: grabbing;
            }
        }

        &-item {
            margin-right: 32px;

            &:last-child {
                margin-right: 0;
            }

            &-back-img {
                position: relative;

                &-btn {
                    position: absolute;
                    bottom: 3px;
                    left: 0;
    
                    font-size: 24px;
                    font-weight: 500;
                    color: $main-color;
    
                    padding: 28px 0px;
                    width: 54%;
                    text-align: center;
    
                    background-color: $white-color;
    
                    transition: color 0.2s, background-color 0.2s;
    
                    &:hover {
                        background-color: $main-color;
                        color: $white-color;
                    }
                }
            }

            &-description {
                margin-top: 32px;

                &-title {
                    font-size: 32px;
                }

                &-address {
                    font-size: 18px;
                    margin-top: 24px;
                }

                &-price {
                    font-size: 32px;
                    font-weight: 800;
                    color: $secondary-color;
                    margin-top: 24px;
                }
            }
        }
    }
}