@include include-fonts("Inter", 300, 'Inter-Light', "Inter");
@include include-fonts("Inter", 400, 'Inter-Regular', "Inter");
@include include-fonts("Inter", 500, 'Inter-Medium', "Inter");
@include include-fonts("Inter", 600, 'Inter-SemiBold', "Inter");
@include include-fonts("Inter", 700, 'Inter-Bold', "Inter");
@include include-fonts("Inter", 800, 'Inter-ExtraBold', "Inter");

@include include-fonts("Roboto", 300, 'Roboto-Light', "Roboto");
@include include-fonts("Roboto", 400, 'Roboto-Regular', "Roboto");
@include include-fonts("Roboto", 500, 'Roboto-Medium', "Roboto");
@include include-fonts("Roboto", 700, 'Roboto-Bold', "Roboto");