.choice {
    padding-top: 100px;

    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        content: "";
        background-image: url("../img/choice/back.svg");
        background-position: center;
        top: -120px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__content {

        &-back-intro {
            text-align: center;

            &-subtext {
                margin-top: 12px;
            }
        }

        &-items {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            margin-top: 50px;
        }

        &-item {
            display: flex;
            max-width: 30%;

            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 44px;
            }

            &-back-img {
                margin-right: 28px;
            }

            &-description {

                &-title {
                    font-size: 18px;
                    color: $color-title;
                }

                &-text {
                    color: $color-description;
                    font-size: 14px;
                    line-height: 22/14 * 100%;
                    margin-top: 10px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        
        &__content {

            &-item {
                max-width: 47%;
            }
        }
    }

    @media (max-width: 560px) {
        
        &__content {

            &-item {
                max-width: 100%;
                flex-direction: column;
                text-align: center;

                &:nth-child(4),
                &:nth-child(5) {
                    margin-bottom: 44px;
                }

                &-back-img {
                    margin-right: 0;
                }
            }
        }
    }
}