.company {

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__item {

        &-img {
            opacity: 0.4;
        }
    }

    @media (max-width: 830px) {
        margin-top: 30px;
        
        &__items {
            flex-wrap: wrap;
        }

        &__item {
            width: 30%;
            display: flex;
            justify-content: center;

            &:first-child,
            &:nth-child(2),
            &:nth-child(3) {
                margin-bottom: 50px;
            }
        }
    }

    @media (max-width: 560px) {
        
        &__items {
            justify-content: space-between;
        }
    }

    @media (max-width: 470px) {
        
        &__item {
            width: 45%;

            &:nth-child(4) {
                margin-bottom: 50px;
            }
        }
    }
}