// COMMON

.container {
    max-width: 1100px;
    margin: 0 auto;

    @media (max-width: 1170px) {
        margin: 0 40px;
    }

    @media (max-width: 450px) {
        margin: 0 25px;
    }
}


.wrapper {
    background: linear-gradient(222.26deg, #3B1D60 10.22%, $color-back 58.28%);
    overflow: hidden;
}


.btn {
    color: $color-btn;
    font-family: "Rubik";
    font-weight: 500;
    font-size: 12px;

    text-transform: uppercase;
    letter-spacing: 2px;

    border: 1px solid $color-btn;
    border-radius: 4px;

    transition: color $animate-trans, background-color $animate-trans, box-shadow $animate-trans;

    &:hover {
        color: $white-color;
        background-color: $color-btn;
        box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
    }
}


.back-intro {

    &-title {
        font-family: "Inter";
        font-weight: 700;
    
        color: $color-title;
    }

    &-subtext {
        font-family: "Gilroy";
        line-height: 22/16 * 100%;
        font-weight: 600;
        color: $color-description;
    }

    span {
        color: $color-btn;
    }

    @media (max-width: 768px) {
        
        &-title {
            font-size: 38px;
        }
    }

    @media (max-width: 500px) {
        
        &-title {
            font-size: 36px;
        }
    }

    @media (max-width: 375px) {
        
        &-title {
            font-size: 32px;
        }
    }
}


// HEADER and MOBILE-NAV

.nav-link {
    color: $color-nav-link;
    font-size: 12px;
    font-family: "Gilroy";
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    transition: $animate-trans;

    &:hover {
        color: $color-btn;
    }
}