.header {
    padding-top: 80px;

    transition: box-shadow $animate-trans * 2 linear, top $animate-trans * 2;

    &.header-active {
        position: fixed;
        z-index: 20;
        left: 0;
        top: 0;
        width: 100%;

        padding: 24px 0;
        box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);
        background-color: lighten($color-back, 2%);
    }

    &.header-pass-shadow {
        box-shadow: none;
    }

    &.header-active-pressed-btn {
        position: relative;
        top: 0;
        z-index: 20;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-back-logo {
            display: flex;
            align-items: center;

            &-title {
                display: none;
                color: $color-btn;
                font-size: 22px;
            }
        }

        &-logo {
            margin-right: 44px;
        }

        &-nav {

            &-items {
                display: flex;
            }

            &-item {
                margin-right: 20px;
            }
        }

        &-back-sign {

            &-in {
                margin-right: 20px;
            }

            &-in,
            &-up {
                padding: 8px 24px;
            }
        }

        &-back-btn {
            display: none;

            &-menu {
                padding: 9px 0;
                cursor: pointer;

                span {
                    position: relative;
                    color: transparent;
                    font-size: 0;

                    display: block;
                    width: 24px;
                    height: 2px;
                    background-color: $color-btn;
                    border-radius: 10px;

                    &::before,
                    &::after {
                        position: absolute;
                        content: "";
                        width: 24px;
                        height: 2px;
                        left: 0;
                        background-color: $color-btn;
                        border-radius: 10px;
                        transition: all $animate-trans;
                    }

                    &::before {
                        top: -8px;
                    }

                    &::after {
                        bottom: -8px;
                    }
                }

                &.header-btn-menu-active {

                    span {
                        height: 0;

                        &::before {
                            transform: rotate(45deg);
                            top: 0;
                        }

                        &::after {
                            transform: rotate(-45deg);
                            bottom: -2px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 790px) {
        padding-top: 50px;
        
        &__content {

            &-nav {
                display: none;
            }

            &-back-logo {
                
                &-title {
                    display: block;
                }
            }

            &-logo {
                margin-right: 20px;
            }

            &-back-sign {
                display: none;
            }

            &-back-btn {
                display: flex;
            }
        }
    }
}