.reasons {
    margin-top: 196px;

    position: relative;

    &:before {
        position: absolute;
        content: "";
        top: -60px;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../img/reason/back.svg");
    }

    &__content {
        background: rgba(60, 62, 125, 0.19);
        backdrop-filter: blur(134px);
        border-radius: 5px;
        text-align: center;

        padding: 50px;

        &-title {
            font-size: 36px;
            line-height: 44/36 * 100%;
            font-family: "Rubik";
            font-weight: 500px;
            color: $color-btn;
        }

        &-description {
            color: $color-description-title;
            line-height: 22/16 * 100%;
            max-width: 400px;
            margin: 20px auto 0 auto;
            font-family: "Rubik";
        }

        &-back-form {
            margin-top: 24px;
        }

        &-form {
            display: flex;
            justify-content: center;

            &-input {
                font-size: 14px;
                color: $color-input-text;
                outline: none;
                padding: 18px 16px;
                border: 0;

                max-width: 300px;
                width: 300px;

                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

                background-color: #2a2c61;

                transition: background-color $animate-trans;

                &:focus {
                    background-color: darken(#2a2c61, 3%);
                }
            }

            &-btn {
                cursor: pointer;
                padding: 0 43px;

                background-color: $color-btn;
                color: $white-color;

                border-radius: 5px;
                outline: none;

                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                transition: background-color $animate-trans, box-shadow $animate-trans;

                &:hover {
                    background-color: darken($color-btn, 4%);
                    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
                }
            }
        }

        &-text {
            font-size: 14px;
            line-height: 20/14 * 100%;
            font-family: "Gilroy";
            font-weight: 600;
            margin-top: 16px;
            color: $color-description;
        }
    }

    @media (max-width: 768px) {
        margin-top: 160px;
    }

    @media (max-width: 640px) {
        
        &__content {
            padding: 50px 30px;
        }
    }

    @media (max-width: 570px) {
        
        &__content {

            &-form {

                &-input {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    @media (max-width: 520px) {
        margin-top: 120px;
    }

    @media (max-width: 460px) {
        
        &__content {
            padding: 40px 25px;

            &-form {
                flex-direction: column;

                &-input {
                    border-top-right-radius: 5px;
                    border-bottom-left-radius: 0;
                }

                &-btn {
                    padding: 18px 0;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 5px;
                }
            }
        }
    }
}