<nav class="custom-furniture__content-nav">
	<ul class="custom-furniture__content-nav-items">
		<li class="custom-furniture__content-nav-item">
			<button type="button" class="custom-furniture__content-nav-item-button">Кухни</button>
			<div class="custom-furniture__content-nav-item-menu">
				<div class="custom-furniture__content-nav-item-menu-content">
					<ul class="custom-furniture__content-nav-item-menu-content-items">
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Прямые кухни</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="./subcategory.html" class="custom-furniture__content-nav-item-menu-content-item-link">Угловые кухни</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">П-образные кухни</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Кухни с островом</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Маленькие кухни</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Кухни премиум</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Недорогие кухни</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Кухни с барными стойками</a>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li class="custom-furniture__content-nav-item">
			<button type="button" class="custom-furniture__content-nav-item-button">Шкафы-купе</button>
			<div class="custom-furniture__content-nav-item-menu">
				<div class="custom-furniture__content-nav-item-menu-content">
					<ul class="custom-furniture__content-nav-item-menu-content-items">
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Шкафы-купе 1</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Шкафы-купе 2</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Шкафы-купе 3</a>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li class="custom-furniture__content-nav-item">
			<button type="button" class="custom-furniture__content-nav-item-button">Мебель для ванной</button>
			<div class="custom-furniture__content-nav-item-menu">
				<div class="custom-furniture__content-nav-item-menu-content">
					<ul class="custom-furniture__content-nav-item-menu-content-items">
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Мебель для ванной 1</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Мебель для ванной 2</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Мебель для ванной 3</a>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li class="custom-furniture__content-nav-item">
			<button type="button" class="custom-furniture__content-nav-item-button">Прихожие</button>
			<div class="custom-furniture__content-nav-item-menu">
				<div class="custom-furniture__content-nav-item-menu-content">
					<ul class="custom-furniture__content-nav-item-menu-content-items">
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Прихожие 1</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Прихожие 2</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Прихожие 3</a>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Детская мебель</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Гардеробные / стеллажные</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Мебель для гостиной</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Полки / Ниши</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Кабинеты и Библиотеки</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Межкомнатные перегородки</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Мебель для спальной</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<button type="button" class="custom-furniture__content-nav-item-button">Мебель из массива</button>
			<div class="custom-furniture__content-nav-item-menu">
				<div class="custom-furniture__content-nav-item-menu-content">
					<ul class="custom-furniture__content-nav-item-menu-content-items">
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Мебель из массива 1</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Мебель из массива 2</a>
						</li>
						<li class="custom-furniture__content-nav-item-menu-content-item">
							<a href="#" class="custom-furniture__content-nav-item-menu-content-item-link">Мебель из массива 3</a>
						</li>
					</ul>
				</div>
			</div>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Офисная мебель</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Мебель с мягкими декорами</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Мебель Лофт</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Системы складных дверей</a>
		</li>
	</ul>
</nav>