<div class="popup-contact @@classPopup">
	<div class="popup-contact__wrapper">
		<div class="popup-contact__container">
			<div class="popup-contact__content">
				<div class="popup-contact__content-back-button-close">
					<button type="button" class="popup-contact__content-button-close @@classBtnClose">
						<span class="fl">Close popup</span>
					</button>
				</div>
				<h4 class="popup-contact__content-title">@@title</h4>
				<div class="popup-contact__content-back-form">
					<form action="index.html" class="popup-contact__content-form">
						<div class="popup-contact__content-form-back-input fl just_cont">
							<input type="text" placeholder="Введите имя" class="popup-contact__content-form-input form-input">
							<input type="tel" placeholder="+7 (999) 999 99 99" class="popup-contact__content-form-input form-input">
						</div>
						<textarea name="portfolio-designers-form-text" id="portfolio-designers-text" cols="30" rows="4" placeholder="При необходимости опишите вашу задачу или параметры изделия/помещения." class="popup-contact__content-form-textarea"></textarea>
						<div class="popup-contact__content-form-back-button fl">
							<button type="submit" href="#" class="popup-contact__content-form-button">Отправить</button>
						</div>
					</form>
					<div class="popup-contact__content-description">
						<p>
							Нажимая кнопку «Отправить», вы автоматически соглашаетесь с
							<a href="#" class="popup-contact__content-description-link">Политикой конфиденциальности</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>