.popup-temp {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color-back-popup, 0.6);
	z-index: 100;

	opacity: 0;
	visibility: hidden;

	transition: opacity $animate * 1.5 ease,
				visibility $animate * 1.5 ease;

	&.popup-active {
		opacity: 1;
		visibility: visible;

		.popup-temp__container {
			transform: translateY(0);
		}
	}

	&__container {
		position: relative;
		width: 100%;
		height: 100%;

		transform: translateY(-100%);

		transition: transform $animate * 1.5 ease;
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&-back-close {
			position: absolute;
			right: 10px;
			top: 12px;
		}

		&-btn-close {

			span {
				padding: 16px;
				font-size: 0;
				color: transparent;
				position: relative;

				&::before,
				&::after {
					position: absolute;
					content: "";
					width: 22px;
					height: 2px;
					background-color: $color-btn-close-popup;
					left: 50%;
					top: 50%;
					z-index: 40;
				}

				&::before {
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&::after {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}
	}

	&__wrapper {
		position: relative;
	}
}