.popup {

	&__content {

		&-form {
			padding: 50px 35px;
			background-color: $white-color;

			&-title {
				text-transform: uppercase;
			}

			&-back-input {
				margin-top: 24px;
				flex-direction: column;
			}

			&-input {
				margin-bottom: 8px;
			}

			&-back-btn {
				margin-top: 30px;
			}

			&-btn {
				padding: 20px 10px;
				max-width: 100%;
				width: 100%;
			}
		}
	}
}