.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($color-back-popup, 0.6);

	opacity: 0;
	visibility: hidden;

	transition: opacity $animate * 1.5 ease,
				visibility $animate * 1.5 ease;

	&.popup-active {
		opacity: 1;
		visibility: visible;

		.popup__container {
			transform: translateY(0);
		}
	}

	&__container {
		position: relative;
		width: 100%;
		height: 100%;

		transform: translateY(-100%);

		transition: transform $animate * 1.5 ease;
	}

	&__content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&-wrapper {
			position: relative;
		}

		&-back-close {
			position: absolute;
			right: 10px;
			top: 12px;
		}

		&-btn-close {

			span {
				padding: 16px;
				font-size: 0;
				color: transparent;
				position: relative;

				&::before,
				&::after {
					position: absolute;
					content: "";
					width: 22px;
					height: 2px;
					background-color: $color-btn-close-popup;
					left: 50%;
					top: 50%;
				}

				&::before {
					transform: translate(-50%, -50%) rotate(45deg);
				}

				&::after {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}
		}

		&-form {
			padding: 50px 35px;
			background-color: $white-color;

			&-title {
				text-transform: uppercase;
			}

			&-back-input {
				margin-top: 24px;
				flex-direction: column;
			}

			&-input {
				margin-bottom: 8px;
			}

			&-back-btn {
				margin-top: 30px;
			}

			&-btn {
				padding: 20px 10px;
				max-width: 100%;
				width: 100%;
			}
		}
	}
}