<div class="subcategory-description new-block">
	<div class="container">
		<div class="subcategory-description__content">
			<h2 class="subcategory-description__content-title">Угловые кухни на заказ — правильное решение для вашего дома</h2>
			<ul class="subcategory-description__content-items fl">
				<li class="subcategory-description__content-item">
					<h3 class="subcategory-description__content-item-title">Компактные</h3>
					<div class="subcategory-description__content-item-description">
						<p>
							Практичные угловые кухни на заказ не занимают лишних квадратных метров. Мебель эргономичная, удобная в использовании.
						</p>
					</div>
				</li>
				<li class="subcategory-description__content-item">
					<h3 class="subcategory-description__content-item-title">Многофункциональные</h3>
					<div class="subcategory-description__content-item-description">
						<p>
							Дизайнеры грамотно проведут зонирование пространства. В результате кухня превратится сразу в два раздельных помещения – место для приготовления пищи и столовую.
						</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>