<ul class="subcategory__content-items fl">
	@@loop("../common/cardOrder.html", [
		{ "imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
			],
			"price": "от 20 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
			],
			"price": "от 25 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
			],
			"price": "от 35 000 руб. за п.м."
		}
	])
	@@loop("../common/cardOrder.html", [
		{ "imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
			],
			"price": "от 20 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
			],
			"price": "от 25 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
			],
			"price": "от 35 000 руб. за п.м."
		}
	])
	@@loop("../common/cardOrder.html", [
		{ "imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
			],
			"price": "от 20 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
			],
			"price": "от 25 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
			],
			"price": "от 35 000 руб. за п.м."
		}
	])
	@@loop("../common/cardOrder.html", [
		{ "imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
			],
			"price": "от 20 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
			],
			"price": "от 25 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
			],
			"price": "от 35 000 руб. за п.м."
		}
	])
	@@loop("../common/cardOrder.html", [
		{ "imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
			],
			"price": "от 20 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
			],
			"price": "от 25 000 руб. за п.м."
		},
		{
		"imgs": [
			"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
			"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
			],
			"price": "от 35 000 руб. за п.м."
		}
	])
</ul>