.choose {
    margin-top: 120px;
    position: relative;
    background: #F2F2F2;
    padding-bottom: 140px;

    &:after {
        @include part-back(1);
        left: 0;
    }

    &__container {
        max-width: 1040px;
        margin: 0 auto;
    }

    &__content {
        position: relative;
        z-index: 5;

        &-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-direction: column;

            left: 0;
            transition: left 0.6s;

            position: relative;

            height: 510px;

            &-wrapper {
                overflow: hidden;
                position: relative;
            }
        }

        &-item {
            width: 49%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            margin-right: 20px;
            background: #FFF;

            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(6) {
                margin-bottom: 0;
            }

            &-back-img {
                height: 240px;
                width: 220px;
                display: flex;
                justify-content: center;
            }

            &-description {
                padding: 32px;
            }

            &-price {
                color: $accent-color-1;
                margin-bottom: 8px;
                font-weight: 600;
            }

            &-title {
                color: #232C38;
                margin-bottom: 24px;
                font-size: 18px;
            }

            &-text {
                color: $dark-gray;
                margin-bottom: 30px;
            }

            &-btn-1 {
                margin-right: 30px;
            }

            &-btn-2 {
                cursor: pointer;
                color: $primary-color;
            }
        }
    }
}