.back-title {
    text-align: center;
    color: $primary-color;
    padding-top: 75px;
    margin-bottom: 60px;

    .overhead {
        font-family: "Nunito";
        font-size: 18px;
        font-weight: 600;
    }

    .subtitle {
        font-family: "Montserrat";
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}


.btns {
    text-transform: uppercase;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    color: $accent-color-2;
    background-color: $accent-color-1;

    padding: 4px 16px;
    border-radius: 25px;

    transition: background-color 0.2s;

    &:hover {
        background-color: darken($accent-color-1, 10%);
    }
}


.btn-next,
.btn-prev {
    position: absolute;
    top: 46%;

    display: flex;
    cursor: pointer;

    background-color: $accent-color-1;
    border-radius: 50%;
    padding: 12px 8px;

    transition: background-color 0.2s;

    &:hover {
        background-color: darken($accent-color-1, 10%);
    }
}

.btn-next {
    right: -5%;
}

.btn-prev {
    left: -5%;

    img {
        transform: rotate(-180deg);
    }
}