.combo {
    padding-bottom: 110px;
    position: relative;

    &:after {
        @include part-back(-1);
        right: 0;
    }

    &__container {
        max-width: 1040px;
        margin: 0 auto;
    }

    &__content {
        position: relative;

        &-items {
            display: flex;
            justify-content: space-between;
        }

        &-item {
            max-width: 32%;

            &-back-img {
                background-color: $light-gray;
            }

            &-img {
                max-width: 100%;
                max-height: 100%;
            }

            &-description {
                padding: 42px;
                background-color: #fff;

                &-price {
                    font-size: 18px;
                    font-weight: 600;
                    color: $accent-color-1;

                    display: flex;
                    align-items: center;

                    s {
                        font-size: 14px;
                        font-weight: 300;
                        color: $primary-color;
                        margin-left: 10px;
                    }
                }

                &-title {
                    font-size: 22px;
                    font-weight: 700;
                    margin: 10px 0;
                }

                &-text {
                    line-height: 20px;
                    margin-bottom: 38px;
                }

                &-btn-2 {
                    color: $primary-color;
                }
            }
        }
    }
}