.footer {
    background-color: $light-gray;

    &__content {
        text-align: center;
        width: 100%;
        height: 50px;
        color: $primary-color;
        font-size: 14px;

        p {
            display: inline-block;
            vertical-align: middle;
        }

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}