.gift {
    position: relative;
    padding-bottom: 126px;

    &:after {
        position: absolute;
        content: "";
        background: $light-gray;
        width: 70%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -2;
    }

    &__container {
        max-width: 1040px;
        margin: 0 auto;
    }

    &__tabs {
        display: flex;
        flex-direction: row-reverse;

        &-items {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        &-item {
            cursor: pointer;
            padding: 62px 32px;
            
            color: $primary-color;
            font-weight: 900;
            font-family: "Montserrat", sans-serif;
            font-size: 28px;

            &.gift__button-active {
                background-color: #fff;
            }

            &.gift__button-passive {
                background-color: $light-gray;
                opacity: 0.7;
            }
        }

        &-body {
            padding: 34px;
            position: relative;

            &:after {
                position: absolute;
                content: "";
                background: #FFF;
                width: 72%;
                height: 90%;
                top: 0;
                right: 0;
                z-index: -1;
            }

            &-block {
                display: none;

                &:target {
                    display: block;
                }

                &-wrapper {
                    display: flex;
                }

                &-back-img {

                }

                &-img {
                    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.5);
                }

                &-description {
                    margin-left: 10%;

                    &-price {
                        color: $accent-color-1;
                        font-weight: 600;
                        font-size: 18px;
                    }

                    &-title {
                        font-size: 22px;
                        font-weight: 700;
                        margin-top: 12px;
                    }

                    &-text {
                        margin-top: 12px;
                        line-height: 1.6;
                    }

                    &-items {
                        display: flex;
                        justify-content: space-between;

                        margin-top: 26px;
                    }

                    &-item {
                        display: flex;

                        &:last-child {
                            margin-right: 10%;
                        }

                        &-img {
                            margin-right: 20px;
                            padding: 2px 0;
                        }

                        &-content {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            color: $primary-color;

                            &-overtitle,
                            &-title {
                                font-family: "Nunito";
                                font-size: 14px;
                            }

                            &-overtitle {
                                font-weight: 300;
                            }
                        }
                    }

                    &-btns {
                        margin-top: 46px;
                    }

                    &-btn-1 {
                        padding: 6px 32px;
                    }

                    &-btn-2 {
                        margin-right: 20%;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}