.intro {
    position: relative;

    &__container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;

        margin-left: 14%;
    }

    &__back-title_logo {
        display: flex;
        flex-direction: column;

        margin-top: 8%;
        margin-right: 10%;
        position: relative;
    }

    &__logo {
        display: flex;
        flex-direction: column;

        font-family: "Ninito", sans-serif;
        font-weight: 300;
        font-size: 28px;

        letter-spacing: 12px;
        line-height: 1;
        text-transform: lowercase;

        span {
            font-size: 7px;
            letter-spacing: 0.6px;
        }
    }

    &__back-title {
        margin-top: auto;
        margin-bottom: 64px;
    }

    &__title {
        font-family: "Montserrat";
        font-weight: 900;
        font-size: 48px;
        text-transform: uppercase;
        color: $primary-color;

        position: absolute;
        left: 0;
        bottom: 10%;

        span {
            color: $light-gray;
            position: relative;
            z-index: 1;

            &:after {
                position: absolute;
                content: "";
                top: 0;
                left: -12px;
                width: 106%;
                height: 100%;
                z-index: -1;
                background-color: $accent-color-1;
            }
        }
    }

    &__content {
        
    }

    &__content-video {

        video {
            height: 100vh;
        }
    }

    &__header {
        background-color: $primary-color;
        height: 100vh;
        width: 30%;

        display: flex;
        justify-content: center;

        &-nav {

            &-shopping {
                margin-top: 50px;

                &-link {
                    position: relative;
                    cursor: pointer;

                    &:before {
                        position: absolute;
                        content: "2";
                        color: #fff;

                        width: 20px;
                        height: 20px;
                        background-color: $accent-color-1;

                        top: -16px;
                        right: -12px;
                        border-radius: 50%;

                        display: flex;
                        justify-content: center;
                    }
                }
            }

            &-items {
                margin-top: 100px;
            }

            &-item {
                margin-bottom: 26px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-link {
                    text-transform: uppercase;
                    color: $light-gray;
                    opacity: 0.7;
                    font-size: 14px;

                    transition: color 0.2s, opacity 0.2s;

                    &:hover {
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
        }
    }
}