.personalized {

    &__container {
        width: 80%;
        margin: 0 auto;
    }

    &__content {

        &-items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-item {
            max-width: 21%;
            text-align: center;

            &-img {
                margin-bottom: 40px;
            }

            &-title {
                font-family: "Nunito";
                font-weight: 700;
                font-size: 22px;
                margin-bottom: 12px;
                color: #232C38;
            }

            &-text {
                color: #151D28;
                font-size: 14px;
            }
        }
    }
}