@import "mixins/mixins";

@import "./fonts/fonts";
@import "./variables/variables";
@import "./reset/reset";
@import "./normalize/normalize";

// HEADER
@import "./common/header";
@import "./blocks/header/nav";
@import "./blocks/header/navMobile";

// INTRO FEATURES
@import "./common/introFeatures";

// CUSTOM MADE FURNITURE
@import "./blocks/customMadeFurniture";
@import "./blocks/customMadeFurniture/customFurnitureCard";
@import "./blocks/customMadeFurniture/navigation";

// COMMON
@import "./common/common";
@import "./common/company";
@import "./common/designers";
@import "./common/dreamInterior";
@import "./common/finishedProject";
@import "./common/exactDates";
@import "./common/footer";
@import "./common/specialistConsultation";
@import "./common/visitShowroom";
@import "./common/yourProject";

// BLOCKS
@import "./blocks/intro";
@import "./blocks/bestMaterials";
@import "./blocks/roomDimensions";
