@import "./fonts/fonts";
@import "./variables/variables";
@import "./reset/reset";
@import "./normalize/normalize";

// COMMON
@import "./common/common";
@import "./common/header";
@import "./common/introFeatures";
@import "./common/company";
@import "./common/designers";
@import "./common/dreamInterior";
@import "./common/finishedProject";
@import "./common/exactDates";
@import "./common/footer";
@import "./common/specialistConsultation";
@import "./common/visitShowroom";
@import "./common/yourProject";

// BLOCKS
@import "./blocks/intro";
@import "./blocks/bestMaterials";
@import "./blocks/roomDimensions";
