@import "./fonts/fonts";
@import "./variables/variables";
@import "./reset/reset";

// COMMON
@import "./common/common";
@import "./common/header";
@import "./common/company";
@import "./common/designers";
@import "./common/dreamInterior";
@import "./common/exactDates";
@import "./common/footer";
@import "./common/specialistConsultation";
@import "./common/visitShowroom";
@import "./common/yourProject";
