.about {
    padding-top: 140px;
    padding-bottom: 135px;
    background-color: $color-back;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        background-image: url("../img/about/map.svg");
        background-repeat: no-repeat;
        width: 57%;
        height: 75%;
        top: 17%;
        right: 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;

        position: relative;
        z-index: 1;

        &:before {
            position: absolute;
            content: "";
            background-image: url("../img/about/circle.svg");
            height: 275px;
            width: 275px;
            top: 50%;
            transform: translate(0, -50%);
            left: -10%;
        }

        &-back-img {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                background-image: url("../img/about/points.svg");
                height: 50px;
                width: 50px;
                top: -24px;
                left: -24px;
                z-index: -1;
            }

            &:after {
                position: absolute;
                content: "";
                height: 86px;
                width: 86px;
                bottom: -36px;
                right: -36px;
                background-color: #FFC107;
                border-radius: 10px;
                z-index: -1;
            }
        }

        &-img {
            margin: auto 0;
        }

        &-description {
            position: relative;

            margin-right: 10%;
            margin-left: 10%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            &-title {
                font-size: 40px;
                font-weight: 900;
                line-height: 50px;
                color: $color-btn;
            }

            &-text {
                color: $color-description;
                line-height: 26px;
                margin-top: 20px;
            }

            &-btn {
                margin-top: 30px;
                width: 140px;
                padding: 10px 25px;
            }
        }
    }

    @media (max-width: 915px) {
        
        &__content {

            &-back-img {
                height: 100%;
            }

            &-img {
                width: 320px;
            }

            &-description {
                margin-right: 5%;
            }
        }
    }

    @media (max-width: 780px) {
        
        &__content {

            &-img {
                width: 270px;
            }

            &-description {
                margin-right: 0;
            }
        }
    }

    @media (max-width: 660px) {
        padding-top: 15%;

        &:before {
            width: 100%;
            background-position: center;
            top: -14%;
        }

        &__content {
            flex-direction: column;

            &:before {
                top: 65%;
            }

            &-back-img {
                order: 1;
                margin-top: 10%;
            }

            &-img {
                width: 100%;
            }

            &-description {
                margin: 0;
            }
        }
    }

    @media (max-width: 400px) {
        
        &__content {

            &:before {
                width: 230px;
                height: 230px;
                top: 75%;
            }
        }
    }

    @media (max-width: 320px) {
        
        &__content {

            &:before {
                top: 78%;
            }
        }
    }
}