.company {
    padding: 160px 0 30px 0;

    &__content {

        &-items {
            display: flex;
            justify-content: space-between;
        }
    }

    @media (max-width: 690px) {
        
        &__content {

            &-items {
                flex-wrap: wrap;
            }

            &-item {
                width: 30%;
                display: flex;
                justify-content: center;

                margin-bottom: 40px;
            }
        }
    }

    @media (max-width: 520px) {

        &__content {

            &-item {
                width: 26%;
            }
        }
    }

    @media (max-width: 450px) {
        
        &__content {

            &-item {
                width: 42%;
            }
        }
    }
}