// COMMON

.container {
    max-width: 1050px;
    margin: 0 auto;
}


.btn {
    cursor: pointer;

    color: $white-color;
    padding: 12px 20px;
    background-color: $color-btn;
    border-radius: 4px;
    box-shadow: 0px 15px 25px rgba(0, 157, 152, 0.25);

    transition: background-color 0.2s;

    &:hover {
        background-color: darken($color-btn, 5%);
    }
}