.footer {
    height: 900px;
    background: url("../img/footer/footer-back.png") center no-repeat;
    background-size: cover;

    hr {
        border: 0.5px solid $white-color;
    }

    &__content {
        color: $white-color;
        padding-top: 610px;
        margin-bottom: 50px;

        &-items {
            display: flex;
            justify-content: space-between;
        }

        &-item {

            &-title {
                font-size: 24px;
                margin-bottom: 30px;
            }

            &-description {
                display: flex;
                flex-direction: column;

                &-link {
                    color: $white-color;
                    margin-bottom: 20px;

                    transition: opacity 0.2s;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:hover {
                        opacity: 0.7;
                    }
                }

                &-text {
                    line-height: 26px;
                }

                &-icons {

                    &-link {
                        margin-right: 20px;

                        &:last-child {
                            margin-right: 0;
                        }

                        svg {
                            transition: opacity 0.2s;
                        }

                        &:hover {
                            svg {
                                opacity: 0.7;
                            }
                        }
                    }
                } 
            }
        }

        &-text {
            text-align: center;
            color: $white-color;
            margin-top: 30px;
        }
    }

    @media (max-width: 670px) {
        
        &__content {
            padding-top: 590px;

            &-item {
                &:last-child {
                    width: 160px;
                }
            }
        }
    }

    @media (max-width: 550px) {
        height: 730px;
        
        &__content {
            padding-top: 300px;

            &-items {
                flex-wrap: wrap;
            }

            &-item {
                &:first-child,
                &:nth-child(2) {
                    width: 45%;
                }

                &:nth-child(2) {
                    text-align: end;
                }

                &:last-child {
                    margin-top: 30px;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 375px) {
        
        &__content {
            padding-top: 90px;

            &-item {

                &:first-child {
                    color: $color-description;

                    .footer__content-item-description {

                        &-link {
                            color: $color-description;
                        }

                        &-icons-link {
                            path {
                                fill: $color-description;
                            }
                        }
                    }
                }

                &:first-child,
                &:nth-child(2),
                &:last-child {
                    width: 100%;
                }

                &:nth-child(2) {
                    text-align: start;
                    margin-top: 30px;
                }
            }
        }
    }
}