.free {
    height: 720px;
    color: $white-color;

    background-image: url("../img/free/city.png");
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    &:before {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(8, 60, 76, 0.5), rgba(8, 60, 76, 0.5));
    }

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;

        position: relative;

        &-description {
            display: flex;
            flex-direction: column;
            justify-content: center;

            margin-bottom: 30px;

            &-title { 
                font-size: 40px;
                font-weight: 700;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            &-info {
                margin-top: 30px;

                &-address,
                &-location,
                &-phone {
                    margin-bottom: 28px;
                }
            }
        }

        &-message {
            width: 43%;
            margin-right: 6%;
            
            &-form {
                display: flex;
                flex-direction: column;

                &-label {
                    margin-bottom: 6px;
                }

                &-input {
                    resize: none;
                    background: rgba(0, 0, 0, 0.5);
                    border: 0;
                    box-shadow: 0px 10px 50px rgba(19, 15, 64, 0.1);
                    border-radius: 4px;

                    color: $white-color;
                    padding: 15px;
                    margin-bottom: 20px;

                    transition: background-color 0.4s, color 0.4s;

                    &:focus {
                        background-color: $white-color;
                        color: #000000;
                    }
                }

                &-btn {
                    width: 140px;
                    margin-top: 10px;
                    text-transform: uppercase;
                }
            }
        }
    }
}