.header {
    padding-top: 34px;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;

    transition: background-color 0.5s;

    &.header-active {
        background-color: $white-color;
        z-index: 20;
        position: fixed;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-nav {

            &-items {
                display: flex;
            }

            &-item {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-menu-btn {
            cursor: pointer;

            display: none;

            &-link {
                font-size: 0;
                color: transparent;

                padding: 8px 20px;

                span {
                    display: block;
                    position: relative;

                    background-color: $color-btn;
                    width: 20px;
                    height: 4px;
                    border-radius: 2px;

                    &:before,
                    &:after {
                        position: absolute;
                        content: "";
                        width: 24px;
                        height: 4px;
                        background-color: $color-btn;
                        border-radius: 2px;
                        left: -2px;

                        transition: all 0.2s;
                    }

                    &:before {
                        top: -8px;
                    }

                    &:after {
                        bottom: -8px;
                    }
                }

                &.menu-btn-active {

                    span {
                        background-color: transparent;

                        &:before,
                        &:after {
                            width: 26px;
                        }
    
                        &:before {
                            top: 2px;
                            transform: rotate(45deg);
                        }
    
                        &:after {
                            bottom: -2px;
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        &-mobile-nav {
            position: fixed;
            z-index: 15;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
    
            background-color: rgba(0, 0, 0, 0.8);
            overflow-y: auto;
            overflow-x: hidden;
            opacity: 0;
            visibility: hidden;
    
            text-align: center;
            transition: 0.5s all;
    
            &.mobile-nav-open {
                opacity: 1;
                visibility: visible;
    
                .header__content-mobile-nav-content {
                    opacity: 1;
                    transform: translate(0px, 25%);
                }
            }

            &-content {
                transition: 0.5s all;
                opacity: 0;
                transform: translate(0px, -100%);
                padding: 50px 0;

                background: $white-color;
            }

            &-item {
                margin-bottom: 20px;
            }
        }
    }

    @media (max-width: 800px) {
        
        &__content {

            &-nav {
                &-item {
                    margin-right: 20px;
                }
            }
        }
    }

    @media (max-width: 750px) {
        
        &__content {

            &-nav {
                display: none;
            }

            &-menu-btn {
                display: block;
            }
        }
    }
}