.header {
    padding-top: 34px;
    position: absolute;
    width: 100%;
    margin: 0 auto;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-nav {

            &-items {
                display: flex;
            }

            &-item {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                &-link {
                    color: $color-overhead-link;

                    transition: color 0.2s;

                    &:hover {
                        color: $color-btn;
                    }
                }
            }
        }
    }
}