.intro {
    height: 640px;
    background: url("../img/intro/intro-back.png") center no-repeat;
    background-size: cover;

    &__content {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        &-title {
            color: transparent;
            -webkit-text-stroke: 1.5px $main-color-title;
            font-size: 76px;
            line-height: 86/76 * 100%;

            span {
                letter-spacing: 2px;
            }
        }
    }

    @media (max-width: 500px) {
        
        &__content {

            &-title {
                font-size: 56px;

                span {
                    letter-spacing: 1.5px;
                }
            }
        }
    }

    @media (max-width: 400px) {
        
        &__content {

            &-title {
                font-size: 52px;
            }
        }
    }
}