<div class="best-materials new-block">
	<div class="container">
		<div class="best-materials__content">
			<h2 class="best-materials__content-title">Мастера бережно изготовят  мебель из лучших материалов</h2>
			<div class="best-materials__content-wrapper fl just_cont">
				<div class="best-materials__content-description">
					<h3 class="best-materials__content-description-title">Строго контролируем качество работ на собственном производстве</h3>
					<div class="best-materials__content-description-items">
						<div class="best-materials__content-description-item">
							<div class="best-materials__content-description-item-text">
								<p class="underline-text">
									У нас более 30 мастеров со стажем от 5 до 25 лет.
								</p>
							</div>
						</div>
						<div class="best-materials__content-description-item">
							<div class="best-materials__content-description-item-text">
								<p class="underline-text">
									Перед тем как попасть к нам в команду, технолог производства проверяет навыки кандидатов на реальном проекте.
								</p>
							</div>
						</div>
						<div class="best-materials__content-description-item">
							<div class="best-materials__content-description-item-text">
								<p>
									Мебель производим на итальянских роботизированных станках Fielder.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="best-materials__content-back-img">
					<img src="./img/blocks/willMakeFurniture.jpg" alt="will make furniture" class="best-materials__content-img">
				</div>
			</div>
			<div class="best-materials__content-table">
				<h3 class="best-materials__content-table-title">Изготавливаем мебель только из проверенных годами материалов</h3>
				<div class="best-materials__content-table-items fl just_cont">
					<div class="best-materials__content-table-item">
						<h3 class="best-materials__content-table-item-title">Фасады</h3>
						<div class="best-materials__content-table-item-wrapper fl">
							<div class="best-materials__content-table-item-materials">
								<h4 class="best-materials__content-table-item-description">МДФ в пленке ПВХ/эмали</h4>
								<h4 class="best-materials__content-table-item-description">HPL пластики ARPA</h4>
								<h4 class="best-materials__content-table-item-description">Fenix</h4>
								<h4 class="best-materials__content-table-item-description">RMMA пластики Adelkries</h4>
								<h4 class="best-materials__content-table-item-description">Шпон и массив</h4>
							</div>
							<div class="best-materials__content-table-item-country">
								<h4 class="best-materials__content-table-item-description">Россия</h4>
								<h4 class="best-materials__content-table-item-description">Италия</h4>
								<h4 class="best-materials__content-table-item-description">Италия</h4>
								<h4 class="best-materials__content-table-item-description">Германия</h4>
								<h4 class="best-materials__content-table-item-description">Россия</h4>
							</div>
						</div>
					</div>
					<div class="best-materials__content-table-item">
						<h3 class="best-materials__content-table-item-title">ЛДСП</h3>
						<div class="best-materials__content-table-item-wrapper fl">
							<div class="best-materials__content-table-item-materials">
								<h4 class="best-materials__content-table-item-description">Ламарти</h4>
								<h4 class="best-materials__content-table-item-description">Югра-плит</h4>
								<h4 class="best-materials__content-table-item-description">Увадрев</h4>
								<h4 class="best-materials__content-table-item-description">Egger</h4>
							</div>
							<div class="best-materials__content-table-item-country">
								<h4 class="best-materials__content-table-item-description">Россия</h4>
								<h4 class="best-materials__content-table-item-description">Россия</h4>
								<h4 class="best-materials__content-table-item-description">Россия</h4>
								<h4 class="best-materials__content-table-item-description">Россия</h4>
							</div>
						</div>
					</div>
					<div class="best-materials__content-table-item">
						<h3 class="best-materials__content-table-item-title">Фурнитура</h3>
						<div class="best-materials__content-table-item-wrapper fl">
							<div class="best-materials__content-table-item-materials">
								<h4 class="best-materials__content-table-item-description">Hettich</h4>
								<h4 class="best-materials__content-table-item-description">Blum</h4>
								<h4 class="best-materials__content-table-item-description">Boyard</h4>
								<h4 class="best-materials__content-table-item-description">Furnitex</h4>
							</div>
							<div class="best-materials__content-table-item-country">
								<h4 class="best-materials__content-table-item-description">Германия</h4>
								<h4 class="best-materials__content-table-item-description">Австрия</h4>
								<h4 class="best-materials__content-table-item-description">Россия</h4>
								<h4 class="best-materials__content-table-item-description">Италия</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="best-materials__content-table-back-button fl">
					<button type="button" class="best-materials__content-table-button">Посмотреть весь каталог</button>
				</div>
			</div>
		</div>
	</div>
</div>