<div class="portfolio">
	<div class="container">
		<div class="portfolio__content">
			@@include("./common/title.html", {
				"overhead": "Главная / <span>Портфолио / По стилям дизайна</span>",
				"title": "Портфолио работ по стилям"
			})
			<div class="portfolio__content-wrapper">
				<div class="portfolio__content-category-items">
					<div class="portfolio__content-category-item">
						<h2 class="portfolio__content-category-item-title">Стиль лофт</h2>
						<ul class="portfolio__content-items fl">
							@@loop("./portfolio/cardPortfolio.html", [
								{ "imgs": [
									"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
								],
									"title": "Дизайн-проект в стиле лофт"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
									],
									"title": "Прихожая с шкаф-купе"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
									],
									"title": "Кухня в стиле прованс"
								}
							])
							<li class="category-items__content-block">
								<div class="category-items__content-block-back-img">
									<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
								</div>
								<div class="category-items__content-block-back-link">
									<a href="#" class="category-items__content-block-link">Тумба под ТВ</a>
								</div>
							</li>
							@@loop("./portfolio/cardPortfolio.html", [
								{ "imgs": [
									"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
								],
								"title": "Дизайн-проект в стиле лофт"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
									],
									"title": "Прихожая с шкаф-купе"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
									],
									"title": "Кухня в стиле прованс"
								}
							])
							<li class="category-items__content-block">
								<div class="category-items__content-block-back-img">
									<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
								</div>
								<div class="category-items__content-block-back-link">
									<a href="#" class="category-items__content-block-link">Тумба под ТВ</a>
								</div>
							</li>
							@@loop("./portfolio/cardPortfolio.html", [
								{ "imgs": [
									"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
								],
								"title": "Дизайн-проект в стиле лофт"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
									],
									"title": "Прихожая с шкаф-купе"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
									],
									"title": "Кухня в стиле прованс"
								}
							])
							<li class="category-items__content-block">
								<div class="category-items__content-block-back-img">
									<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
								</div>
								<div class="category-items__content-block-back-link">
									<a href="#" class="category-items__content-block-link">Тумба под ТВ</a>
								</div>
							</li>
						</ul>
					</div>
					<div class="portfolio__content-category-item">
						<h2 class="portfolio__content-category-item-title">Стиль Прованс</h2>
						<ul class="portfolio__content-items fl">
							@@loop("./portfolio/cardPortfolio.html", [
								{ "imgs": [
									"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
								],
									"title": "Дизайн-проект в стиле лофт"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
									],
									"title": "Прихожая с шкаф-купе"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
									],
									"title": "Кухня в стиле прованс"
								}
							])
							<li class="category-items__content-block">
								<div class="category-items__content-block-back-img">
									<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
								</div>
								<div class="category-items__content-block-back-link">
									<a href="#" class="category-items__content-block-link">Тумба под ТВ</a>
								</div>
							</li>
							@@loop("./portfolio/cardPortfolio.html", [
								{ "imgs": [
									"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
								],
								"title": "Дизайн-проект в стиле лофт"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
									],
									"title": "Прихожая с шкаф-купе"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
									],
									"title": "Кухня в стиле прованс"
								}
							])
							<li class="category-items__content-block">
								<div class="category-items__content-block-back-img">
									<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
								</div>
								<div class="category-items__content-block-back-link">
									<a href="#" class="category-items__content-block-link">Тумба под ТВ</a>
								</div>
							</li>
							@@loop("./portfolio/cardPortfolio.html", [
								{ "imgs": [
									"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
									"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
								],
								"title": "Дизайн-проект в стиле лофт"
								},
								{
									"imgs": [
										"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
										"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
									],
									"title": "Прихожая с шкаф-купе"
								}
							])
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>