<div class="room-dimensions">
	<div class="container">
		<div class="room-dimensions__content fl just_cont">
			<div class="room-dimensions__content-description">
				<h2 class="room-dimensions__content-description-title">Замерщики точно снимут размеры помещения</h2>
				<div class="room-dimensions__content-description-items fl just_cont">
					<div class="room-dimensions__content-description-item">
						<div class="room-dimensions__content-description-item-text">
							<p>
								Поэтому вся мебель безупречно впишется в пространство.
							</p>
						</div>
					</div>
					<div class="room-dimensions__content-description-item">
						<div class="room-dimensions__content-description-item-text">
							<p>
								Как проходит замер и условия предоставления вы можете посмотреть здесь.
							</p>
						</div>
					</div>
				</div>
				<div class="room-dimensions__content-description-back-button">
					<button class="room-dimensions__content-description-button button">Заказать замер</button>
				</div>
			</div>
			<div class="room-dimensions__content-back-img back-img-demonstration">
				<img src="./img/blocks/accurateMeasurement.jpg" alt="room" class="room-dimensions__content-img">
			</div>
		</div>
	</div>
</div>