<div class="subcategory">
	@@include("./common/popup.html", {
		"classPopup": "subcategory__popup",
		"classBtnClose": "subcategory__popup-close-btn",
		"title": "Узнать стоимость изделия"
	})
	<div class="container">
		<div class="subcategory__content">
			<div class="subcategory__content-back-title">
				@@include("./common/title.html", {
					"overhead": "Каталог / Кухни / <span>Угловые кухни</span>",
					"title": "Угловые кухни на заказ"
				})
			</div>
			<div class="subcategory__content-wrapper fl just_cont">
				@@include("./common/navigation.html", {
					"classEl": "custom-furniture__content-nav-1"
				})
				@@include("./subcategory/workOrder.html")
			</div>
		</div>
	</div>
</div>