<div class="about new-block">
	<div class="container">
		<div class="about__content fl just_cont">
			<div class="about__content-description">
				<h2 class="about__content-description-title">О нашем магазине</h2>
				<div class="about__content-description-back-text">
					<div class="about__content-description-text">
						<p class="description-text-2">
							В каталоге нашего интернет-магазина более 570 коллекций керамической плитки и керамогранита от лучших производителей России и Европы.
						</p>
					</div>
					<div class="about__content-description-text">
						<p class="description-text-2">
							В наличии имеются эксклюзивные бренды, которые вы не найдете в других магазинах Иркутска. Вся продукция оригинальная от производителей по установленной заводом цене.
						</p>
					</div>
					<div class="about__content-description-text">
						<p class="description-text-2">
							Услуги для вашего удобства: резка плитки, выезд на замер и расчет материалов. При покупке плитки дарим дизайн-проект вашего помещения в подарок.
						</p>
					</div>
					<div class="about__content-description-text">
						<p class="description-text-2">
							Возможна доставка плитки в день заказа.
						</p>
					</div>
				</div>
			</div>
			<div class="about__content-back-imgs fl">
				<div class="about__content-back-imgs-wrapper fl">
					<img src="./img/about/about-1.jpg" alt="building" class="about__content-img">
				</div>
				<div class="about__content-back-imgs-wrapper fl">
					<img src="./img/about/about-2.jpg" alt="premises" class="about__content-img">
					<img src="./img/about/about-3.jpg" alt="premises" class="about__content-img">
				</div>
			</div>
		</div>
	</div>
</div>