<div class="characteristics">
	<div class="container">
		<div class="characteristics__content">
			<div class="characteristics__content-wrapper fl just_cont">
				<ul class="characteristics__content-items fl">
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Применение
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Применение 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Применение 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Применение 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Поверхность
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Поверхность 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Поверхность 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Поверхность 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Рисунок
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Рисунок 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Рисунок 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Рисунок 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Стилистика
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Стилистика 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Стилистика 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Стилистика 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Цвет
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Цвет 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Цвет 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Цвет 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Размер элемента
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Размер элемента 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Размер элемента 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Размер элемента 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Тип плитки
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Тип плитки 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Тип плитки 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Тип плитки 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Формат
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Формат 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Формат 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Формат 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="characteristics__content-item fl">
						<div class="characteristics__content-item-back-btn fl al_it just_cont">
							<button class="characteristics__content-item-btn fl al_it">
								Страна
							</button>
							<div class="characteristics__content-item-back-btn-back-img fl al_it">
								<svg width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1L6.49999 9L12 1" stroke="#6F6F6F" stroke-width="2"/>
								</svg>
							</div>
						</div>
						<div class="characteristics__content-item-menu">
							<div class="characteristics__content-item-menu-content">
								<div class="characteristics__content-item-menu-content-items">
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Страна 1
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Страна 2
											</p>
										</div>
									</div>
									<div class="characteristics__content-item-menu-content-item">
										<div class="characteristics__content-item-menu-content-item-text">
											<p>
												Страна 3
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>