<div class="intro">
	<div class="intro__container">
		<div class="intro__container-slider">
			<div class="intro__container-slider-list">
				<div class="intro__container-slider-slide intro-slide-active slide">
					<div class="intro__container-slider-slide-wrapper">
						<div class="intro__container-slider-slide-back-img fl">
							<img src="./img/intro/intro-1.jpg" alt="collections" class="intro__container-slider-slide-img">
						</div>
						<div class="container">
							<div class="intro__container-slider-slide-description fl">
								<h4 class="intro__container-slider-slide-description-overhead">коллекция 2020 года</h4>
								<div class="intro__container-slider-slide-description-wrapper fl">
									<h1 class="intro__container-slider-slide-description-title">Casabella</h1>
									<div class="intro__container-slider-slide-description-back-link">
										<a href="#" class="intro__container-slider-slide-description-link link-back-title fl al_it">
											<p>СКИДКА 20% до 25 августа</p>
											<span class="fl al_it">
												<svg width="12" height="16" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M16.3994 27L30 13.5L16.3994 0L13.7755 2.59003L22.8863 11.619H0V15.381H22.8863L13.7755 24.4244L16.3994 27Z" fill="#ffffff"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="intro__container-slider-slide slide">
					<div class="intro__container-slider-slide-wrapper">
						<div class="intro__container-slider-slide-back-img fl">
							<img src="./img/intro/intro-2.jpg" alt="collections" class="intro__container-slider-slide-img">
						</div>
						<div class="container">
							<div class="intro__container-slider-slide-description fl">
								<h4 class="intro__container-slider-slide-description-overhead">коллекция 2020 года</h4>
								<div class="intro__container-slider-slide-description-wrapper fl">
									<h1 class="intro__container-slider-slide-description-title">Casabella</h1>
									<div class="intro__container-slider-slide-description-back-link">
										<a href="#" class="intro__container-slider-slide-description-link link-back-title fl al_it">
											<p>СКИДКА 20% до 25 августа</p>
											<span class="fl al_it">
												<svg width="12" height="16" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M16.3994 27L30 13.5L16.3994 0L13.7755 2.59003L22.8863 11.619H0V15.381H22.8863L13.7755 24.4244L16.3994 27Z" fill="#ffffff"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="intro__container-slider-slide slide">
					<div class="intro__container-slider-slide-wrapper">
						<div class="intro__container-slider-slide-back-img fl">
							<img src="./img/intro/intro-1.jpg" alt="collections" class="intro__container-slider-slide-img">
						</div>
						<div class="container">
							<div class="intro__container-slider-slide-description fl">
								<h4 class="intro__container-slider-slide-description-overhead">коллекция 2020 года</h4>
								<div class="intro__container-slider-slide-description-wrapper fl">
									<h1 class="intro__container-slider-slide-description-title">Casabella</h1>
									<div class="intro__container-slider-slide-description-back-link">
										<a href="#" class="intro__container-slider-slide-description-link link-back-title fl al_it">
											<p>СКИДКА 20% до 25 августа</p>
											<span class="fl al_it">
												<svg width="12" height="16" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M16.3994 27L30 13.5L16.3994 0L13.7755 2.59003L22.8863 11.619H0V15.381H22.8863L13.7755 24.4244L16.3994 27Z" fill="#ffffff"/>
												</svg>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="intro__container-slider-back-btns fl al_it">
					<button type="button" data-position-slide="1" class="intro__container-slider-btn intro-slider-btn-active ">Button</button>
					<button type="button" data-position-slide="2" class="intro__container-slider-btn">Button</button>
					<button type="button" data-position-slide="3" class="intro__container-slider-btn">Button</button>
				</div>
			</div>
		</div>
	</div>
</div>