<div class="new-items new-block">
	<div class="container">
		<div class="new-items__content">
			<div class="new-items__content-back-title fl al_it just_cont">
				<h2 class="new-items__content-title">Новинки в каталоге</h2>
				<div class="new-items__content-back-link">
					<a href="#" class="new-items__content-link link-back-title fl al_it">
						<p>Все коллекции</p>
						<span class="fl al_it">
							<svg width="12" height="16" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.3994 27L30 13.5L16.3994 0L13.7755 2.59003L22.8863 11.619H0V15.381H22.8863L13.7755 24.4244L16.3994 27Z" fill="#ffffff"/>
							</svg>
						</span>
					</a>
				</div>
			</div>
			<div class="new-items__content-back-imgs fl just_cont">
				<div class="new-items__content-back-imgs-wrapper fl just_cont">
					<div class="new-items__content-back-img fl blackout-blanket">
						<img src="./img/newItems/new-items-1.jpg" alt="service" class="new-items__content-img">
						<div class="new-items__content-back-img-description">
							<h4 class="new-items__content-back-img-description-overhead">Новая эксклюзивная коллекция от Laparet</h4>
							<h2 class="new-items__content-back-img-description-title">
								<a href="#" class="new-items__content-back-img-description-title-link">МоноТиберио</a>
							</h2>
							<div class="new-items__content-back-img-description-back-country fl al_it">
								<img src="./img/icons/countries/Italy.svg" alt="Italy" class="new-items__content-back-img-description-country">
								<h4 class="new-items__content-back-img-description-country-title">Италия</h4>
							</div>
						</div>
					</div>
					<div class="new-items__content-back-img fl blackout-blanket">
						<img src="./img/newItems/new-items-2.jpg" alt="service" class="new-items__content-img">
						<div class="new-items__content-back-img-description">
							<h4 class="new-items__content-back-img-description-overhead">Новая коллекция от Casabella</h4>
							<h2 class="new-items__content-back-img-description-title">
								<a href="#" class="new-items__content-back-img-description-title-link">MONO</a>
							</h2>
							<div class="new-items__content-back-img-description-back-country fl al_it">
								<img src="./img/icons/countries/Italy.svg" alt="Italy" class="new-items__content-back-img-description-country">
								<h4 class="new-items__content-back-img-description-country-title">Италия</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="new-items__content-back-imgs-wrapper fl">
					<div class="new-items__content-back-img fl blackout-blanket">
						<img src="./img/newItems/new-items-3.jpg" alt="service" class="new-items__content-img">
						<div class="new-items__content-back-img-description">
							<h4 class="new-items__content-back-img-description-overhead">Новая эксклюзивная коллекция от Laparet</h4>
							<h2 class="new-items__content-back-img-description-title">
								<a href="#" class="new-items__content-back-img-description-title-link">SIMPLE</a>
							</h2>
							<div class="new-items__content-back-img-description-back-country fl al_it">
								<img src="./img/icons/countries/Russia.svg" alt="Russia" class="new-items__content-back-img-description-country">
								<h4 class="new-items__content-back-img-description-country-title">Россия</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>