<div class="popular-queries">
	<div class="container">
		<div class="popular-queries__content">
			<div class="popular-queries__content-wrapper fl al_it">
				<h4 class="popular-queries__content-title">Популярные<br>запросы:</h4>
				<ul class="popular-queries__content-items fl al_it just_cont">
					<li class="popular-queries__content-item">
						<a href="#" class="popular-queries__content-item-link">Крупные форматы плитки</a>
					</li>
					<li class="popular-queries__content-item">
						<a href="#" class="popular-queries__content-item-link">Плитка для пола</a>
					</li>
					<li class="popular-queries__content-item">
						<a href="#" class="popular-queries__content-item-link">Плитка для пола</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>