<div class="services new-block">
	<div class="container">
		<div class="services__content">
			<h2 class="services__content-title">Услуги компании</h2>
			<div class="services__content-back-imgs fl just_cont">
				<div class="services__content-back-imgs-wrapper fl">
					<img src="./img/services/services-1.jpg" alt="cutting tiles" class="services__content-img">
					<div class="services__content-description">
						<div class="services__content-description-content">
							<h2 class="services__content-description-content-title-main">Профессиональная резка плитки и керамогранита</h2>
							<h4 class="services__content-description-content-subhead">На профессиональном оборудовании</h4>
						</div>
					</div>
				</div>
				<div class="services__content-back-imgs-wrapper fl just_cont">
					<div class="services__content-back-imgs-wrapper-for-description fl">
						<img src="./img/services/services-2.jpg" alt="non-standard products" class="services__content-img">
						<div class="services__content-description">
							<div class="services__content-description-content">
								<h2 class="services__content-description-content-title-secondary">Изготовление нестандартных изделий</h2>
								<h4 class="services__content-description-content-subhead">Столы, столешницы, раковины</h4>
							</div>
						</div>
					</div>
					<div class="services__content-back-imgs-wrapper-for-description fl">
						<img src="./img/services/services-3.jpg" alt="3D models" class="services__content-img">
						<div class="services__content-description">
							<div class="services__content-description-content">
								<h2 class="services__content-description-content-title-secondary">Разработка индивидуального 3D-дизайна</h2>
								<h4 class="services__content-description-content-subhead">Интерьера вашей мечты из нашей керамики</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>