@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 16px;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    margin: 0 40px;
  }
}

.intro-back-overtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: #1C57C9;
  letter-spacing: 8px;
}

.intro-back-title {
  margin-top: 16px;
  color: #262B35;
}

.color-back-icon-red {
  background-color: #F1C1C9;
}

.color-back-icon-blue {
  background-color: #C5D7F2;
}

.color-back-icon-green {
  background-color: #C5F2DC;
}

.color-back-icon-yellow {
  background-color: #FAE3AF;
}

.wrapper-services-testimonials {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-9.97%, rgba(255, 255, 255, 0)), to(#ECF0F7));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -9.97%, #ECF0F7 100%);
}

.header {
  padding-top: 16px;
  padding-bottom: 20px;
  background: #FBFCFF;
  top: -80px;
  -webkit-transition: top 0.6s;
  transition: top 0.6s;
}

.header.header-active {
  position: fixed;
  z-index: 20;
  top: 0;
  -webkit-transition: top 0.6s;
  transition: top 0.6s;
  width: 100%;
  -webkit-box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);
}

.header.header-active .header__content-nav-item-link {
  color: #262B35;
}

.header.header-active .header__content-back-logo svg path:last-child {
  fill: #1C57C9;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

.header__content-back-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content-back-logo-title {
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 12px;
}

.header__content-nav {
  margin-left: 8%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__content-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header__content-nav-item {
  margin-right: 42px;
}

.header__content-nav-item:last-child {
  margin-right: 0;
}

.header__content-nav-item-link {
  color: #FFFFFF;
  opacity: 0.6;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.header__content-nav-item-link:hover {
  opacity: 1;
}

.header__content-back-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content-back-login-sign {
  margin-right: 34px;
  position: relative;
}

.header__content-back-login-sign:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  right: -17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #D4D4D4;
}

.header__content-back-login-sign-link, .header__content-back-login-start-link {
  color: #262B35;
  font-size: 14px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__content-back-login-sign-link:hover, .header__content-back-login-start-link:hover {
  color: #1ECE7A;
}

.intro {
  padding-top: 62px;
  margin-bottom: 160px;
  padding-bottom: 60px;
  background: #FBFCFF;
}

.intro.intro-active {
  padding-top: 140px;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 5;
}

.intro__content:before {
  position: absolute;
  content: "";
  width: 86%;
  height: 150%;
  top: -140px;
  left: -120px;
  background-color: #1C57C9;
  z-index: -1;
  border-bottom-right-radius: 500px;
}

.intro__content:after {
  position: absolute;
  content: "";
  background-image: url("../img/common/points-white.svg");
  bottom: -170px;
  left: -110px;
  width: 240px;
  height: 170px;
  z-index: -1;
}

.intro__content-description {
  max-width: 600px;
}

.intro__content-description-title {
  color: #FFFFFF;
  font-size: 56px;
  line-height: 128.57143%;
}

.intro__content-description-title span {
  color: #1ECE7A;
}

.intro__content-description-text {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 160%;
  margin-top: 36px;
}

.intro__content-description-back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.intro__content-description-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  font-weight: 700;
  padding: 13px 22px;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  -webkit-transition: background-color 0.2s, border 0.2s;
  transition: background-color 0.2s, border 0.2s;
}

.intro__content-description-btn:hover {
  background-color: #1ECE7A;
  border: 1px solid #1ECE7A;
}

.intro__content-description-btn:first-child {
  margin-right: 16px;
}

.intro__content-back-img {
  width: 37%;
  position: relative;
}

.intro__content-back-img:after {
  position: absolute;
  content: "";
  background-image: url("../img/intro/small.png");
  width: 370px;
  height: 250px;
  bottom: -140px;
  left: 170px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
}

.intro__content-img {
  border-radius: 24px;
  width: 100%;
  max-width: 440px;
  height: auto;
  -webkit-filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
}

.threat {
  margin-top: 280px;
}

.threat__content {
  color: #606C84;
  max-width: 960px;
  font-size: 20px;
  font-style: italic;
  line-height: 160%;
  font-weight: 500;
  position: relative;
}

.threat__content:after {
  position: absolute;
  content: "";
  background-image: url("../img/common/points-grey.svg");
  top: -250px;
  right: -330px;
  width: 240px;
  height: 340px;
  z-index: -1;
}

.features {
  margin-top: 130px;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__content-back-img {
  width: 100%;
  margin: 0 auto;
  margin-top: 56px;
}

.features__content-img {
  width: 100%;
  max-width: 460px;
  height: auto;
}

.features__content-description {
  max-width: 600px;
}

.features__content-description-text {
  margin-top: 24px;
  color: #606C84;
  font-size: 18px;
  line-height: 155.55556%;
}

.features__content-description-items {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__content-description-item {
  max-width: 45%;
}

.features__content-description-item:first-child, .features__content-description-item:nth-child(2) {
  margin-bottom: 60px;
}

.features__content-description-item-img {
  padding: 10px;
  border-radius: 24px;
}

.features__content-description-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #262B35;
  margin-top: 36px;
}

.features__content-description-item-text {
  line-height: 150%;
  color: #606C84;
  margin-top: 16px;
}

.update {
  margin-top: 260px;
  position: relative;
}

.update:before {
  position: absolute;
  content: "";
  right: 47%;
  top: 160px;
  width: 170px;
  height: 240px;
  background-image: url("../img/common/points-grey.svg");
}

.update .update-content-wrapper {
  position: relative;
}

.update .update-content-wrapper:before, .update .update-content-wrapper:after {
  position: absolute;
  content: "";
}

.update .update-content-wrapper:before {
  left: -90px;
  bottom: -20px;
  width: 240px;
  height: 320px;
  background-image: url("../img/common/points-grey.svg");
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.update .update-content-wrapper:after {
  right: -120px;
  bottom: 30px;
  width: 240px;
  height: 170px;
  background-image: url("../img/common/points-white.svg");
}

.update__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-bottom: 300px;
}

.update__content:before {
  position: absolute;
  content: "";
  width: 64%;
  height: 100%;
  top: -56px;
  right: -120px;
  background-color: #1C57C9;
  z-index: -1;
  border-bottom-left-radius: 260px;
}

.update__content-back-intro {
  max-width: 440px;
}

.update__content-back-img {
  width: 52%;
}

.update__content-back-img-wrapper {
  position: relative;
  text-align: end;
}

.update__content-back-img-wrapper:before, .update__content-back-img-wrapper:after {
  position: absolute;
  content: "";
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16);
  left: -120px;
  background-repeat: no-repeat;
}

.update__content-back-img-wrapper:before {
  background-image: url("../img/update/img-1.png");
  width: 320px;
  height: 240px;
  top: 60px;
}

.update__content-back-img-wrapper:after {
  background-image: url("../img/update/img-3.png");
  width: 440px;
  height: 400px;
  bottom: -170px;
}

.update__content-img {
  margin-top: 124px;
  border-radius: 24px;
  -webkit-filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.16));
}

.update__content-description {
  max-width: 42%;
  padding-right: 40px;
}

.update__content-description-items {
  margin-top: 50px;
}

.update__content-description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.update__content-description-item:last-child {
  margin-bottom: 0;
}

.update__content-description-item-back-img {
  margin-right: 30px;
}

.update__content-description-item-img {
  padding: 12px;
  background-color: #FFFFFF;
}

.update__content-description-item-content {
  color: #FFFFFF;
}

.update__content-description-item-content-title {
  font-size: 18px;
  font-weight: 600;
}

.update__content-description-item-content-text {
  margin-top: 16px;
  line-height: 150%;
}

.services {
  margin-top: 115px;
}

.services__content-back-intro {
  text-align: center;
}

.services__content-back-intro-text {
  color: #606C84;
  font-size: 18px;
  margin-top: 24px;
}

.services__content-back-img {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__content-section-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 120px;
}

.services__content-section-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 20px 0 20px 24px;
}

.services__content-section-item-back-img {
  margin-right: 30px;
  width: 56px;
  height: 56px;
  border-radius: 24px;
}

.services__content-section-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.services__content-section-item-title {
  font-size: 18px;
  line-height: 133.33333%;
}

.testimonials {
  margin-top: 180px;
  padding-bottom: 160px;
}

.testimonials__content-back-intro {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
}

.testimonials__content-wrapper-items {
  position: relative;
  overflow: hidden;
}

.testimonials__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  padding: 20px 20px 78px 20px;
  position: relative;
}

.testimonials__content-items-btn {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  padding: 9px 10px;
  background-color: rgba(38, 43, 53, 0.4);
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.testimonials__content-items-btn:hover {
  background-color: rgba(38, 43, 53, 0.7);
}

.testimonials__content-items-btn.testimonials-btn-prev {
  left: 0;
}

.testimonials__content-items-btn.testimonials-btn-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonials__content-items-btn.testimonials-btn-next {
  right: 0;
}

.testimonials__content-item {
  padding: 30px 90px 30px 30px;
  border-radius: 24px;
  background-color: #FFFFFF;
  margin-right: 6%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  -webkit-box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 20px 48px rgba(0, 0, 0, 0.06);
  position: relative;
}

.testimonials__content-item:last-child {
  margin-right: 0;
}

.testimonials__content-item:after {
  position: absolute;
  content: "";
  width: 74px;
  height: 64px;
  bottom: 40px;
  right: 40px;
  background-image: url("../img/testimonials/quote.svg");
}

.testimonials__content-item-description {
  font-size: 20px;
  line-height: 160%;
  color: #262B35;
}

.testimonials__content-item-photo {
  position: absolute;
  top: -20px;
  right: -16px;
}

.testimonials__content-item-name {
  margin-top: 42px;
  font-size: 18px;
  color: #262B35;
}

.testimonials__content-item-specialty {
  color: #262B35;
  margin-top: 12px;
}

.testimonials__content-back-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__content-btn {
  cursor: pointer;
  color: transparent;
  font-size: 0;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #606C84;
  margin-right: 20px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.testimonials__content-btn.testimonials-btn-active {
  background-color: #1C57C9;
}

.testimonials__content-btn:last-child {
  margin-right: 0;
}

.testimonials__content-btn:hover {
  background-color: #8b96ab;
}

.contact {
  margin-top: 180px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__content-back-intro {
  max-width: 420px;
  margin-right: 13.5%;
  margin-top: 32px;
}

.contact__content-back-intro-back-img {
  margin-top: 42px;
}

.contact__content-back-form {
  width: 35%;
}

.contact__content-form-back-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 16px;
}

.contact__content-form-label {
  cursor: pointer;
}

.contact__content-form-input {
  outline: none;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  resize: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  margin-top: 16px;
  font-size: 18px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.contact__content-form-input:focus {
  background-color: #CCCCCC;
}

.contact__content-form-btn {
  border: 0;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  color: #FFFFFF;
  padding: 14px 38px;
  margin-top: 20px;
  background-color: #1ECE7A;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.contact__content-form-btn:hover {
  background-color: #18a160;
}

.footer {
  margin-top: 190px;
}

.footer__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-item-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content-item-description-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 18px;
}

.footer__content-item-description-back-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content-item-description-back-logo-title {
  color: #1C57C9;
  font-size: 24px;
  margin-left: 12px;
}

.footer__content-item-description-text {
  margin-top: 44px;
  font-size: 20px;
  font-weight: 400;
}

.footer__content-item-description-text-2 {
  margin-top: 28px;
}

.footer__content-item-description-text-link {
  color: #000000;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer__content-item-description-text-link:hover {
  color: #1C57C9;
}

.footer__content-item-description-back-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
}

.footer__content-item-description-back-link:last-child {
  margin-bottom: 0;
}

.footer__content-item-description-link {
  color: #606C84;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 18px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer__content-item-description-link:last-child {
  margin-bottom: 0;
}

.footer__content-item-description-link:hover {
  color: #1C57C9;
}

.footer__content-item-description-link-icon {
  margin-right: 16px;
}

.footer__content-text {
  font-size: 20px;
  line-height: 150%;
  margin-top: 92px;
  margin-bottom: 30px;
  text-align: center;
}
