@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;
  font-family: "Nunito", sans-serif;
  background: #F2F2F2;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.back-title {
  text-align: center;
  color: #415167;
  padding-top: 75px;
  margin-bottom: 60px;
}

.back-title .overhead {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 600;
}

.back-title .subtitle {
  font-family: "Montserrat";
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btns {
  text-transform: uppercase;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  cursor: pointer;
  color: #F9F5E8;
  background-color: #C7A17A;
  padding: 4px 16px;
  border-radius: 25px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #b88856;
}

.btn-next,
.btn-prev {
  position: absolute;
  top: 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-color: #C7A17A;
  border-radius: 50%;
  padding: 12px 8px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.btn-next:hover,
.btn-prev:hover {
  background-color: #b88856;
}

.btn-next {
  right: -5%;
}

.btn-prev {
  left: -5%;
}

.btn-prev img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.intro {
  position: relative;
}

.intro__container {
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14%;
}

.intro__back-title_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8%;
  margin-right: 10%;
  position: relative;
}

.intro__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Ninito", sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 12px;
  line-height: 1;
  text-transform: lowercase;
}

.intro__logo span {
  font-size: 7px;
  letter-spacing: 0.6px;
}

.intro__back-title {
  margin-top: auto;
  margin-bottom: 64px;
}

.intro__title {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: #415167;
  position: absolute;
  left: 0;
  bottom: 10%;
}

.intro__title span {
  color: #EDF0F5;
  position: relative;
  z-index: 1;
}

.intro__title span:after {
  position: absolute;
  content: "";
  top: 0;
  left: -12px;
  width: 106%;
  height: 100%;
  z-index: -1;
  background-color: #C7A17A;
}

.intro__content-video video {
  height: 100vh;
}

.intro__header {
  background-color: #415167;
  height: 100vh;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__header-nav-shopping {
  margin-top: 50px;
}

.intro__header-nav-shopping-link {
  position: relative;
  cursor: pointer;
}

.intro__header-nav-shopping-link:before {
  position: absolute;
  content: "2";
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: #C7A17A;
  top: -16px;
  right: -12px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__header-nav-items {
  margin-top: 100px;
}

.intro__header-nav-item {
  margin-bottom: 26px;
}

.intro__header-nav-item:last-child {
  margin-bottom: 0;
}

.intro__header-nav-item-link {
  text-transform: uppercase;
  color: #EDF0F5;
  opacity: 0.7;
  font-size: 14px;
  -webkit-transition: color 0.2s, opacity 0.2s;
  transition: color 0.2s, opacity 0.2s;
}

.intro__header-nav-item-link:hover {
  color: #fff;
  opacity: 1;
}

.personalized__container {
  width: 80%;
  margin: 0 auto;
}

.personalized__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.personalized__content-item {
  max-width: 21%;
  text-align: center;
}

.personalized__content-item-img {
  margin-bottom: 40px;
}

.personalized__content-item-title {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 12px;
  color: #232C38;
}

.personalized__content-item-text {
  color: #151D28;
  font-size: 14px;
}

.choose {
  margin-top: 120px;
  position: relative;
  background: #F2F2F2;
  padding-bottom: 140px;
}

.choose:after {
  position: absolute;
  content: "";
  background: #415167;
  width: 30%;
  height: 100%;
  top: 0;
  z-index: 1;
  left: 0;
}

.choose__container {
  max-width: 1040px;
  margin: 0 auto;
}

.choose__content {
  position: relative;
  z-index: 5;
}

.choose__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  -webkit-transition: left 0.6s;
  transition: left 0.6s;
  position: relative;
  height: 510px;
}

.choose__content-items-wrapper {
  overflow: hidden;
  position: relative;
}

.choose__content-item {
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-right: 20px;
  background: #FFF;
}

.choose__content-item:nth-child(2), .choose__content-item:nth-child(4), .choose__content-item:nth-child(6) {
  margin-bottom: 0;
}

.choose__content-item-back-img {
  height: 240px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose__content-item-description {
  padding: 32px;
}

.choose__content-item-price {
  color: #C7A17A;
  margin-bottom: 8px;
  font-weight: 600;
}

.choose__content-item-title {
  color: #232C38;
  margin-bottom: 24px;
  font-size: 18px;
}

.choose__content-item-text {
  color: #151D28;
  margin-bottom: 30px;
}

.choose__content-item-btn-1 {
  margin-right: 30px;
}

.choose__content-item-btn-2 {
  cursor: pointer;
  color: #415167;
}

.footer {
  background-color: #EDF0F5;
}

.footer__content {
  text-align: center;
  width: 100%;
  height: 50px;
  color: #415167;
  font-size: 14px;
}

.footer__content p {
  display: inline-block;
  vertical-align: middle;
}

.footer__content:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.gift {
  position: relative;
  padding-bottom: 126px;
}

.gift:after {
  position: absolute;
  content: "";
  background: #EDF0F5;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}

.gift__container {
  max-width: 1040px;
  margin: 0 auto;
}

.gift__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.gift__tabs-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gift__tabs-item {
  cursor: pointer;
  padding: 62px 32px;
  color: #415167;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.gift__tabs-item.gift__button-active {
  background-color: #fff;
}

.gift__tabs-item.gift__button-passive {
  background-color: #EDF0F5;
  opacity: 0.7;
}

.gift__tabs-body {
  padding: 34px;
  position: relative;
}

.gift__tabs-body:after {
  position: absolute;
  content: "";
  background: #FFF;
  width: 72%;
  height: 90%;
  top: 0;
  right: 0;
  z-index: -1;
}

.gift__tabs-body-block {
  display: none;
}

.gift__tabs-body-block:target {
  display: block;
}

.gift__tabs-body-block-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gift__tabs-body-block-img {
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.5);
}

.gift__tabs-body-block-description {
  margin-left: 10%;
}

.gift__tabs-body-block-description-price {
  color: #C7A17A;
  font-weight: 600;
  font-size: 18px;
}

.gift__tabs-body-block-description-title {
  font-size: 22px;
  font-weight: 700;
  margin-top: 12px;
}

.gift__tabs-body-block-description-text {
  margin-top: 12px;
  line-height: 1.6;
}

.gift__tabs-body-block-description-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 26px;
}

.gift__tabs-body-block-description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gift__tabs-body-block-description-item:last-child {
  margin-right: 10%;
}

.gift__tabs-body-block-description-item-img {
  margin-right: 20px;
  padding: 2px 0;
}

.gift__tabs-body-block-description-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #415167;
}

.gift__tabs-body-block-description-item-content-overtitle, .gift__tabs-body-block-description-item-content-title {
  font-family: "Nunito";
  font-size: 14px;
}

.gift__tabs-body-block-description-item-content-overtitle {
  font-weight: 300;
}

.gift__tabs-body-block-description-btns {
  margin-top: 46px;
}

.gift__tabs-body-block-description-btn-1 {
  padding: 6px 32px;
}

.gift__tabs-body-block-description-btn-2 {
  margin-right: 20%;
  color: #415167;
}

.combo {
  padding-bottom: 110px;
  position: relative;
}

.combo:after {
  position: absolute;
  content: "";
  background: #415167;
  width: 30%;
  height: 100%;
  top: 0;
  z-index: -1;
  right: 0;
}

.combo__container {
  max-width: 1040px;
  margin: 0 auto;
}

.combo__content {
  position: relative;
}

.combo__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.combo__content-item {
  max-width: 32%;
}

.combo__content-item-back-img {
  background-color: #EDF0F5;
}

.combo__content-item-img {
  max-width: 100%;
  max-height: 100%;
}

.combo__content-item-description {
  padding: 42px;
  background-color: #fff;
}

.combo__content-item-description-price {
  font-size: 18px;
  font-weight: 600;
  color: #C7A17A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.combo__content-item-description-price s {
  font-size: 14px;
  font-weight: 300;
  color: #415167;
  margin-left: 10px;
}

.combo__content-item-description-title {
  font-size: 22px;
  font-weight: 700;
  margin: 10px 0;
}

.combo__content-item-description-text {
  line-height: 20px;
  margin-bottom: 38px;
}

.combo__content-item-description-btn-2 {
  color: #415167;
}
