* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input, textarea {
    outline: none;
    border: 0;
    resize: none;
}

button {
    outline: none;
    border: none;
}

ul {
    list-style: none;
}