*,
::before,
::after {
    box-sizing: border-box;
}


body {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    background-color: $white-color;

    &.body-pass {
        overflow: hidden;
    }
}

h2 {
    font-weight: 900;
    font-family: "Next Art";
    font-size: 24px;
    line-height: 36/24 * 100%;
    text-transform: uppercase;

    @media (max-width: 425px) {
        font-size: 20px;
    }
}