.header {
    position: fixed;
    padding: 20px 0;
    width: 100%;
    z-index: 25;
    background-color: #fff;

    &__container {
        max-width: 80%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        z-index: 20;
    }

    &__nav {
        display: flex;

        &-items {
            display: flex;
        }

        &-item {
            list-style: none;
            margin-right: 20px;

            &-link {
                color: $main-color-text;
                transition: color 0.2s;

                &:hover {
                    color: $main-color-btn
                }
            }
        }
    }

    &__back-btn {
        display: none;
    }

    &__btn {
        cursor: pointer;
        border: 0;
        background: none;
        outline: none;
        padding: 8px 0;

        span {
            font-size: 0;
            position: relative;
            width: 20px;
            height: 4px;
            border-radius: 2px;
            background: $main-color-btn;
            display: block;

            &:before,
            &:after {
                position: absolute;
                content: "";
                width: 20px;
                height: 4px;
                background: $main-color-btn;
                border-radius: 2px;
                left: 0;
                transition: 0.3s all;
            }
    
            &:before { bottom: -8px }
            &:after  { top: -8px; }
        }

        &.header__btn-close {

            span {
                background: #fff;

                &:after  { transform: rotate(45deg);  top: 0; }
                &:before { transform: rotate(-45deg); bottom: 0; }

                &:before, &:after { width: 24px; }
            } 
        }
    }

    &__mobile-nav {
        position: fixed;
        z-index: 15;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;

        background-color: rgba(0, 0, 0, 0.8);
        overflow-y: auto;
        overflow-x: hidden;
        opacity: 0;
        visibility: hidden;

        text-align: center;
        transition: 0.5s all;

        &.mobile-nav-open {
            opacity: 1;
            visibility: visible;

            .header__mobile-nav-content {
                opacity: 1;
                transform: translate(0px, 30%);
            }
        }

        &-wrapper {
            min-height: 100%;
        }

        &-content {
            padding: 50px 0;
            background-color: #fff;

            transition: 0.5s all;
            opacity: 0;
            transform: translate(0px, -100%);
        }
        
        &-items {
            list-style: none;
        }

        &-item {

            & + & {
                margin: 15px 0;
            }

            &-link {
                color: $main-color-text;
                transition: color 0.2s;

                &:hover {
                    color: $main-color-btn;
                }
            }
        }

        &-btn {
            margin-top: 40px;
        }
    }

    @media (max-width: 768px) {
        &__container { max-width: 90%; }
    }

    @media (max-width: 710px) {
        &__container { align-items: normal; }
        &__nav       { display: none; }
        &__back-btn  { display: block; }
    }
}
