.interact {

    &__works {
        text-align: center;
        margin-top: 12px;

        &-link {
            color: $main-color-btn;
            position: relative;
            transition: color 0.2s;
            padding: 4px 6px;
            font-size: 18px;

            &:before {
                position: absolute;
                content: "";
                bottom: -6px;
                left: 0;
                z-index: -1;
                width: 100%;
                background-color: $main-color-btn;
                height: 1px;
                transition: height 0.2s, bottom 0.2s, box-shadow 0.2s;
                border-radius: 3px;
            }

            &:hover {
                color: #FFF;

                &:before {
                    height: 100%;
                    bottom: 0;
                    box-shadow: 1px 2px 10px $main-color-btn;
                }
            }
        }
    }

    &__img {
        margin: 45px auto 0 auto;
        display: flex;
        justify-content: center;

        position: relative;

        img {
            max-width: 100%;
        }

        &-symbol {
            position: absolute;
            top: -18%;
            right: 1%;
            width: 10%;
        }
    }
}