.quality {
    margin-top: 120px;
    position: relative;
    padding-bottom: 22%;

    &__content {
        color: $main-color-text;
        max-width: 75%;

        &-title {
            font-size: 40px;
            margin-bottom: 35px;
        }

        &-description {
            font-size: 20px;
            line-height: 2;
            margin-bottom: 20px;
        }

        &-conclusion {
            font-size: 20px;
            line-height: 2;
        }
    }

    &__analytics {
        display: flex;
        max-width: 80%;

        position: absolute;
        bottom: -35%;
        left: 10%;

        line-height: 2;

        background-color: $main-color-btn;
        color: #fff;
        border-radius: 16px;

        &-content-text {
            margin: 6% 0 6% 6%;

            &-title {
                font-size: 24px;
                margin-bottom: 10px;
            }

            &-description {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }

        &-content-img {
            display: flex;
            justify-content: flex-end;
            margin-top: auto;

            img {
                height: 400px;
                width: 520px;
            }
        }
    }

    @media (max-width: 1050px) {
        
        &__analytics {
            display: block;
            bottom: -25%;

            &-content-text {
                margin: 6%;
            }

            &-content-img {
                display: none;
            }
        }
    }

    @media (max-width: 768px) {
        margin-top: 15%;

        &__content {
            max-width: 85%;

            &-title {
                font-size: 30px;
            }
    
            &-description,
            &-conclusion {
                font-size: 16px;
            }
        }
        
        &__analytics {

            &-content-text {

                &-description {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width: 600px) {

        &-img {
            right: 10%;
        }
    }

    @media (max-width: 540px) {

        &__analytics {

            &-content-text {

                &-title {
                    font-size: 18px;
                }

                &-description {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width: 380px) {
        
        &__content {
            margin-bottom: 15%;
        }
    }

    @media (max-width: 350px) {
        
        .form-search {

            &-field {
                margin: 0 4px;
            }
        }
    }
}