.unique {
    background-color: $main-color-background;
    color: $main-color-text;
    position: relative;

    &__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 12%;
        padding-bottom: 100px;
    }

    &__item {
        max-width: 42%;
        margin-bottom: 45px;

        position: relative;

        &:nth-child(3),
        &:nth-child(4) {
            margin-bottom: 0;
        }

        &-img {
            position: absolute;
            top: 0;
            left: -20%;
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0px 8px 12px rgba(43, 42, 69, 0.06);

            display: flex;
            justify-content: center;

            img {
                width: 20px;
            }
        }

        &-title {
            font-size: 20px;
            margin-bottom: 14px;
        }

        &-description {
            font-size: 16px;
            line-height: 2;
        }
    }

    &-img {
        position: absolute;
        bottom: -64px;
        right: 16%;

        width: 105px;

        img {
            max-width: 100%;
        }
    }

    @media (max-width: 650px) {
        &__items {
            display: block;
        }

        &__item {
            max-width: 100%;

            &:nth-child(3) {
                margin-bottom: 45px;
            }

            &-img {
                left: -10%;
                width: 30px;
                height: 30px;

                img {
                    width: 16px;
                }
            }
        }

        &-img {
            width: 80px;
            bottom: -50px;
        }
    }

    @media (max-width: 480px) {
        
        &__item {

            &-img {
                display: none;
            }
        }
    }

    @media (max-width: 375px) {

        &-img {
            width: 70px;
            bottom: -45px;
        }
    }
}