.header {
    padding-top: 35px;
    position: absolute;
    width: 100%;

    &__container {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        margin-right: 20%;
        margin-bottom: 0.8%;

        &-items {
            display: flex;
        }

        &-item {
            margin-right: 18px;

            &:last-child {
                margin-right: 0;
            }

            &-link {
                position: relative;
                color: $main-color;
                font-weight: 500;
                font-size: 16px;

                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 2px;
                    border-radius: 10px;
                    background: $main-color-btn;
                    transition: width 0.4s;
                }

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__other {
        font-weight: 500;
        display: flex;
        align-items: center;

        &-login,
        &-started {
            margin-right: 30px;
        }

        .link-login,
        .link-started {
            color: $main-color;
            background-color: $main-color-btn transparent;
            padding: 8px 10px;
            border-radius: 4px;

            transition: color 0.2s, background-color 0.2s;

            &:hover {
                background-color: $main-color-btn;
                color: #FFF;
            }
        }
    }
}