.best-materials {

	&__content {

		&-title {
			max-width: 690px;
			margin-bottom: 58px;
		}

		&-description {
			max-width: 400px;
			margin-right: 20px;

			&-items {
				margin-top: 26px;
			}

			&-item {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}

				.underline-text {

					&::after {
						width: 60%;
					}
				}
			}
		}

		&-img {
			width: 100%;
			max-width: 560px;
		}


		&-table {
			padding: 50px 40px;
			border: 1px solid $primary-color-1;
			margin-top: 70px;

			&-title {
				max-width: 350px;
			}

			&-items {
				margin-top: 24px;
			}

			&-item {
				margin-bottom: 30px;

				&-materials {
					margin-right: 50px;
				}

				&-title {
					margin-bottom: 14px;
				}

				&-description {
					font-size: 16px;
					line-height: 24px;
					font-weight: 400;
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&-back-button {
				justify-content: center;
			}

			&-button {
				text-transform: uppercase;
				color: $secondary-color-1;
				border: 1px solid $secondary-color-1;
				padding: 18px 32px;
				font-size: 14px;
				line-height: 18px;
				background-color: $white-color;

				transition: background-color $animate ease, color $animate ease;

				&:hover {
					background-color: $secondary-color-1;
					color: $white-color;
				}
			}
		}
	}

	@media (max-width: 960px) {

		&__content {

			&-wrapper {
				align-items: center;
			}

			&-description {
				max-width: 350px;
			}
		}
	}

	@media (max-width: 900px) {

		&__content {

			&-table {

				&-items {
					flex-wrap: wrap;
				}

				&-item {
					width: 45%;
				}
			}
		}
	}

	@media (max-width: 800px) {

		&__content {

			&-title {
				margin-bottom: 44px;
			}

			&-wrapper {
				flex-direction: column;
				align-items: normal;
			}

			&-description {
				max-width: 100%;
				margin-right: 0;

				&-title {
					max-width: 360px;
				}

				&-items {
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
				}

				&-item {
					width: 48%;
				}
			}

			&-back-img {
				margin-top: 35px;
			}
		}
	}

	@media (max-width: 660px) {

		&__content {

			&-table {
				padding: 0;
				border: 0;
				margin-top: 36px;

				&-title,
				&-items {
					display: none;
				}

				&-back-button {
					margin-top: 36px;
				}
			}
		}
	}

	@media (max-width: 560px) {

		&__content {

			&-description {

				&-item {
					width: 100%;
				}
			}

			&-table {

				&-back-button {
					justify-content: start;
				}
			}
		}
	}
}