.best-materials {

	&__content {

		&-title {
			max-width: 60%;
			margin-bottom: 58px;
		}

		&-description {
			max-width: 36%;
			margin-right: 20px;

			&-items {
				margin-top: 26px;
			}

			&-item {
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}

				.underline-text {

					&::after {
						width: 60%;
					}
				}
			}
		}

		&-img {
			width: 100%;
			max-width: 560px;
		}


		&-table {
			padding: 50px 80px 50px 40px;
			border: 1px solid $primary-color-1;
			margin-top: 70px;

			&-title {
				max-width: 350px;
			}

			&-items {
				margin-top: 24px;
			}

			&-item {

				&-materials {
					margin-right: 50px;
				}

				&-title {
					margin-bottom: 14px;
				}

				&-description {
					font-size: 16px;
					line-height: 24px;
					font-weight: 400;
					margin-bottom: 10px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&-back-button {
				justify-content: center;
				margin-top: 14px;
			}

			&-button {
				text-transform: uppercase;
				color: $secondary-color-1;
				border: 1px solid $secondary-color-1;
				padding: 18px 32px;
				font-size: 14px;
				line-height: 18px;
				background-color: $white-color;

				transition: background-color $animate ease, color $animate ease;

				&:hover {
					background-color: $secondary-color-1;
					color: $white-color;
				}
			}
		}
	}
}