.category {
	margin-top: 90px;

	&__content {

		&-back-title {
			margin-top: 20px;
		}

		&-title {
			margin-top: 12px;
		}

		&-link {
			color: $primary-color-1;
			transition: color $animate;

			&:hover {
				color: $secondary-color-1;
			}
		}

		&-current-page {
			color: $secondary-color-2;
		}

		&-warning {
			border: 1px solid $primary-color-1;
			margin-top: 62px;

			&-container {
				max-width: 920px;
				margin: 0 auto;
			}

			&-content {
				padding: 32px 60px 20px;

				&-back-img {
					margin-right: 50px;
				}
			}
		}

		&-items {
			column-gap: 5%;
			flex-wrap: wrap;
		}
	}

	@media (max-width: 1130px) {

		&__content {

			&-items {
				column-gap: 4%;
			}
		}
	}

	@media (max-width: 930px) {
		margin-top: 30px;
	}

	@media (max-width: 670px) {

		&__content {

			&-warning {

				&-content {
					padding: 30px;

					&-back-img {
						margin-right: 20px;

						svg {
							width: 40px;
							height: 40px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 570px) {

		&__content {

			&-items {
				.custom-furniture__content-item {
					width: 48%;
				}
			}

			&-warning {
				margin-top: 40px;
			}
		}
	}

	@media (max-width: 470px) {

		&__content {

			&-warning {

				&-container {
					.category__content-warning-content {
						align-items: flex-start;
					}
				}

				&-content {
					flex-direction: column;

					&-back-img {
						margin-right: 0;
					}

					&-description {
						margin-top: 15px;
					}
				}
			}
		}
	}
}