.custom-furniture {
	margin-top: 120px;
	display: none;

	&__content {

		&-title {
			max-width: 800px;
		}

		&-wrapper {
			margin-top: 56px;
		}

		&-items {
			column-gap: 5%;
			flex-wrap: wrap;
		}
	}
}