.custom-furniture {

	&__content {

		&-title {
			max-width: 800px;
		}

		&-wrapper {
			margin-top: 56px;
		}

		&-items {
			column-gap: 5%;
			flex-wrap: wrap;
		}
	}

	@media (max-width: 570px) {

		&__content {

			&-items {
				justify-content: space-between;
			}
		}
	}
}