.intro {
	margin-top: 20px;

	&__content {

		&-slider {
			touch-action: pan-y;
			cursor: grab;

			&.slider-active {
				cursor: grabbing;
			}

			img {
				pointer-events: none;
			}

			&-list {
				width: 100%;
				height: 100%;
				overflow: hidden;
				margin: 0 auto;
			}

			&-track {
				display: flex;
			}

			&-slide {
				width: 100%;
				flex-shrink: 0;
				overflow: hidden;

				&:first-child {
					background-color: $back-color-1;

					.intro__content-slider-slide-container {
						max-width: 100%;
						margin-left: 80px;
					}
				}

				&:nth-child(2) {
					background-color: $back-color-3;
					color: $white-color;
					padding: 58px 0;
					position: relative;

					.intro__content-slider-slide-description {
						margin-top: 40px;
					}

					.intro__content-slider-slide-description-good {
						position: absolute;
						bottom: 88px;
						left: 28%;
					}
				}

				&:last-child {
					img {
						filter: drop-shadow(4px 20px 20px rgba($black-color, 0.9));
					}
				}

				&-container	{
					max-width: 990px;
					padding: 0 20px;
					margin: 0 auto;
				}

				&-description {
					margin-right: 35px;

					&-title {
						display: inline;

						&.underline-text {
							&::after {
								width: 100%;
								bottom: 0;
							}
						}
					}

					&-back-link {
						margin-top: 52px;
					}

					&-link {
						text-transform: uppercase;
						color: $secondary-color-1;
						font-size: 16px;
						line-height: 1;

						position: relative;

						&::before,
						&::after {
							position: absolute;
							content: "";
							top: 50%;
							transform: translateY(-50%);
						}

						&::before {
							border: 1px solid $secondary-color-1;
							width: 80px;
							height: 80px;
							border-radius: 50%;
							right: -120px;
						}

						&::after {
							right: -94px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 12px 0 12px 20px;
							border-color: transparent transparent transparent $secondary-color-1;
						}
					}

					&-text {
						margin-top: 30px;
					}
				}

				&-back-img {

				}

				&-img {

				}
			}
		}
	}

	@media (max-width: 1120px) {

		&__content {

			&-slider {

				&-slide {

					&:nth-child(2) {

						.intro__content-slider-slide-description-good {
							left: 21%;
							bottom: 80px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 950px) {

		&__content {

			&-slider {

				&-slide {

					&:nth-child(2) {

						.intro__content-slider-slide-back-img {
							img {
								width: 330px;
							}
						}

						.intro__content-slider-slide-description-good {
							img {
								width: 230px;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 900px) {

		&__content {

			&-slider {

				&-slide {

					&:last-child {
						.intro__content-slider-slide-description {
							max-width: 50%;
						}
					}

					&-description {
						margin-right: 0;
					}
				}
			}
		}
	}

	@media (max-width: 768px) {

		&__content {

			&-slider {

				&-slide {
					display: flex;

					&-container {
						padding: 50px 20px;
					}

					&:first-child {
						.intro__content-slider-slide-back-img {
							display: none;
						}
					}

					&:nth-child(2) {
						padding: 0;

						.intro__content-slider-slide-description {
							max-width: 570px;
						}

						.intro__content-slider-slide-description-good {
							bottom: 30px;
						}

						.intro__content-slider-slide-back-img {
							position: absolute;
							right: -60px;
							bottom: 20px;
						}
					}

					&:last-child {
						.intro__content-slider-slide-back-img {
							img {
								width: 230px;
								filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.9));
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 650px) {

		&__content {

			&-slider {

				&-slide {

					&:nth-child(2) {
						.intro__content-slider-slide-description-good {
							left: 12%;
						}

						.intro__content-slider-slide-back-img {
							img {
								width: 270px;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 620px) {

		&__content {

			&-slider {

				&-slide {

					&:first-child {

						.intro__content-slider-slide-container {
							margin-left: 50px;
						}
					}

					&-description {

						&-link {

							&:before {
								width: 50px;
								height: 50px;
								right: -80px;
							}

							&:after {
								border-width: 8px 0 8px 14px;
								right: -63px;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 550px) {

		&__content {

			&-slider {

				&-slide {

					&:first-child {
						.intro__content-slider-slide-container {
							margin-left: 15px;
						}
					}

					&:nth-child(2) {
						.intro__content-slider-slide-back-img {
							img {
								width: 220px;
							}
						}

						.intro__content-slider-slide-description-good {
							img {
								width: 160px;
							}
						}
					}

					&:last-child {
						.intro__content-slider-slide-back-img {
							margin-right: 10px;

							img {
								width: 190px;
							}
						}
					}

					&-container {
						padding: 15px 20px 50px;
					}

					&-description {

						&-title {
							font-size: 32px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 500px) {

		&__content {

			&-slider {

				&-slide {

					&-description {

						&-title {
							font-size: 26px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 425px) {

		&__content {

			&-slider {

				&-slide {

					&:first-child {
						.intro__content-slider-slide-container {
							margin-left: 0;
						}
					}

					&:nth-child(2) {
						.intro__content-slider-slide-back-img {
							right: -30px;

							img {
								width: 150px;
							}
						}
					}

					&:last-child {
						.intro__content-slider-slide-back-img {
							img {
								width: 150px;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 375px) {

		&__content {

			&-slider {

				&-slide {

					&:nth-child(2) {
						.intro__content-slider-slide-description-good {
							left: 5%;
						}
					}
				}
			}
		}
	}
}