.room-dimensions {
	margin-top: 120px;

	&__content {

		&-description {
			max-width: 50%;
			margin-right: 20px;

			&-items {
				margin-top: 56px;
			}

			&-item {
				max-width: 45%;
			}

			&-back-button {
				margin-top: 32px;
			}

			&-button {
				padding: 18px 32px;
			}
		}

		&-img {
			width: 100%;
			max-width: 560px;
		}
	}

	@media (max-width: 800px) {

		&__content {
			flex-direction: column;

			&-description {
				max-width: 100%;
				margin-right: 0;

				&-items {
					margin-top: 38px;
				}
			}

			&-back-img {
				margin-top: 48px;
			}
		}
	}

	@media (max-width: 410px) {

		&__content {

			&-description {

				&-items {
					flex-direction: column;
				}

				&-item {
					max-width: 100%;
					margin-bottom: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&-button {
					width: 100%;
				}
			}
		}
	}
}