.subcategory {

	&__content {

		&-back-title {
			margin-top: 20px;
		}

		&-overhead {
			font-weight: 400;

			&-link {
				color: $primary-color-1;
				transition: color $animate;

				&:hover {
					color: $secondary-color-1;
				}
			}

			span {
				color: $secondary-color-2;
			}
		}

		&-title {
			margin-top: 18px;
		}

		&-wrapper {
			margin-top: 50px;
		}

		&-items {
			column-gap: 8%;
			flex-wrap: wrap;
		}

		.category-items__content-block {
			width: 28%;
			margin-bottom: 28px;
		}
	}

	@media (max-width: 570px) {

		&__content {

			.category-items__content-block-slider-split {
				width: 230px;

				img {
					width: 230px;
				}
			}

			.category-items__content-block {
				width: 45%;
			}
		}
	}

	@media (max-width: 500px) {

			.category-items__content-block-slider-split {
				width: 300px;

				img {
					width: 300px;
				}
			}

		.category-items__content-block {
			width: 100%;
		}
	}
}