.subcategory {

	&__content {

		&-back-title {
			margin-top: 20px;
		}

		&-overhead {
			font-weight: 400;

			&-link {
				color: $primary-color-1;
				transition: color $animate;

				&:hover {
					color: $secondary-color-1;
				}
			}

			span {
				color: $secondary-color-2;
			}
		}

		&-title {
			margin-top: 18px;
		}

		&-wrapper {
			margin-top: 50px;
		}

		&-items {
			column-gap: 8%;
			flex-wrap: wrap;
		}

		.category-items__content-block {
			width: 28%;
			margin-bottom: 28px;
		}
	}
}