body {
	font-family: "Roboto";
	font-weight: 400;
	color: $black-color;
}

h2 {
	font-family: "Inter";
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
}

h3 {
	font-family: "Inter";
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
}