@import "blocks/container";

@import "blocks/block_flex";

@import "blocks/social";

@import "blocks/btn";

@import "blocks/title";

@import "blocks/desciption_section";

@import "blocks/arrow";

@import "blocks/training_package_block";

@import "blocks/check";

@import "blocks/input";
