.footer {
    padding: 70px 0;
    background-color: $primary-color-1;

    border-top-left-radius: 70px;
    border-top-right-radius: 70px;

    &__content {

        &-items {
            align-items: flex-end;
        }

        &-item {

            &:first-child,
            &:last-child {
                max-width: 180px;
                margin-top: 15px;
            }

            &:last-child {
                text-align: end;
            }

            &:nth-child(2) {
                max-width: 300px;
            }

            &-title {
                font-weight: 500;
                font-size: 18px;
            }

            &-links {
                margin-top: 18px;

                &-block {
                    margin-bottom: 14px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &-link {
                        color: $auxiliary-color-1;
                        font-size: 16px;
                        line-height: 26/16 * 100%;

                        transition: color $animate;

                        &:hover {
                            color: $secondary-color-1;
                        }
                    }
                }
            }

            &-back-logo {

                &-title {
                    color: $secondary-color-1;
                    text-transform: uppercase;
                    line-height: 1;

                    span {
                        font-weight: 400;
                    }
                }

                &-block {
                    margin: 0 12px;
                }
            }

            &-socials-items {
                justify-content: center;
                margin-top: 20px;
            }

            &-socials-item {
                margin-right: 26px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &-back-btn {
                justify-content: center;
                margin-top: 30px;
            }
        }
    }

    &__text {
        margin-top: 50px;

        font-size: 14px;
        line-height: 24/16 * 100%;
        font-weight: 400;
    }

    @media (max-width: 768px) {
        
        &__content {

            &-items {
                flex-wrap: wrap;
            }

            &-item {
                margin-bottom: 30px;
                
                &:first-child,
                &:nth-child(2),
                &:last-child {
                    max-width: 100%;
                    width: 100%;
                    text-align: center;
                }

                &:nth-child(2) {
                    order: -1;
                    margin-bottom: 50px;
                }

                &-back-logo {
                    justify-content: center;
                }
            }
        }
    }
}