.header {
    padding-top: 50px;
    width: 100%;
    top: -100px;
    z-index: 50;

    &.header-active {
        position: fixed;
        padding: 20px 0;
        top: 0;
        background-color: $white-color;
        box-shadow: 0px 3px 25px 2px rgba($black-color, 0.35);
    }

    &.header-active-scroll {
        transition: top $animate * 2, box-shadow $animate * 2;
    }

    &.header-active-pressed-menu-btn {
        position: relative;
        top: 0;
        background-color: $primary-color-1;
        box-shadow: none;
    }

    &.header-not-swadow_back-color {
        background-color: $primary-color-1;
        box-shadow: none;
    }

    &__content {

        &-back-logo {

            margin-right: 76px;

            &-title {
                text-transform: uppercase;
                font-weight: 400;

                .header-span-1 {
                    font-weight: 700;
                }

                &-link {
                    cursor: pointer;
                    color: $secondary-color-2;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "";
                        bottom: -2px;
                        height: 2px;
                        left: 0;
                        width: 0;
                        background: linear-gradient(to left, $secondary-color-1, $secondary-color-2);
                        transition: all $animate;
                    }

                    &:hover {
                        
                        &::after {
                            width: 100%;
                        }
                    }
                    
                    span {
                        color: $secondary-color-1;
                    }
                }
            }
        }

        &-logo {
            margin-right: 14px;
        }

        &-nav {
    
            &-item {
                position: relative;

                &:first-child {
                    margin-right: 42px;
                }
    
                &-link {
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 16px;
                    color: $black-color;

                    transition: color $animate;

                    &:hover {
                        color: $secondary-color-1;
                    }

                    &.nav-item-link-menu {
                        position: relative;
                        padding-bottom: 18px;

                        &::before {
                            top: 25%;
                            right: -20px;
                        }

                        &:hover {

                            &::before {
                                transform: rotateX(180deg);
                            }

                            &~.header__content-nav-item-menu {
                                height: 78px;
                                overflow: visible;
                                opacity: 1;
                            }
                        }
                    }
                }

                &-menu {
                    position: absolute;
                    width: 190px;
                    left: -25px;
                    top: 36px;
                    background-color: $primary-color-2;
                    border-radius: 10px;
                    overflow: hidden;
                    opacity: 0;
                    height: 0;

                    transition: all $animate;

                    &:hover {
                        height: 78px;
                        overflow: visible;
                        opacity: 1;

                        .nav-item-link-menu {
                            &:before {
                                transform: rotateX(180deg);
                            }
                        }
                    }

                    &-content {
                        position: relative;
                        padding: 14px 20px;

                        flex-direction: column;

                        &::before {
                            position: absolute;
                            content: "";
                            top: -8px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 6px 8px 6px;
                            border-color: transparent transparent $primary-color-2 transparent;
                        }

                        a {
                            &:first-child {
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }
        }

        &-back-btn {
            display: none;
            margin-top: -1px;
        }

        @import "blocks/btn_menu";
    }

    @media (max-width: 1080px) {
        
        &__content {

            &-back-logo {
                margin-right: 20px;
            }
        }
    }

    @media (max-width: 1030px) {
        
        &__content {
            justify-content: space-between;

            &-nav,
            .socials-wrapper {
                display: none;
            }

            &-back-btn {
                display: flex;
            }
        }
    }
}
