.intro {
    padding-top: 50px;

    &.intro-active {
        padding-top: 150px;
    }

    &__container {
        max-width: 1260px;
        margin: 0 auto;
    }

    &__content {

        &-description {
            margin-top: 70px;
            margin-right: 40px;

            max-width: 52%;

            &-title {
                font-size: 50px;
                font-family: "Next Art";
                font-weight: 900;
                line-height: 66/50 * 100%;
            }

            &-text {
                margin-top: 20px;
                font-size: 22px;
                font-weight: 500;
                line-height: 24/22 * 100%;
            }

            &-back-btn {
                margin-top: 40px; 
            }
        }

        &-back-img {
            position: relative;
        }

        &-img {
            width: 100%;
            display: block;
            height: auto;
            max-width: 560px;
            margin: 0 0 0 auto;

            &-figures {
                max-width: 460px;
            }

            &-photo {
                position: absolute;
                left: 40px;
                bottom: 10px;
            }
        }
    }

    @media (max-width: 970px) {
        
        &__content {

            &-description {

                &-title {
                    font-size: 42px;
                }
            }
        }
    }
    
    @media (max-width: 920px) {
        
        &__content {
            flex-direction: column;

            &-description {
                margin-bottom: 60px;
                max-width: 100%;
                margin-right: 0;
                margin-top: 0;
            }

            &-back-img {
                max-width: 460px;
                margin: 0 auto;
            }

            &-img-figures {
                max-width: 100%;
            }
        }
    }

    @media (max-width: 670px) {
        
        &__content {

            &-description {

                &-title {
                    font-size: 36px;
                }
            }
        }
    }

    @media (max-width: 500px) {
        
        &__content {

            &-img-photo {
                max-width: 65%;
            }
        }
    }

    @media (max-width: 375px) {
        
        &__content {

            &-description {
                margin: 0 20px 60px 20px;

                &-title {
                    font-size: 30px;
                }
            }
        }
    }
}