.mobile-nav {
    position: fixed;
    z-index: 40;
    background-color: rgba($black-color, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    visibility: hidden;
    opacity: 0;

    transition: all $animate * 2;

    &.mobile-nav-active {
        visibility: visible;
        opacity: 1;

        .mobile-nav__wrapper {
            transform: translateY(0);
        }
    }

    &__wrapper {
        background-color: $primary-color-1;
        border-bottom-left-radius: 70px;
        border-bottom-right-radius: 70px;

        transform: translateY(-100%);

        transition: transform $animate * 2;
    }

    &__content {
        text-align: center;
        padding-bottom: 60px;
        padding-top: 140px;

        &-nav {
            margin-bottom: 40px;

            &-item {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

                &-link {
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22/14 * 100%;
                    color: $black-color;

                    transition: color $animate;

                    &:hover {
                        color: $secondary-color-1;
                    }
                }
            }
        }

        &-contact {
            margin-top: 40px;

            &-title {
                font-size: 16px;
                font-weight: 500;
                line-height: 24/16 * 100%;
            }

            &-links {
                margin-top: 20px;
                max-width: 170px;
                margin: 0 auto;

                &-block {
                    margin-bottom: 12px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &-link {
                        font-size: 14px;
                        line-height: 22/14 * 100%;
                        color: $auxiliary-color-1;

                        transition: color $animate;

                        &:hover {
                            color: $secondary-color-1;
                        }
                    }
                }
            }
        }
    }
}