.smart-approach {
    margin-top: 140px;

    .smart-approach-letter {
        position: absolute;
        font-size: 90px;
        font-weight: 900;
        font-family: "Jost";
        line-height: 28/90 * 100%;
        color: $primary-color-2;
        z-index: -1;
    }

    &__content {
        max-width: 870px;
        margin: 0 auto;

        &-intro {

            &-description {
                font-size: 16px;
                line-height: 26/16 * 100%;
                margin-top: 30px;
                max-width: 405px;
            }

            &-items {
                margin-top: 50px;
            }

            &-item {

                .smart-approach-letter {
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &-wrapper {
                    max-width: 50%;
                    position: relative;
                    text-align: center;
                    margin: 0 auto;
                }

                &-overhead {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 26/16 * 100%;
                    color: $secondary-color-1;
                }

                &-title {
                    color: $black-color;
                }
            }
        }

        &-example {
            margin-top: 70px;

            &-intro {

                &-back-imgs {
                    position: relative;
                    margin-right: 54px;
                }

                &-img {

                    &:last-child {
                        position: absolute;
                        top: 28px;
                        left: 20px;
                    }
                }

                &-description {
                    max-width: 45%;

                    &-title {
                        color: $black-color;
                    }

                    &-text {
                        margin-top: 24px;
                        font-size: 16px;
                        line-height: 26/16 * 100%;
                    }
                }
            }

            &-items {
                margin-top: 80px;
            }

            &-item {
                margin-bottom: 50px;
                position: relative;

                max-width: 37%;

                &::before {
                    position: absolute;
                    content: "";
                    background-image: url("../img/mainPage/learningApproach/arrow.svg");
                    background-repeat: no-repeat;
                    width: 105px;
                    height: 120px;
                    top: 0;
                }

                &:nth-child(odd) {
                    margin-left: 20px;

                    &::before {
                        right: -60%;
                    }
                }

                &:nth-child(even) {
                    margin-left: auto;

                    &::before {
                        transform: rotateY(180deg);
                        left: -65%;
                    }
                }

                &:last-child {
                    margin-bottom: 0;

                    &::before {
                        display: none;
                    }
                }

                .smart-approach-letter {
                    left: -22px;
                    top: 8px;
                }

                &-title {
                    color: $black-color;
                }
    
                &-description {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 26/16 * 100%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        
        &__content {

            &-intro {

                &-items {
                    flex-wrap: wrap;
                }

                &-item {
                    width: 30%;

                    &:nth-child(4),
                    &:nth-child(5) {
                        width: 45%;
                        margin-top: 60px;
                    }

                    &-wrapper {
                        max-width: 68%;
                    }
                }
            }

            &-example {

                &-item {
                    max-width: 55%;
                }
            }
        }
    }

    @media (max-width: 740px) {
        
        &__content {

            &-example {

                &-intro {

                    &-img {
    
                        &:first-child {
                            width: 100%;
                            display: block;
                        }
    
                        &:last-child {
                            width: 88%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 640px) {
        margin-top: 100px;
        
        &__content {

            &-example {

                &-intro {
                    flex-direction: column;

                    &-back-imgs {
                        margin-right: 0;
                    }

                    &-description {
                        margin-top: 60px;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    @media (max-width: 550px) {
        
        &__content {

            &-intro {

                &-item {

                    .smart-approach-letter {
                        font-size: 80px;
                    }
                }
            }
        }
    }

    @media (max-width: 530px) {
        
        &__content {

            &-intro {

                &-item {
                    width: 33.333%;

                    &-overhead {
                        font-size: 14px;
                    }

                    &-title {
                        font-size: 16px;
                    }
                }
            }

            &-example {

                &-item {
                    max-width: 100%;
                    
                    &:nth-child(odd) {
                        margin-left: 0;
                    }

                    &::before {
                        display: none;
                    }

                    .smart-approach-letter {
                        font-size: 80px;
                    }
                }
            }
        }
    }

    @media (max-width: 425px) {
        
        &__content {

            &-example {

                &-intro {

                    &-description {
                        
                        &-text {
                            font-size: 14px;
                        }
                    }
                }

                &-item {

                    &-description {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}