.total {

    &__content {
        margin-left: 7%;

        &-intro {
            max-width: 25%;
            margin-right: 10.5%;

            &-description {
                font-size: 16px;
                line-height: 26/16 * 100%;
                margin-top: 30px;
            }
        }

        &-item {
            margin-right: 76px;

            &:last-child {
                margin-right: 0;
            }

            &-back-img {
                margin-right: 36px;
            }
        }
    }

    @media (max-width: 1270px) {
        
        &__content {
            margin-left: 2%;
            
            &-intro {
                margin-right: 6%;
            }
        }
    }

    @media (max-width: 1135px) {
        
        &__content {
            margin-left: 0;

            &-description {
                max-width: 20%;
            }

            &-item {
                margin-right: 50px;
            }
        }
    }

    @media (max-width: 1040px) {
        
        &__content {
            flex-direction: column;
            margin-left: 6%;

            &-intro {
                max-width: 100%;
            }

            &-items {
                margin-top: 40px;
            }
        }
    }

    @media (max-width: 820px) {
        
        &__content {
            margin-left: 2%;
        }
    }

    @media (max-width: 760px) {
        
        &__content {
            margin-left: 0;

            &-items {
                flex-direction: column;
            }

            &-item {
                margin-bottom: 30px;
                margin-right: 7%;

                &:last-child {
                    margin-right: 7%;
                    margin-bottom: 0;
                }
            }
        }
    }

    @media (max-width: 375px) {
        
        &__content {

            &-intro {

                &-description {
                    font-size: 14px;
                }
            }

            &-item {

                &-description {
                    font-size: 16px;
                }
            }
        }
    }
}