.training-package {
    margin-top: 140px;

    &__content {
        max-width: 1050px;
        margin: 0 auto;
        text-align: center;

        &-subtitle {
            margin-top: 30px;
        }

        &-back-btns-line {
            position: relative;
            margin-top: 86px;

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                background-color: $auxiliary-color-4;
                top: 14px;
                left: 0;
            }

            .slider-track {
                justify-content: space-around;
            }

            &-menu {
                position: relative;
                z-index: 1;

                &.back-btns-line-menu-active {
                    .training-package__content-back-btns-line-menu-content {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.back-btns-line-menu-active-offline {

                    .back-btns-line-menu-content-offline {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.back-btns-line-menu-active-online {

                    .back-btns-line-menu-content-online {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &-wrapper {
                    flex-direction: column;
                    align-items: center;
                }

                &-btn {
                    display: block;
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    color: transparent;
                    font-size: 0;
                    border-radius: 50%;
                    border: 2px solid $auxiliary-color-4;
                    margin-bottom: 30px;

                    transition: all $animate;

                    &.line-menu-btn-pass {
                        background-color: $auxiliary-color-4;
                        box-shadow: 0 0 10px rgba($auxiliary-color-4, 1);
                    }

                    &.line-menu-btn-active {
                        background-color: $secondary-color-1;
                        border: 2px solid $secondary-color-1;
                        box-shadow: 0 0 10px rgba($secondary-color-1, 1);
                    }
                }

                &-title {
                    color: $black-color;
                }

                &-content {
                    width: 230px;
                    padding: 30px 0;
                    position: absolute;
                    background-color: $primary-color-2;
                    border-radius: 20px;
                    margin-top: 30px;
                    left: 50%;
                    transform: translateX(-50%);

                    opacity: 0;
                    visibility: hidden;

                    transition: all $animate;

                    &-wrapper {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "";
                            top: -46px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 18px 16px 18px;
                            border-color: transparent transparent $primary-color-2 transparent;
                        }
                    }

                    &-checks {
                        display: flex;
                        flex-direction: column;
                        padding-left: 40px;
                    }

                    &-check {
                        display: inline-flex;
                        margin-bottom: 12px;
                        text-align: start;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        label {
                            font-size: 16px;
                            line-height: 26/16 * 100%;
                        }
                    }
                }
            }
        }

        &-back-btns {
            max-width: 820px;
            margin: 40px auto 0;
            position: relative;
            z-index: 1;

            &-line {
                height: 260px;
                transition: height $animate;
            }

            &-wrapper {
                justify-content: center;

                .training-package__content-btn {
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }
                } 

                &:last-child {
                    margin-top: 30px;

                    .training-package__content-btn {
                        width: 17%;
                    }
                }
            }
        }

        &-btn {
            cursor: pointer;
            color: $black-color;
            width: 32%;
            position: relative;
            padding-bottom: 6px;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            transition: color $animate;

            &:hover {
                color: $secondary-color-1;
            }

            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                background-color: $secondary-color-pass;
                left: 0;
                bottom: 0;
                transition: background-color $animate;
            }

            &.training-package-btn-active {
                &::after {
                    background-color: $secondary-color-1;
                }
            }
        }

        &-wrapper-items {
            margin-top: 46px;
            position: relative;
            height: 420px;
            width: 100%;
            transition: height $animate;
        }

        &-items {
            position: absolute;
            top: 0;
            left: 0;

            opacity: 0;
            visibility: hidden;
            transform: scale(0.8);
            width: 100%;

            transition: all $animate * 1.5;

            .training-package-block {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }
            }

            &.training-package-content-items-active {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
                z-index: 1;
            }

            &-slider {

                &-track {
                    justify-content: space-around;
                }
            }
        }
    }

    @media (max-width: 900px) {
        overflow: hidden;
        
        &__content {

            &-items {

                &-slider {

                    &-track {
                        justify-content: normal;
                    }
                }

                .training-package-block {
                    flex: 0 0 100%;
                    margin-right: 100px;
                }
            }
        }
    }

    @media (max-width: 800px) {

        &__content {

            &-back-btns-line {

                &-menu {

                    &-content {
                        width: 190px;

                        &-checks {
                            padding-left: 24px;
                            padding-right: 6px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        @include adaptive-training-package-content-btn(45%, 25%);

        &__content {

            &-items {

                .training-package-block {
                    margin-right: 60px;
                }
            }
        }
    }

    @media (max-width: 720px) {
        
        &__content {

            &-back-btns-line {

                &::after {
                    left: -40px;
                    width: 125%;
                    z-index: -1;
                }

                .slider-track {
                    justify-content: space-between;
                }
    
                &-menu {
                    flex: 0 0 44%;

                    &-content {
                        width: 200px;

                        &-checks {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 600px) {
        
        &__content {

            &-back-btns {

                &-wrapper {
                    .training-package__content-btn {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    @media (max-width: 540px) {
        @include adaptive-training-package-content-btn(90%, 30%);

        &__content {

            &-btn {
                &.training-package-btn-slider {
                    flex: 0 0 50%;
                    margin-right: 12px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            &-back-btns-line {

                &-menu {
                    flex: 0 0 50%;

                    &-content {
                        
                        &-checks {
                            padding-right: 8px;
                        }
                    }
                }
            }

            &-items {

                .training-package-block {
                    margin-right: 28px;
                }
            }
        }
    }
}