$primary-color-1: #FFFBED;
$primary-color-2: #FFECA0;

$secondary-color-1: #236967;
$secondary-color-2: #216D6B;

$secondary-color-active: #175654;
$secondary-color-pass: #94C6C4;

$white-color: #ffffff;
$black-color: #000000;

$auxiliary-color-1: #363636;
$auxiliary-color-2: #FDD503;
$auxiliary-color-3: #038192;
$auxiliary-color-4: #689C9A;

$color-what-number-2: #FFCC1A;
$color-what-number-3: #FC8B4C;
$color-what-number-4: #FE7167;


$animate: 0.2s;