@import "fonts";
@import "vars";
@import "reset/mixins";
@import "reset/reset";

// SETTINGS
@import "reset/settings";


// COMMON
@import "common";

// HEADER
@import "header";

// MOBILE NAV
@import "mobile_nav";

// BELL
@import "bell";


// INTRO
@import "intro";

// SECTIONS-PHOTOS
@import "sections_photos";

// LEARN LANGUAGES
@import "learn_lang";

// CHOOSING FOR CHILD
@import "choosing_for_child";

// what_foreign_languages
@import "what_foreign_languages";

// YOUR CHILD CAN
@import "your_child_can";

// WHY US
@import "why_us";

// FOR KIDS AND ABULTS
@import "for_kids_adults";

// SMART APPROACH
@import "smart_approach";

// LEARN LANGUAGG SIMPLE
@import "learn_language_simple";

// ACHIEVEMENT
@import "achievement";

// WHAT E DO
@import "what_we_do";

// TOTAL
@import "total";

// TRAINING PACKAGE
@import "training_package";

// TRIAL LESSON
@import "trial_lesson";

// PAYMENT
@import "payment";

// FOOTER
@import "footer";
