<div class="appliances new-block">
	<div class="container">
		<div class="appliances__content fl just_cont">
			<div class="appliances__content-description fl just_cont">
				<h2 class="appliances__content-description-title">Бытовая техника «Midea» и «Lex» по специальным ценам</h2>
				<div class="appliances__content-description-back-btn">
					<a href="#" class="appliances__content-description-btn button">Перейти в каталог</a>
				</div>
			</div>
			<div class="appliances__content-back-imgs fl just_cont">
				<div class="appliances__content-back-img fl">
					<img src="./img/category/appliances/appliances-1.jpg" alt="appliances" class="appliances__content-img">
				</div>
				<div class="appliances__content-back-img fl">
					<img src="./img/category/appliances/appliances-2.jpg" alt="appliances" class="appliances__content-img">
				</div>
			</div>
		</div>
	</div>
</div>