<div class="category-items new-block">
	@@include("../common/popup.html", {
		"classPopup": "category-items__popup",
		"classBtnClose": "category-items__popup-btn-close",
		"title": "Узнать стоимость изделия"
	})
	<div class="container">
		<div class="category-items__content">
			<div class="category-items__content-wrapper">
				<h2 class="category-items__content-title">Кухни в стиле классика</h2>
				<ul class="category-items__content-blocks fl just_cont">
					@@loop("../common/cardOrder.html", [
						{ "imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
							],
							"price": "от 20 000 руб. за п.м."
						},
						{
						"imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
							],
							"price": "от 25 000 руб. за п.м."
						},
						{
						"imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
							],
							"price": "от 35 000 руб. за п.м."
						}
					])
					<li class="category-items__content-block">
						<div class="category-items__content-block-back-img">
							<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
						</div>
						<div class="category-items__content-block-back-price">
							<p class="category-items__content-block-price">
								от 25 000 руб. за п.м.
							</p>
						</div>
						<div class="category-items__content-block-back-button fl">
							<button type="button" class="category-items__content-block-button button">Расчет цены</button>
						</div>
					</li>
				</ul>
			</div>
			<div class="category-items__content-wrapper">
				<h2 class="category-items__content-title">Кухни в стиле прованс</h2>
				<ul class="category-items__content-blocks fl just_cont">
					@@loop("../common/cardOrder.html", [
						{ "imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
							],
							"price": "от 20 000 руб. за п.м."
						},
						{
						"imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
							],
							"price": "от 25 000 руб. за п.м."
						},
						{
						"imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
							],
							"price": "от 35 000 руб. за п.м."
						}
					])
					<li class="category-items__content-block">
						<div class="category-items__content-block-back-img">
							<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
						</div>
						<div class="category-items__content-block-back-price">
							<p class="category-items__content-block-price">
								от 25 000 руб. за п.м.
							</p>
						</div>
						<div class="category-items__content-block-back-button fl">
							<button type="button" class="category-items__content-block-button button">Расчет цены</button>
						</div>
					</li>
				</ul>
			</div>
			<div class="category-items__content-wrapper">
				<h2 class="category-items__content-title">Кухни в стиле лофт</h2>
				<ul class="category-items__content-blocks fl just_cont">
					@@loop("../common/cardOrder.html", [
						{ "imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
							],
							"price": "от 20 000 руб. за п.м."
						},
						{
						"imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
							],
							"price": "от 25 000 руб. за п.м."
						},
						{
						"imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
							],
							"price": "от 35 000 руб. за п.м."
						}
					])
					<li class="category-items__content-block">
						<div class="category-items__content-block-back-img">
							<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
						</div>
						<div class="category-items__content-block-back-price">
							<p class="category-items__content-block-price">
								от 25 000 руб. за п.м.
							</p>
						</div>
						<div class="category-items__content-block-back-button fl">
							<button type="button" class="category-items__content-block-button button">Расчет цены</button>
						</div>
					</li>
				</ul>
			</div>
			<div class="category-items__content-wrapper">
				<h2 class="category-items__content-title">Кухни в стиле этно</h2>
				<ul class="category-items__content-blocks fl just_cont">
					@@loop("../common/cardOrder.html", [
						{ "imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg"
							],
							"price": "от 20 000 руб. за п.м."
						},
						{
						"imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_3.jpg"
							],
							"price": "от 25 000 руб. за п.м."
						},
						{
						"imgs": [
							"./img/kitchenStyleClassic/kitchenStyleClassic_1.jpg",
							"./img/kitchenStyleClassic/kitchenStyleClassic_2.jpg"
							],
							"price": "от 35 000 руб. за п.м."
						}
					])
					<li class="category-items__content-block">
						<div class="category-items__content-block-back-img">
							<img src="./img/kitchenStyleClassic/kitchenStyleClassic_4.jpg" alt="kitchen">
						</div>
						<div class="category-items__content-block-back-price">
							<p class="category-items__content-block-price">
								от 25 000 руб. за п.м.
							</p>
						</div>
						<div class="category-items__content-block-back-button fl">
							<button type="button" class="category-items__content-block-button button">Расчет цены</button>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>