<div class="content-genre new-block">
	<div class="container">
		<div class="content-genre__content">
			<div class="content-genre__content-items">
				<div class="content-genre__content-item">
					<h2 class="content-genre__content-item-title">Столешницы на заказ из камня</h2>
					<div class="content-genre__content-item-wrapper fl">
						<div class="content-genre__content-item-back-img">
							<img src="./img/category/contentGenre/contentGenre-1.jpg" alt="content genre" class="content-genre__content-item-img">
						</div>
						<ul class="content-genre__content-item-description">
							<li class="content-genre__content-item-description-text">
								<p class="underline-text">
									Искусственный камень — листовой Dupont Montelli, Dupont Corian.
								</p>
							</li>
							<li class="content-genre__content-item-description-text">
								<p class="underline-text">
									Наливной камень — GraniStone и др.
								</p>
							</li>
							<li class="content-genre__content-item-description-text">
								<p class="underline-text">
									Натуральный камень — премиум-столешницы из натурального гранита и натурального мрамора.
								</p>
							</li>
							<li class="content-genre__content-item-description-text">
								<p>
									Эконом-столешницы из постформинга.
								</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="content-genre__content-item">
					<h2 class="content-genre__content-item-title">Современное оснащение</h2>
					<div class="content-genre__content-item-wrapper fl just_cont">
						<div class="content-genre__content-item-description fl just_cont">
							<div class="content-genre__content-item-description-text">
								<p class="content-genre__content-item-description-text-technics">
									Оснастим кухню сервоприводом Servo Drive — открывайте дверки по одному нажатию. Servo Drive оснащён радиокнопкой для автоматического закрывания, защитой от столкновений с какими-либо препятствиями.
								</p>
								<p class="content-genre__content-item-description-text-technics">
									В случае отключения электроэнергии дверки, оснащённые таким приводом, можно будет свободно открывать и закрывать вручную.
								</p>
							</div>
							<div class="content-genre__content-item-description-back-btn">
								<a href="#" class="content-genre__content-item-description-btn-technics button fl">Каталог фурнитуры</a>
							</div>
						</div>
						<div class="content-genre__content-item-back-img">
							<img src="./img/category/contentGenre/contentGenre-2.jpg" alt="content genre" class="content-genre__content-item-img">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>