
// FONTS

@import "scss/_fonts";


// MIXINS

@import "scss/_mixins";


$primary-color: #415167;
$accent-color-1: #C7A17A;
$accent-color-2: #F9F5E8;
$dark-gray: #151D28;
$light-gray: #EDF0F5;


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #000;
    font-family: "Nunito", sans-serif;
    background: #F2F2F2;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}


// COMMON

@import "scss/_common";


// INTRO

@import "scss/_intro";


// BUILD

@import "scss/_personalized";


// CHOOSE

@import "scss/_choose";



// FOOTER

@import "scss/_footer";


// GIFT

@import "scss/_gift";


// COMBO

@import "scss/_combo";
