<nav class="header__nav">
	<div class="header__nav-container">
		<ul class="header__nav-items fl just_cont">
			<li class="header__nav-item">
				<button type="button" class="header__nav-item-button">Каталог мебели</button>
				<div class="header__nav-item-menu">
					<div class="header__nav-item-menu-content fl">
						<a href="./category.html" class="header__nav-item-menu-content-link">
							<span>Кухни</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Шкафы-купе</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Мебель для ванной</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Прихожие</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Детская мебель</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Гардеробные / стеллажные</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Мебель для гостиной</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Полки / Ниши</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Кабинеты и Библиотеки</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Межкомнатные перегородки</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Мебель для спальной</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Мебель из массива</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Офисная мебель</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Мебель с мягкими декорами</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Мебель Лофт</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Системы складных дверей</span>
						</a>
					</div>
				</div>
			</li>
			<li class="header__nav-item">
				<button type="button" class="header__nav-item-button">Материалы</button>
				<div class="header__nav-item-menu">
					<div class="header__nav-item-menu-content fl">
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Материал 1</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Материал 2</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Материал 3</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Материал 4</span>
						</a>
					</div>
				</div>
			</li>
			<li class="header__nav-item">
				<a href="#" class="header__nav-item-link">Гарантия</a>
			</li>
			<li class="header__nav-item">
				<button type="button" class="header__nav-item-button">Полезно</button>
				<div class="header__nav-item-menu">
					<div class="header__nav-item-menu-content fl">
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Полезно 1</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Полезно 2</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>Полезно 3</span>
						</a>
					</div>
				</div>
			</li>
			<li class="header__nav-item">
				<button type="button" class="header__nav-item-button">Портфолио</button>
				<div class="header__nav-item-menu">
					<div class="header__nav-item-menu-content fl">
						<a href="#" class="header__nav-item-menu-content-link">
							<span>По категориям</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>По стилям дизайна</span>
						</a>
						<a href="#" class="header__nav-item-menu-content-link">
							<span>По реализованным проектам</span>
						</a>
					</div>
				</div>
			</li>
			<li class="header__nav-item">
				<a href="./contacts.html" class="header__nav-item-link">Контакты</a>
			</li>
		</ul>
	</div>
</nav>