<div class="header__nav-mobile-content-items">
	<ul class="header__nav-mobile-content-items">
		<li class="custom-furniture__content-nav-item">
			<button type="button" class="custom-furniture__content-nav-item-button">Материалы</button>
			<div class="custom-furniture__content-nav-item-menu">
				<div class="header__nav-item-menu-content fl">
					<a href="#" class="custom-furniture__content-nav-item-link">
						<span>Материал 1</span>
					</a>
					<a href="#" class="custom-furniture__content-nav-item-link">
						<span>Материал 2</span>
					</a>
					<a href="#" class="custom-furniture__content-nav-item-link">
						<span>Материал 3</span>
					</a>
					<a href="#" class="custom-furniture__content-nav-item-link">
						<span>Материал 4</span>
					</a>
				</div>
			</div>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="#" class="custom-furniture__content-nav-item-link">Гарантия</a>
		</li>
		<li class="custom-furniture__content-nav-item">
			<button type="button" class="custom-furniture__content-nav-item-button">Полезно</button>
			<div class="custom-furniture__content-nav-item-menu">
				<div class="header__nav-item-menu-content fl">
					<a href="#" class="custom-furniture__content-nav-item-link">
						<span>Полезно 1</span>
					</a>
					<a href="#" class="custom-furniture__content-nav-item-link">
						<span>Полезно 2</span>
					</a>
					<a href="#" class="custom-furniture__content-nav-item-link">
						<span>Полезно 3</span>
					</a>
				</div>
			</div>
		</li>
		<li class="custom-furniture__content-nav-item">
			<button type="button" class="custom-furniture__content-nav-item-button">Портфолио</button>
			<div class="custom-furniture__content-nav-item-menu">
				<div class="header__nav-item-menu-content fl">
					<a href="./portfolio.html" class="custom-furniture__content-nav-item-link">
						<span>По категориям</span>
					</a>
					<a href="./portfolio.html" class="custom-furniture__content-nav-item-link">
						<span>По стилям дизайна</span>
					</a>
					<a href="./portfolio.html" class="custom-furniture__content-nav-item-link">
						<span>По реализованным проектам</span>
					</a>
				</div>
			</div>
		</li>
		<li class="custom-furniture__content-nav-item">
			<a href="./contacts.html" class="custom-furniture__content-nav-item-link">Контакты</a>
		</li>
	</ul>
</div>