<div class="header__nav-mobile">
	<div class="header__nav-mobile-wrapper">
		<div class="header__nav-mobile-content fl">
			@@include("../common/navigation.html", {
				"classEl": "custom-furniture__content-nav-2"
			})
			<div class="header__nav-mobile-content-wrapper">
				@@include("./navigation.html")
				<div class="header__nav-mobile-content-description">
					<ul class="header__nav-mobile-content-description-items fl just_cont">
						<li class="header__nav-mobile-content-description-item">
							<h4 class="header__nav-mobile-content-description-item-title">График работы:</h4>
							<div class="header__nav-mobile-content-description-item-text">
								<p>
									ПН-ПТ с 10 до 19<br>СБ-ВС с 10 до 18
								</p>
							</div>
						</li>
						<li class="header__nav-mobile-content-description-item">
							<h4 class="header__nav-mobile-content-description-item-title">Шоу-рум:</h4>
							<div class="header__nav-mobile-content-description-item-back-link">
								<a href="https://www.google.com/maps/place/%D1%83%D0%BB.+%D0%91%D0%B5%D0%BB%D0%B8%D0%BD%D1%81%D0%BA%D0%BE%D0%B3%D0%BE,+169%D0%91,+%D0%95%D0%BA%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B1%D1%83%D1%80%D0%B3,+%D0%A1%D0%B2%D0%B5%D1%80%D0%B4%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+620089/@56.7993305,60.6293883,17z/data=!3m1!4b1!4m5!3m4!1s0x43c16ecb55a34215:0xedad49316cc84cd7!8m2!3d56.7993305!4d60.631577" class="header__nav-mobile-content-description-item-link">г. Екатеринбург<br>ул. Белинского, 169Б</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>