.advantages {

	&__content {

		&-items {

		}

		&-item {
			max-width: 20%;

			&-back-img {
				margin-right: 36px;
			}

			&-description {

				&-title {
					font-size: 16px;
					line-height: 20px;
					font-weight: 300;
					color: $black-color;
				}

				&-text {
					margin-top: 6px;
					font-size: 12px;
					line-height: 14px;
					color: $description-color-2;
				}
			}
		}

		&-slider {
			margin-top: 124px;

			&-slide {

				&-back-img {
					position: relative;
				}

				&-img {
					max-width: 100%;
				}

				&-description {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					max-width: 90%;
					width: 100%;
					padding: 30px;
					background-color: $white-color;

					&-overhead {
						font: 300 12px/14px "Inter";
						color: $color-btn-link-1;
						text-transform: uppercase;
					}

					&-title {
						margin-top: 32px;
						font-size: 24px;
						color: $color-title-advantages;

						&-link {
							color: $color-title-advantages;
							transition: color $animate ease;

							&:hover {
								color: $color-btn-link-1
							}
						}
					}
				}
			}
		}
	}
}