.container {
	max-width: 1280px + 40px;
	padding: 0 20px;
	margin: 0 auto;
}


.input-form {

}

.textarea-form {

}

.input-form,
.textarea-form {
	padding: 14px 18px;
	background-color: $color-back-input-form;
	border: 1px solid transparent;

	font: 300 18px/20px "Roboto";

	transition: border $animate ease;

	&::placeholder {
		font-weight: 300;
		font-size: 14px;
		line-height: 18px;
	}

	&:focus {
		border: 1px solid $color-back-input-form-focus;
	}
}

.filled-btn-form {
	border: 1px solid $color-btn-link-1;
	background-color: $color-btn-link-1;

	font: 500 14px/18px "Roboto";
	color: $white-color;
	text-transform: uppercase;

	transition: color $animate ease,
	background-color $animate ease;

	&:hover {
		color: $color-btn-link-1;
		background-color: $white-color;
	}
}


.fl {
	display: flex;
}

.just_cont {
	justify-content: space-between;
}

.al_it {
	align-items: center;
}


.split-text {
	font-weight: 400;
	font-size: 11px;
	line-height: 16px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: $description-color-3;
}


.unfilled-btn {
	border: 1px solid $color-btn-link-2;

	font: 700 14px/16px "Inter";
	color: $color-btn-link-2;
	text-transform: uppercase;

	transition: color $animate ease,
	background-color $animate ease;

	&:hover {
		color: $white-color;
		background-color: $color-btn-link-2;
	}
}

.filled-btn {
	border: 1px solid $color-btn-link-2;
	background-color: $color-btn-link-2;

	font: 700 14px/16px "Inter";
	color: $white-color;
	text-transform: uppercase;

	transition: color $animate ease,
	background-color $animate ease;

	&:hover {
		color: $color-btn-link-2;
		background-color: $white-color;
	}
}


.new-block {
	margin-top: 140px;
}


p.description-text-1 {
	font: 300 14px/22px "Inter";
}

p.description-text-2 {
	font: 300 18px/28px "Inter";
	color: $description-color-3;
}


.blackout-blanket {
	position: relative;

	&::before {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#3A2B02, 0.25);
	}
}


.link-back-title {
	font: 400 18px/22px "Inter";
	letter-spacing: 2px;
	color: $description-color-9;
	text-transform: uppercase;

	p {
		opacity: 0.8;
		transition: opacity $animate ease;
	}

	span {
		margin-left: 20px;

		justify-content: center;

		width: 26px;
		height: 26px;
		background-color: $color-btn-link-2;
		border-radius: 50%;
	}

	&:hover {
		p {
			opacity: 1;
		}
	}
}