.crackers {
	margin-top: 100px;

	&__content {

		&-subtitle {
			font: 400 12px/18px "Roboto";
			text-transform: uppercase;
			color: $color-crackers-subtitle;
			letter-spacing: 2px;

			&-link {
				color: $color-crackers-subtitle;
				transition: color $animate ease;

				&:hover {
					color: $black-color;
				}
			}
		}

		&-title {
			margin-top: 16px;
			font: 500 50px/60px "Inter";
			color: $color-crackers-title;
			letter-spacing: -2px;
		}
	}
}