.footer {

	&__content {
		padding: 76px 0;

		&-item {
			margin-right: 12px;

			&:last-child {
				margin-right: 0;
			}

			&-back-logo {

				&-description {
					margin-top: 20px;
				}

				&-back-link {
					margin-top: 42px;
				}

				&-link {
					text-transform: uppercase;
					color: $description-color-6;
					font-size: 22px;
					line-height: 26px;
					font-weight: 300;
					font-family: "Inter";

					transition: opacity $animate ease;

					&:hover {
						opacity: 0.75;
					}

					&-img {
						margin-right: 18px;
					}
				}
			}

			&-block {
				margin-right: 72px;

				&:last-child {
					margin-right: 0;
				}

				&-title {
					font-size: 14px;
					line-height: 16px;
					text-transform: uppercase;
					color: $description-color-7;
					font-family: "Inter";
					font-weight: 700;
				}

				&-links {
					margin-top: 24px;
					flex-direction: column;
				}

				&-link {
					margin-bottom: 10px;
					color: $description-color-7;
					font-size: 14px;
					line-height: 20px;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			&-link-phone {
				font-weight: 300;
				font-size: 24px;
				line-height: 28px;
				color: $description-color-6;

				transition: opacity $animate ease;

				&:hover {
					opacity: 0.75;
				}

				&-img {
					margin-right: 20px;
				}
			}

			&-bank-card {
				margin-top: 42px;
			}
		}
	}

	@media (max-width: 1020px) {

		&__content {

			&-item {

				&:first-child {
					max-width: 30%;
				}

				&-block {
					margin-right: 24px;
				}
			}
		}
	}

	@media (max-width: 980px) {

		&__content {

			&-items {
				flex-wrap: wrap;
			}

			&-item {

				&:nth-child(2) {
					width: 100%;
					order: 1;
				}

				&:first-child,
				&:last-child {
					width: 45%;
				}
			}
		}
	}
}