.reviews {

	&-title {
		font-size: 46px;
		line-height: -1;
		color: $color-title-reviews;
	}

	&__container {
		background: linear-gradient(180deg, $color-back-gradient-reviews 0%, rgba($color-back-gradient-reviews, 0) 50%);
	}

	&__content {
		padding: 112px 0;
	}
}