.reviews {

	&__back-links {
		justify-content: flex-end;
	}

	&__title-link {
		margin-right: 32px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__title-link > a {
		font: 400 16px/20px "Inter";
		color: $color-btn-link-1;
		text-transform: uppercase;

		transition: color $animate ease;

		&:hover {
			color: $black-color;
		}

		span {
			font: 300 16px/20px "Inter";
			color: $color-link-count;
		}
	}

	&-title {
		font-size: 46px;
		line-height: -1;
		color: $color-title-reviews;
	}

	&__container {
		background: linear-gradient(180deg, $color-back-gradient-reviews 0%, rgba($color-back-gradient-reviews, 0) 50%);
	}

	&__content {
		padding: 112px 0;
	}
}