.answers {
    margin-top: 135px;

    &__content {

        &-back-intro {

            &-title {
                max-width: 670px;
            }

            &-description {
                font-size: 24px;
                font-weight: 600;
                line-height: 32/24 * 100%;

                max-width: 460px;

                &::after {
                    transform: rotate(90deg) translateY(-50%);
                    top: 50%;
                    left: -50px;
                }
            }
        }

        &-items {
            margin-top: 50px;
        }

        &-item {
            margin-bottom: 15px;

            &.answers-content-item-active { 

                .answers__content-item-section-btn {
                    &:before {
                        transform: translate(-50%, -50%) rotate(180deg);
                    }
                }

                .answers__content-item-description {
                    max-height: 160px;
                    padding: 50px 100px 35px 90px;
                    color: $color-text;
                }
            }

            &:last-child {
                margin-bottom: 0;
            }

            &-section {
                background-color: $light-blue-color-1;
                border-radius: 10px;

                cursor: pointer;
                position: relative;

                transition: background-color $animation-trans;

                &:hover {
                    background-color: darken($light-blue-color-1, 8%);
                }

                &-back-btn {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    background-color: $white-color;
                    top: 15px;
                    left: 20px;
                    border-radius: 50%;
                }

                &-btn {

                    &::before,
                    &::after {
                        position: absolute;
                        content: "";
                        width: 20px;
                        height: 2px;
                        background-color: $primary-color;
                        border-radius: 10px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: transform $animation-trans;
                    }

                    &::before {
                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }

                &-title {
                    font-size: 18px;
                    line-height: 24/18 * 100%;
                    padding: 23px 12px 23px 0;
                    margin-left: 90px;
                }
            }

            &-description {
                padding: 0 100px 0 90px;
                background: #FFFFFF;
                box-shadow: 0px 3px 20px #EAECEF;

                line-height: 26/16 * 100%;

                max-height: 0;
                color: transparent;
                overflow: hidden;

                transition: all $animation-trans * 2;
            }
        }
    }

    @media (max-width: 1170px) {
        
        &__content {

            &-back-intro {

                &-title {
                    width: 570px;
                }
            }
        }
    }

    @media (max-width: 970px) {
                
        &__content {

            &-back-intro {

                &-description {
                    max-width: 370px;
                }
            }
        }
    }

    @media (max-width: 850px) {
        
        &__content {

            &-back-intro {
                flex-direction: column;
                align-items: normal;

                &-title {
                    width: 100%;
                }

                &-description {
                    max-width: 100%;
                    margin-top: 32px;
                    font-size: 14px;
                    line-height: 22/14 * 100%;
                    font-weight: 400;

                    &::after {
                        transform: none;
                        left: 0;
                        top: -15px;
                    }
                }
            }

            &-item {

                &.answers-content-item-active { 
                     .answers__content-item-description {
                        padding: 25px 30px;
                    }
                }

                &-description {
                    padding: 0 30px;
                }
            }
        }
    }

    @media (max-width: 590px) {
        
        &__content {

            &-item {

                &.answers-content-item-active { 
                    .answers__content-item-description {
                       max-height: 200px;
                   }
               }
            }
        }
    }

    @media (max-width: 560px) {
        
        &__content {

            &-back-intro {

                &-description {

                    &::after {
                        width: 40px;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        margin-top: 70px;
    }

    @media (max-width: 470px) {
        
        &__content {

            &-item {

                &.answers-content-item-active { 
                    .answers__content-item-description {
                       max-height: 230px;
                   }
               }

                &-section {

                    &-back-btn {
                        top: 10px;
                        left: 10px;
                        width: 30px;
                        height: 30px;
                    }

                    &-btn {

                        &::before,
                        &::after {
                            width: 15px;
                        }
                    }

                    &-title {
                        font-size: 16px;
                        line-height: 26/16 * 100%;
                        padding: 12px  12px 12px 0;
                        margin-left: 55px;
                    }
                }

                &-description {
                    font-size: 14px;
                }
            }
        }
    }
}