.contact {
    margin-top: 100px;
    margin-bottom: 40px;
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-title {
            font-weight: 600;
            font-size: 24px;
    
            position: relative;
    
            &::before {
                position: absolute;
                content: "";
                background-color: $primary-color;
                height: 2px;
                width: 60px;
                border-radius: 10px;
                right: -130px;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
            }
        }
    
        &-description {
            
            &-items {
                display: flex;
                align-items: center;
            }

            &-item {
                margin-right: 88px;

                &:last-child {
                    margin-right: 0;
                }

                &-title {
                    font-size: 16px;
                    line-height: 26/16 * 100%;
                    font-weight: 600;
                }

                &-link {
                    color: $primary-color;
                    border-bottom: 1px dashed $primary-color;
                    font-size: 14px;

                    transition: color $animation-trans, border-bottom $animation-trans;

                    &:hover {
                        color: darken($primary-color, 8%);
                        border-bottom: 1px dashed darken($primary-color, 8%);
                    }
                }

                &-text {
                    font-size: 14px;
                    line-height: 22/14 * 100%;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        
        &__content {

            &-title {

                &::before {
                    right: -55px;
                }
            }
        }
    }

    @media (max-width: 1130px) {
        
        &__content {

            &-description {

                &-item {
                    margin-right: 30px;
                }
            }
        }
    }

    @media (max-width: 1020px) {
        
        &__content {

            &-description {

                &-items {
                    flex-wrap: wrap;
                    justify-content: flex-end;
                }

                &-item {
                    width: 45%;

                    &:first-child,
                    &:nth-child(2) {
                        margin-right: 0;
                    }

                    &:last-child {
                        margin-top: 16px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        
        &__content {
            flex-direction: column;

            &-title {
                
                &::before {
                    bottom: -10px;
                    left: 50%;
                    top: auto;
                    width: 40px;
                    transform: translateX(-50%);
                }
            }

            &-description {
                text-align: center;
                margin-top: 32px;

                &-item {
                    width: 100%;
                    margin-bottom: 16px;

                    &:last-child {
                        margin: 0;
                    }

                    &-text {

                        &:last-child {
                            max-width: 200px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}