.header {
    background-color: $white-color;
    height: 82px;
    width: 100%;
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    
    box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);

    display: flex;
    align-items: center;

    transition: transform $animation-trans linear, box-shadow $animation-trans linear;

    &.header-hide {
        transform: translateY(-82px);
        box-shadow: none;
    }

    &.header-active {
        box-shadow: none;
    }

    &__container {
        width: 1170px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-wrapper {
            display: flex;
            align-items: center;
        }

        &-menu-btn {
            padding: 10px 0;
            display: none;
            cursor: pointer;

            span {
                color: transparent;
                font-size: 0;
                display: block;
                width: 24px;
                height: 2px;
                border-radius: 10px;
                background-color: $primary-color;

                position: relative;

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    width: 24px;
                    height: 2px;
                    border-radius: 10px;
                    background-color: $primary-color;
                    transition: all $animation-trans;
                }

                &::before { top: -7px; }
                &::after { bottom: -7px; }
            }

            &.header-content-menu-btn-acive {
                span {
                    height: 0px;

                    &::before {
                        transform: rotate(45deg);
                        top: 0;
                    }

                    &::after {
                        transform: rotate(-45deg);
                        bottom: -2px;
                    }
                }
            }
        }

        &-back-img {
            margin-right: 75px;
        }

        &-nav {

            &-items {
                display: flex;
            }

            &-item {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                &-link {
                    transition: color $animation-trans;
                    cursor: pointer;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        &-other {
            display: flex;
            align-items: center;

            &-back-phone {
                text-align: end;

                &-title {

                    &-link {
                        color: $primary-color;
                        font-size: 20px;

                        transition: color $animation-trans;

                        &:hover {
                            color: darken($primary-color, 8%);
                        }
                    }
                }

                &-description {
                    font-size: 14px;
                }
            }

            &-back-btn {
                display: flex;
                margin-left: 20px;
            }

            &-btn {
                padding: 12px 22px;
                color: $primary-color;
                border: 1px solid $primary-color;
                border-radius: 4px;

                transition: color $animation-trans, background-color $animation-trans;

                &:hover {
                    color: $white-color;
                    background-color: $primary-color;
                }
            }
        }

        &-back-phone {
            display: none;

            &-link {

                path {
                    transition: fill $animation-trans;
                }

                &:hover {
                    path {
                        fill: darken($primary-color, 8%);
                    }
                }
            }
        }
    }

    @media (max-width: 1250px) {
        
        &__container {
            margin: 0 40px;
        }
    }

    @media (max-width: 1100px) {
        
        &__content {

            &-back-img {
                margin-right: 20px;
            }
        }
    }

    @media (max-width: 1055px) {
        
        &__content {

            &-back-img {
                margin-right: 60px;
            }

            &-other {
                display: none;
            }

            &-back-phone {
                display: block;
            }
        }
    }

    @media (max-width: 775px) {
        
        &__content {

            &-back-img {
                margin-right: 20px;
            }
        }
    }

    @media (max-width: 740px) {
        
        &__content {

            &-menu-btn {
                display: block;
            }

            &-nav {
                display: none;
            }
        }
    }

    @media (max-width: 360px) {
        
        &__container {
            margin: 0 15px;
        }
    }
}