.intro {
    background-image: url("../img/intro/back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 62px;

    &__container {
        max-width: 1170px;
        margin: 0 auto;
    }

    &__content {
        max-width: 700px;
        padding: 60px 50px 90px 50px;
        background-color: #f8f8f8;

        border-top: 1px solid lighten($color-text, 64%);

        position: relative;

        &-back-text {
            position: absolute;
            width: 230px;
            top: 60px;
            right: -200px;
            height: 60px;
            background-color: $primary-color;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            &-description {
                font-weight: 700;
                line-height: 20/16 * 100%;
                color: $white-color;
                padding: 11px 9px 11px 22px;
                height: 100%;

                position: relative;
                z-index: 1;

                &::after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: -57%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 30px 34px 0;
                    border-color: transparent #0099C1 transparent transparent;
                    z-index: -1;
                }
            }
        }


        &-title {
            font-size: 48px;
            line-height: 60/48 * 100%;

            span {
                color: $primary-color;
            }
        }

        &-text {
            margin-top: 14px;
            font-size: 20px;
            line-height: 30/20 * 100%;
        }

        &-items {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-item {
            display: flex;
            align-items: center;

            width: 45%;

            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 25px;
            }

            &-back-img {
                margin-right: 18px;
            }

            &-description {
                line-height: 26/16 * 100%;
            }

            &-back-btn {
                display: flex;
            }

            &-btn {
                white-space: nowrap;
                font-weight: 700;
            }
        }
    }

    @media (max-width: 1250px) {

        &__container {
            margin: 0 40px;
        }
    }

    @media (max-width: 965px) {
        
        &__content {
            &-back-text {
                right: -140px;

                &-description {
                    &::after {
                        border-width: 0 90px 34px 0;
                    }
                }
            }
        }
    }

    @media (max-width: 900px) {
        
        &__content {
            &-back-text {
                right: -90px;
                width: 180px;

                &-description {

                    &::after {
                        border-width: 0 90px 34px 0;
                    }
                }
            }
        }
    }

    @media (max-width: 860px) {
        
        &__content {
            &-back-text {
                right: -30px;
                top: 40px;

                &-description {

                    &::after {
                        border-width: 0 150px 34px 0;
                    }
                }
            }
        }
    }

    @media (max-width: 780px) {
        
        &__content {
            &-back-text {
                display: none;
            }
        }
    }

    @media (max-width: 725px) {

        &__container {
            margin: 0;
        }

        &__content {
            max-width: 100%;
            padding: 60px 30px 70px 30px;

            &-title {
                font-size: 38px;
            }
        }
    }

    @media (max-width: 570px) {
        
        &__content {

            &-item {
                width: 100%;
                margin-bottom: 20px;

                &-back-btn {
                    width: 100%;
                    text-align: center;
                }

                &-btn {
                    margin-top: 10px;
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 360px) {

        &__content {
            padding: 60px 15px 60px 15px;

            &-title {
                font-size: 24px;
            }

            &-text {
                display: none;
            }

            &-item {

                &-description {
                    font-size: 14px;
                }
            }
        }
    }
}