<div class="advantages new-block">
	<div class="container">
		<div class="advantages__content">
			<ul class="advantages__content-items fl al_it just_cont">
				<li class="advantages__content-item fl al_it just_cont">
					<div class="advantages__content-item-back-img fl">
						<img src="./img/advantages/truck.svg" alt="truck" class="advantages__content-item-img">
					</div>
					<div class="advantages__content-item-description">
						<h4 class="advantages__content-item-description-title">удобная доставкапо Иркутску</h4>
						<div class="advantages__content-item-description-text">
							<p>
								в день покупки
							</p>
						</div>
					</div>
				</li>
				<li class="advantages__content-item fl al_it just_cont">
					<div class="advantages__content-item-back-img fl">
						<img src="./img/advantages/carving.svg" alt="carving" class="advantages__content-item-img">
					</div>
					<div class="advantages__content-item-description">
						<h4 class="advantages__content-item-description-title">резка плитки и керамогранита</h4>
						<div class="advantages__content-item-description-text">
							<p>
								под ваш проект
							</p>
						</div>
					</div>
				</li>
				<li class="advantages__content-item fl al_it just_cont">
					<div class="advantages__content-item-back-img fl">
						<img src="./img/advantages/layers.svg" alt="layers" class="advantages__content-item-img">
					</div>
					<div class="advantages__content-item-description">
						<h4 class="advantages__content-item-description-title">монтаж плитки на вашем объекте</h4>
						<div class="advantages__content-item-description-text">
							<p>
								под ключ
							</p>
						</div>
					</div>
				</li>
				<li class="advantages__content-item fl al_it just_cont">
					<div class="advantages__content-item-back-img fl">
						<img src="./img/advantages/codepen.svg" alt="codepen" class="advantages__content-item-img">
					</div>
					<div class="advantages__content-item-description">
						<h4 class="advantages__content-item-description-title">3D дизайн-проект в подарок</h4>
						<div class="advantages__content-item-description-text">
							<p>
								при покупке плитки
							</p>
						</div>
					</div>
				</li>
			</ul>
			<div class="advantages__content-slider slider-with-sections">
				<div class="slider-list">
					<div class="slider-track fl">
						<div class="advantages__content-slider-slide fl slide">
							<div class="advantages__content-slider-slide-back-img fl">
								<img src="./img/advantages/advantages-1.jpg" alt="ceramics" class="advantages__content-slider-slide-img">
								<div class="advantages__content-slider-slide-description">
									<h4 class="advantages__content-slider-slide-description-overhead">С 15 апреля по 20 мая</h4>
									<h2 class="advantages__content-slider-slide-description-title">
										<a href="#" class="advantages__content-slider-slide-description-title-link">Распродажа кирамики Italon</a>
									</h2>
								</div>
							</div>
						</div>
						<div class="advantages__content-slider-slide fl slide">
							<div class="advantages__content-slider-slide-back-img fl">
								<img src="./img/advantages/advantages-2.jpg" alt="ceramics" class="advantages__content-slider-slide-img">
								<div class="advantages__content-slider-slide-description">
									<h4 class="advantages__content-slider-slide-description-overhead">Обновление каталога</h4>
									<h2 class="advantages__content-slider-slide-description-title">
										<a href="#" class="advantages__content-slider-slide-description-title-link">Новые поступления GRASARO 2021</a>
									</h2>
								</div>
							</div>
						</div>
						<div class="advantages__content-slider-slide fl slide">
							<div class="advantages__content-slider-slide-back-img fl">
								<img src="./img/advantages/advantages-3.jpg" alt="ceramics" class="advantages__content-slider-slide-img">
								<div class="advantages__content-slider-slide-description">
									<h4 class="advantages__content-slider-slide-description-overhead">С 15 апреля по 20 мая</h4>
									<h2 class="advantages__content-slider-slide-description-title">
										<a href="#" class="advantages__content-slider-slide-description-title-link">Скидки на остатки 15%</a>
									</h2>
								</div>
							</div>
						</div>
						<div class="advantages__content-slider-slide fl slide">
							<div class="advantages__content-slider-slide-back-img fl">
								<img src="./img/advantages/advantages-1.jpg" alt="ceramics" class="advantages__content-slider-slide-img">
								<div class="advantages__content-slider-slide-description">
									<h4 class="advantages__content-slider-slide-description-overhead">С 15 апреля по 20 мая</h4>
									<h2 class="advantages__content-slider-slide-description-title">
										<a href="#" class="advantages__content-slider-slide-description-title-link">Распродажа кирамики Italon</a>
									</h2>
								</div>
							</div>
						</div>
						<div class="advantages__content-slider-slide fl slide">
							<div class="advantages__content-slider-slide-back-img fl">
								<img src="./img/advantages/advantages-2.jpg" alt="ceramics" class="advantages__content-slider-slide-img">
								<div class="advantages__content-slider-slide-description">
									<h4 class="advantages__content-slider-slide-description-overhead">Обновление каталога</h4>
									<h2 class="advantages__content-slider-slide-description-title">
										<a href="#" class="advantages__content-slider-slide-description-title-link">Новые поступления GRASARO 2021</a>
									</h2>
								</div>
							</div>
						</div>
						<div class="advantages__content-slider-slide fl slide">
							<div class="advantages__content-slider-slide-back-img fl">
								<img src="./img/advantages/advantages-3.jpg" alt="ceramics" class="advantages__content-slider-slide-img">
								<div class="advantages__content-slider-slide-description">
									<h4 class="advantages__content-slider-slide-description-overhead">С 15 апреля по 20 мая</h4>
									<h2 class="advantages__content-slider-slide-description-title">
										<a href="#" class="advantages__content-slider-slide-description-title-link">Скидки на остатки 15%</a>
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slider-with-sections-navigation">
					<div class="back-btn-slider-push back-btn-slider-push-left">
						<button data-direction="last" type="button" class="btn-slider-push btn-slider-push-last">Button</button>
					</div>
					<div class="back-btn-slider-push back-btn-slider-push-right">
						<button data-direction="next" type="button" class="btn-slider-push btn-slider-push-next">Button</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>