<div class="contacts">
	<div class="contacts__container">
		@@include("../popup/popupTemp.html", {
			"classPopup": "contacts__popup",
			"titlePopup": "Обратная связь",
			"buttonText": "Задать вопрос"
		})
		<div class="container">
			<div class="contacts__content">
				<div class="contacts__content-back-description fl">
					<div class="contacts__content-description">
						<div class="contacts__content-description-content">
							<h2 class="contacts__content-description-content-title">Контактная<br>информация</h2>
							<div class="contacts__content-description-content-description">
								<a href="https://www.google.ru/maps/place/%D0%A1%D1%82%D0%B0%D1%80%D0%BE%D0%BA%D1%83%D0%B7%D1%8C%D0%BC%D0%B8%D1%85%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F+%D1%83%D0%BB.,+41%2F3,+%D0%98%D1%80%D0%BA%D1%83%D1%82%D1%81%D0%BA,+%D0%98%D1%80%D0%BA%D1%83%D1%82%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+664033/@52.243433,104.2809243,17z/data=!3m1!4b1!4m5!3m4!1s0x5da83cbf5394de35:0x52e043e14b42d883!8m2!3d52.243433!4d104.283113" class="contacts__content-description-content-description-link">
									г. Иркутск, ул. Старо-Кузьмихинская, 41/3
								</a>
							</div>
							<div class="contacts__content-description-content-description-time">
								<p>
									Часы работы: 9:00 — 21:00
								</p>
							</div>
							<div class="contacts__content-description-content-connection">
								<a href="tel: +7 (3952) 48-28-05" class="contacts__content-description-content-connection-link fl al_it">
									<img src="./img/icons/phone-call.svg" alt="phone" class="contacts__content-description-content-connection-link-img">
									+7 (3952) 48-28-05
								</a>
								<a href="mailto:geometrika@mail.ru" class="contacts__content-description-content-connection-link fl al_it">
									<img src="./img/icons/mail.svg" alt="phone" class="contacts__content-description-content-connection-link-img">
									geometrika@mail.ru
								</a>
							</div>
							<div class="contacts__content-description-content-back-link fl">
								<button type="button" class="contacts__content-description-content-link unfilled-btn">Обратная связь</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>