<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__content-items fl just_cont">
				<div class="footer__content-item">
					<div class="footer__content-item-back-logo">
						<a href="./index.html" class="footer__content-item-back-logo-link fl">
							<img src="./img/icons/logo-title.svg" alt="logo-title" class="footer__content-item-back-logo-link-img">
						</a>
						<div class="footer__content-item-back-logo-description">
							<p class="footer__content-item-back-logo-description-text split-text">
								Керамическая плитка и керамогранит в Иркутске
							</p>
						</div>
						<div class="footer__content-item-back-logo-back-link">
							<a href="#" class="footer__content-item-back-logo-link fl al_it">
								<img src="./img/icons/social/instagram.svg" alt="instagram" class="footer__content-item-back-logo-link-img">
								geometrica38
							</a>
						</div>
					</div>
				</div>
				<div class="footer__content-item">
					<ul class="footer__content-item-blocks fl">
						<li class="footer__content-item-block">
							<h5 class="footer__content-item-block-title">Интернет-магазин</h5>
							<div class="footer__content-item-block-links fl">
								<a href="#" class="footer__content-item-block-link">Каталог</a>
								<a href="#" class="footer__content-item-block-link">Оплата и доставка</a>
								<a href="#" class="footer__content-item-block-link">Акции</a>
								<a href="#" class="footer__content-item-block-link">Полезные советы</a>
								<a href="#" class="footer__content-item-block-link">Контакты</a>
							</div>
						</li>
						<li class="footer__content-item-block">
							<h5 class="footer__content-item-block-title">Услуги компании</h5>
							<div class="footer__content-item-block-links fl">
								<a href="#" class="footer__content-item-block-link">Выезд на замер</a>
								<a href="#" class="footer__content-item-block-link">Расчет материалов</a>
								<a href="#" class="footer__content-item-block-link">Резка</a>
								<a href="#" class="footer__content-item-block-link">Изготовление спец.изделий</a>
								<a href="#" class="footer__content-item-block-link">3D-проект (дизайн)</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="footer__content-item">
					<div class="footer__content-item-back-phone">
						<a href="tel: +7 (3952) 48-28-05" class="footer__content-item-link-phone fl al_it">
							<img src="./img/icons/phone-call.svg" alt="phone" class="footer__content-item-link-phone-img">
							+7 (3952) 48-28-05
						</a>
					</div>
					<div class="footer__content-item-bank-card fl al_it just_cont">
						<a href="#" class="footer__content-item-bank-card-link">
							<img src="./img/bankCard/visa.svg" alt="visa" class="footer__content-item-bank-card-link-img">
						</a>
						<a href="#" class="footer__content-item-bank-card-link">
							<img src="./img/bankCard/master-card.svg" alt="master-card" class="footer__content-item-bank-card-link-img">
						</a>
						<a href="#" class="footer__content-item-bank-card-link">
							<img src="./img/bankCard/world.svg" alt="world" class="footer__content-item-bank-card-link-img">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>