<div class="subhead">
	<div class="subhead__container">
		<div class="container">
			<div class="subhead__content fl">
				<nav class="subhead__content-nav">
					<ul class="subhead__content-nav-items fl al_it just_cont">
						<li class="subhead__content-nav-item">
							<a href="./index.html" class="subhead__content-nav-item-link">
								<img src="./img/icons/logo-title.svg" alt="logo-title" class="subhead__content-nav-item-link-img">
							</a>
						</li>
						<li class="subhead__content-nav-item">
							<div class="subhead__content-nav-item-description">
								<p class="split-text">
									керамическая плитка и<br>керамогранит в Иркутске
								</p>
							</div>
						</li>
						<li class="subhead__content-nav-item">
							<div class="subhead__content-nav-item-links fl just_cont alt">
								<a href="#" class="subhead__content-nav-item-link fl">
									<img src="./img/icons/user.svg" alt="user" class="subhead__content-nav-item-link-img">
								</a>
								<a href="#" class="subhead__content-nav-item-link fl">
									<img src="./img/icons/heart.svg" alt="heart" class="subhead__content-nav-item-link-img">
								</a>
								<a href="#" class="subhead__content-nav-item-link fl">
									<img src="./img/icons/shopping-cart.svg" alt="cart" class="subhead__content-nav-item-link-img">
								</a>
							</div>
						</li>
					</ul>
				</nav>
				<div class="subhead__content-back-search fl">
					<input type="text" id="subhead-search" placeholder="искать в каталоге" class="subhead__content-input-search">
					<svg class="subhead__content-back-search-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
						<path fill="#E03226" d="M9.828 14l7-7-7-7-1.203 1.203 4.953 4.938H.75v1.718h12.828l-4.953 4.954L9.828 14z"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>