<div class="subhead">
	<div class="subhead__container">
		<div class="container">
			<div class="subhead__content fl">
				<nav class="subhead__content-nav">
					<ul class="subhead__content-nav-items fl al_it just_cont">
						<li class="subhead__content-nav-item">
							<a href="./index.html" class="subhead__content-nav-item-link">
								<img src="./img/icons/logo-title.svg" alt="logo-title" class="subhead__content-nav-item-link-img">
							</a>
						</li>
						<li class="subhead__content-nav-item">
							<div class="subhead__content-nav-item-description">
								<p class="split-text">
									керамическая плитка и<br>керамогранит в Иркутске
								</p>
							</div>
						</li>
						<li class="subhead__content-nav-item">
							<div class="subhead__content-nav-item-links fl just_cont alt">
								<a href="#" class="subhead__content-nav-item-link fl">
									<img src="./img/icons/user.svg" alt="user" class="subhead__content-nav-item-link-img">
								</a>
								<a href="#" class="subhead__content-nav-item-link fl">
									<img src="./img/icons/heart.svg" alt="heart" class="subhead__content-nav-item-link-img">
								</a>
								<a href="#" class="subhead__content-nav-item-link fl">
									<img src="./img/icons/shopping-cart.svg" alt="cart" class="subhead__content-nav-item-link-img">
								</a>
							</div>
						</li>
					</ul>
				</nav>
				<div class="subhead__content-back-search fl">
					<input type="text" id="subhead-search" placeholder="искать в каталоге" class="subhead__content-input-search">
					<svg class="subhead__content-back-search-img" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
						<path fill="#E03226" d="M9.828 14l7-7-7-7-1.203 1.203 4.953 4.938H.75v1.718h12.828l-4.953 4.954L9.828 14z"/>
					</svg>
				</div>
				<div class="subhead__content-back-catalog fl">
					<div class="subhead__content-catalog fl">
						<button class="subhead__content-catalog-btn filled-btn fl al_it">
							Каталог продукции
							<svg class="subhead__content-catalog-btn-img" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="15" height="2" fill="#ffffff"/>
								<rect y="6" width="15" height="2" fill="#ffffff"/>
								<rect y="12" width="9" height="2" fill="#ffffff"/>
								<path d="M13 15L11 12L15 12L13 15Z" fill="#ffffff"/>
							</svg>
						</button>
						<div class="subhead__content-catalog-menu">
							<div class="subhead__content-catalog-menu-content">
								<ul class="subhead__content-catalog-menu-content-items fl">
									<div class="subhead__content-catalog-menu-content-items-wrapper">
										<li class="subhead__content-catalog-menu-content-item">
											<a href="./catalog.html" class="subhead__content-catalog-menu-content-item-link">Керамогранит</a>
										</li>
										<li class="subhead__content-catalog-menu-content-item">
											<a href="./catalog.html" class="subhead__content-catalog-menu-content-item-link">Крупные форматы</a>
										</li>
										<li class="subhead__content-catalog-menu-content-item">
											<a href="./catalog.html" class="subhead__content-catalog-menu-content-item-link">Керамическая плита</a>
										</li>
										<li class="subhead__content-catalog-menu-content-item">
											<a href="./catalog.html" class="subhead__content-catalog-menu-content-item-link">Изготовление<br>специделий</a>
										</li>
									</div>
									<div class="subhead__content-catalog-menu-content-items-wrapper">
										<li class="subhead__content-catalog-menu-content-item">
											<a href="./catalog.html" class="subhead__content-catalog-menu-content-item-link">Обои</a>
										</li>
										<li class="subhead__content-catalog-menu-content-item">
											<a href="./catalog.html" class="subhead__content-catalog-menu-content-item-link">Сухие смеси</a>
										</li>
										<li class="subhead__content-catalog-menu-content-item">
											<a href="./catalog.html" class="subhead__content-catalog-menu-content-item-link">Лакокрасочные<br>изделия</a>
										</li>
										<li class="subhead__content-catalog-menu-content-item">
											<a href="./catalog.html" class="subhead__content-catalog-menu-content-item-link">Багет</a>
										</li>
									</div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>