.header {
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    &.header-active {
        position: fixed;
        z-index: 25;
        padding: 28px;
        background-color: $white-color;

        box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);

        transition: background-color 0.5s, box-shadow 0.5s;

        .header__content {
            &:after {
                display: none;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;

        position: relative;

        &:after {
            position: absolute;
            content: "";
            bottom: -64px;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: $white-color;
        }

        &-nav {
            margin-left: 40px;
    
            &-items {
                display: flex;
            }
    
            &-item {
                margin-right: 28px;
    
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &-register-login {
            margin-left: auto;
        }

        &-nav_mobile {
            position: fixed;
            z-index: 30;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            text-align: center;
            background-color: rgba(0, 0, 0, 0.8);

            overflow-y: auto;
            overflow-x: hidden;
            opacity: 0;
            visibility: hidden;

            transition: all ease 0.5s;

            &-wrapper {
                opacity: 0;
                transform: translate(100%, 0);

                height: 100%;
                background-color: $white-color;

                transition: all ease 0.5s;
            }

            &-back-btn {
                width: 80%;
                padding-top: 55px;
            }

            &-btn {
                cursor: pointer;

                padding: 10px 22px;
                border: 1px solid $reb-color-close;
                border-radius: 2px;
                color: $reb-color-close;

                transition: color 0.2s, background-color 0.2s;

                &:hover {
                    background-color: $reb-color-close;
                    color: $white-color;
                }
            }

            &-items {
                display: flex;
                flex-direction: column;
                width: 50%;

                padding-top: 65px;
            }

            &-item {
                margin-bottom: 24px;
            }

            &-register-login {
                width: 50%;
                margin-top: 86px;
            }

            &.mobile-nav-open {
                opacity: 1;
                visibility: visible;

                .header__content-nav_mobile-wrapper {
                    opacity: 1;
                    transform: translate(50%, 0);
                }
            }
        }

        &-back-btn {
            display: none;
        }

        &-btn {
            cursor: pointer;
            color: $main-color;

            padding: 10px 20px;
            border: 1px solid $main-color;
            border-radius: 2px;

            transition: background-color 0.2s, color 0.2s;

            &:hover {
                background-color: $main-color;
                color: $white-color;
            }
        }
    }

    @media (max-width: 888px) {

        &__content {
            justify-content: space-between;

            &:after {
                bottom: -24px;
            }

            &-nav,
            &-register-login {
                display: none;
            }

            &-back-btn {
                display: block;
            }
        }
    }

    @media (max-width: 560px) {
        padding-top: 8%;

        &__content {

            &-nav_mobile {
    
                &-items,
                &-register-login {
                    width: 60%;
                }
    
                &.mobile-nav-open { 
                    .header__content-nav_mobile-wrapper {
                        transform: translate(40%, 0);
                    }
                }
            }
        }
    }

    @media (max-width: 460px) {
        
        &__content {

            &:after {
                bottom: -16px;
            }
        }
    }

    @media (max-width: 426px) {
        
        &__content {

            &-nav_mobile {
    
                &-register-login {
                    display: flex;
                    flex-direction: column;

                    width: 45%;
                    margin-left: auto;
                    margin-right: 47.5%;
                }
            }
        }
    }
}