.properties {
    
    &__content {
        margin-top: 60px;

        &-slider {
            position: relative;
            user-select: none;
            touch-action: pan-y;
            cursor: grab;
        
            &.slider-active {
                cursor: grabbing;
            }
        
            img {
                pointer-events: none;
            }
        
            .slider-list {
                width: 100%;
                height: 100%;
                overflow: hidden;
                margin: 0 auto;
            }
        
            .slider-track {
                display: flex;
            }
        }

        &-item {
            margin-right: 32px;

            &:last-child {
                margin-right: 0;
            }

            &-back-img {
                position: relative;

                &-btn {
                    position: absolute;
                    bottom: 3px;
                    left: 0;
    
                    font-size: 24px;
                    font-weight: 500;
                    color: $main-color;
    
                    padding: 28px 0px;
                    width: 54%;
                    text-align: center;
    
                    background-color: $white-color;
    
                    transition: color 0.2s, background-color 0.2s;
    
                    &:hover {
                        background-color: $main-color;
                        color: $white-color;
                    }
                }
            }

            &-description {
                margin-top: 32px;

                &-title {
                    font-size: 32px;
                }

                &-address {
                    font-size: 18px;
                    margin-top: 24px;
                }

                &-price {
                    font-size: 32px;
                    font-weight: 800;
                    color: $secondary-color;
                    margin-top: 24px;
                }
            }
        }
    }

    @media (max-width: 400px) {
        
        &__content {

            &-item {
                width: 290px;
                margin-right: 20px;

                &-img {
                    width: 290px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @media (max-width: 320px) {
        
        &__content {

            &-item {
                width: 260px;

                &-img {
                    width: 260px;
                }
            }
        }
    }
}