.appliances {

	&__content {

		&-description {
			flex-direction: column;

			&-title {
				max-width: 500px;
			}

			&-back-btn {
				a {
					padding: 18px 32px;
				}
			}
		}

		&-back-imgs {
			width: 560px;
		}
	}

	@media (max-width: 1040px) {

		&__content {

			&-back-img {

				img {
					width: 230px;
					height: 230px;
				}
			}
		}
	}

	@media (max-width: 930px) {

		&__content {
			flex-direction: column;

			&-description {

				&-title {
					max-width: 100%;
				}

				&-back-btn {
					margin-top: 58px;
				}
			}

			&-back-imgs {
				margin-top: 48px;
				width: 100%;

				img {
					width: 100%;
				}
			}

			&-back-img {
				width: 45%;
			}
		}
	}

	@media (max-width: 570px) {

		&__content {

			&-back-img {
				width: 48%;
			}
		}
	}

	@media (max-width: 480px) {

		&__content {

			&-description {

				&-btn {
					display: flex;
					justify-content: center;
				}
			}

			&-back-imgs {
				flex-wrap: wrap;
			}

			&-back-img {
				width: 100%;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				img {
					height: 160px;
				}
			}
		}
	}
}