.category-items {

	&__content {

		&-wrapper {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-blocks {
			margin-top: 50px;
		}

		&-block {

			&-slider-split {
				position: relative;
				width: 260px;
				height: 180px;

				&-list {
					width: 100%;
					height: 100%;
					position: relative;
				}

				&-slide {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					display: flex;

					opacity: 0;
					transition: opacity $animate;

					&.slide-split-active {
						opacity: 1;
						z-index: 40;
					}
				}

				&-back-btns {
					position: absolute;
					width: 100%;
					bottom: 10px;
					display: flex;
					justify-content: space-around;
					z-index: 50;
				}

				&-btn {
					font-size: 0;
					color: transparent;

					cursor: pointer;
					border: 0;
					outline: none;

					border-radius: 10px;

					width: 50px;
					height: 4px;
					background-color: #ffffff;
					opacity: 0.45;

					transition: opacity $animate;

					&:hover {
						opacity: 0.75;
					}

					&.split-btn-active {
						opacity: 1;
					}
				}
			}

			&-back-img {
				width: 260px;
				height: 180px;

				img {
					width: 100%;
					height: 100%;
				}
			}

			&-back-price {
				margin-top: 18px;
			}

			&-price {
				text-align: center;
			}

			&-back-button {
				margin-top: 14px;

				button {
					padding: 12px 32px;
				}
			}

			&-button {
				width: 100%;
			}
		}
	}

	@media (max-width: 1120px) {
		@include adaptive-category-items(230px, 160px);
	}

	@media (max-width: 980px) {
		@include adaptive-category-items(190px, 130px);
	}

	@media (max-width: 830px) {

		&__content {

			&-block {

				&:last-child {
					display: none;
				}
			}
		}
	}

	@media (max-width: 630px) {
		@include adaptive-category-items(170px, 110px);
	}

	@media (max-width: 570px) {
		@include adaptive-category-items(300px, 180px);

		&__content {

			&-blocks {
				flex-direction: column;
			}

			&-block {
				margin-bottom: 40px;

				&:nth-child(3) {
					margin-bottom: 0;
				}

				&-slider-split {
					margin: 0 auto;
				}

				&-back-button {
					max-width: 190px;
					margin: 14px auto 0;
				}
			}
		}
	}
}