.category-items {

	&__content {

		&-wrapper {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-blocks {
			margin-top: 50px;
		}

		&-block {

			&-slider-split {
				position: relative;
				width: 260px;
				height: 180px;

				&-list {
					width: 100%;
					height: 100%;
					position: relative;
				}

				&-slide {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;

					display: flex;

					opacity: 0;
					transition: opacity $animate;

					&.slide-split-active {
						opacity: 1;
						z-index: 40;
					}
				}

				&-back-btns {
					position: absolute;
					width: 100%;
					bottom: 10px;
					display: flex;
					justify-content: space-around;
					z-index: 50;
				}

				&-btn {
					font-size: 0;
					color: transparent;

					cursor: pointer;
					border: 0;
					outline: none;

					border-radius: 10px;

					width: 50px;
					height: 4px;
					background-color: #ffffff;
					opacity: 0.45;

					transition: opacity $animate;

					&:hover {
						opacity: 0.75;
					}

					&.split-btn-active {
						opacity: 1;
					}
				}
			}

			&-back-price {
				margin-top: 18px;
			}

			&-price {
				text-align: center;
			}

			&-back-button {
				margin-top: 14px;

				button {
					padding: 12px 32px;
				}
			}

			&-button {
				width: 100%;
			}
		}
	}
}