<div class="socials-wrapper">
    <div class="socials">
        <ul class="socials__items">
            <li class="socials__item">
                <a href="#" class="socials__item-link">
                    <img src="img/icons-social/facebook.svg" alt="facebook" class="socials__item-link-icon">
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__item-link">
                    <img src="img/icons-social/instagram.svg" alt="instagram" class="socials__item-link-icon">
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__item-link">
                    <img src="img/icons-social/whatsapp.svg" alt="whatsapp" class="socials__item-link-icon">
                </a>
            </li>
            <li class="socials__item">
                <a href="#" class="socials__item-link">
                    <img src="img/icons-social/vk.svg" alt="vk" class="socials__item-link-icon">
                </a>
            </li>
        </ul>
    </div>
    <div class="socials-back-phone">
        <a role="button" class="socials-back-phone__link phone-link">
            <img src="img/common/icons/phone.svg" alt="phone" class="socials-back-phone__link-img">
        </a>
    </div>
</div>