<div class="training-package-block slide">
    <div class="training-package-block__back-img">
        <img src="@@path_figures" alt="figures" class="training-package-block__img">
    </div>
    <div class="training-package-block__description">
        <div class="training-package-block__description-text">
            <h4 class="training-package-block__description-text-time description-section">@@description</h4>
            <h4 class="training-package-block__description-text-price"><span>@@price</span> &#8381</h4>
        </div>
        <div class="training-package-block__description-back-btn back-btn">
            <a role="button" class="training-package-block__description-btn btn">Выбрать</a>
        </div>
    </div>
</div>