@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0F1145;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body.body-pass {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 42px;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .container {
    margin: 0 40px;
  }
}

@media (max-width: 450px) {
  .container {
    margin: 0 25px;
  }
}

.wrapper {
  background: linear-gradient(222.26deg, #3B1D60 10.22%, #0F1145 58.28%);
  overflow: hidden;
}

.btn {
  color: #F2994A;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #F2994A;
  border-radius: 4px;
  -webkit-transition: color 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: color 0.2s, background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.btn:hover {
  color: #ffffff;
  background-color: #F2994A;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.back-intro-title {
  font-family: "Inter";
  font-weight: 700;
  color: #99EFD0;
}

.back-intro-subtext {
  font-family: "Gilroy";
  line-height: 137.5%;
  font-weight: 600;
  color: #8476AA;
}

.back-intro span {
  color: #F2994A;
}

@media (max-width: 768px) {
  .back-intro-title {
    font-size: 38px;
  }
}

@media (max-width: 500px) {
  .back-intro-title {
    font-size: 36px;
  }
}

@media (max-width: 375px) {
  .back-intro-title {
    font-size: 32px;
  }
}

.nav-link {
  color: #B5B5B5;
  font-size: 12px;
  font-family: "Gilroy";
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-link:hover {
  color: #F2994A;
}

.header {
  padding-top: 80px;
  -webkit-transition: top 0.4s, -webkit-box-shadow 0.4s linear;
  transition: top 0.4s, -webkit-box-shadow 0.4s linear;
  transition: box-shadow 0.4s linear, top 0.4s;
  transition: box-shadow 0.4s linear, top 0.4s, -webkit-box-shadow 0.4s linear;
}

.header.header-active {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 0;
  -webkit-box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 25px 2px rgba(0, 0, 0, 0.35);
  background-color: #11134d;
}

.header.header-pass-shadow {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header.header-active-pressed-btn {
  position: relative;
  top: 0;
  z-index: 20;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content-back-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content-back-logo-title {
  display: none;
  color: #F2994A;
  font-size: 22px;
}

.header__content-logo {
  margin-right: 44px;
}

.header__content-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content-nav-item {
  margin-right: 20px;
}

.header__content-back-sign-in {
  margin-right: 20px;
}

.header__content-back-sign-in, .header__content-back-sign-up {
  padding: 8px 24px;
}

.header__content-back-btn {
  display: none;
}

.header__content-back-btn-menu {
  padding: 9px 0;
  cursor: pointer;
}

.header__content-back-btn-menu span {
  position: relative;
  color: transparent;
  font-size: 0;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #F2994A;
  border-radius: 10px;
}

.header__content-back-btn-menu span::before, .header__content-back-btn-menu span::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 2px;
  left: 0;
  background-color: #F2994A;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__content-back-btn-menu span::before {
  top: -8px;
}

.header__content-back-btn-menu span::after {
  bottom: -8px;
}

.header__content-back-btn-menu.header-btn-menu-active span {
  height: 0;
}

.header__content-back-btn-menu.header-btn-menu-active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.header__content-back-btn-menu.header-btn-menu-active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -2px;
}

@media (max-width: 790px) {
  .header {
    padding-top: 50px;
  }
  .header__content-nav {
    display: none;
  }
  .header__content-back-logo-title {
    display: block;
  }
  .header__content-logo {
    margin-right: 20px;
  }
  .header__content-back-sign {
    display: none;
  }
  .header__content-back-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mobile-nav {
  position: fixed;
  z-index: 18;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.4s, opacity 0.4s;
  transition: visibility 0.4s, opacity 0.4s;
}

.mobile-nav.mobile-nav-acive {
  visibility: visible;
  opacity: 1;
}

.mobile-nav.mobile-nav-acive .mobile-nav__content {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-nav__content {
  background-color: #11134d;
  padding: 110px 0 80px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.mobile-nav__content-nav-items {
  text-align: center;
}

.mobile-nav__content-nav-item {
  margin-bottom: 25px;
}

.mobile-nav__content-back-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-nav__content-back-sign-in {
  margin-right: 20px;
}

.mobile-nav__content-back-sign-in, .mobile-nav__content-back-sign-up {
  padding: 8px 24px;
}

.intro {
  margin-top: 100px;
}

.intro.intro-active {
  margin-top: 185px;
}

.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__content-description-title {
  font-size: 44px;
  font-family: "Inter";
  color: #99EFD0;
}

.intro__content-description-text {
  margin-top: 20px;
  color: #8476AA;
  font-size: 18px;
  line-height: 122.22222%;
  font-family: "Gilroy";
  max-width: 430px;
}

.intro__content-description-back-btns {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__content-description-btn {
  padding: 13px 0;
  text-align: center;
  width: 157px;
}

.intro__content-description-btn:first-child {
  margin-right: 20px;
}

.intro__content-description-back-video {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__content-description-back-video-text-1 {
  color: #8476AA;
  line-height: 137.5%;
}

.intro__content-description-back-video-text-2 {
  color: #6D6D78;
  margin-top: 8px;
}

.intro__content-description-wrapper-video {
  width: 140px;
  height: 80px;
  margin-right: 20px;
  position: relative;
  border-radius: 3px;
  background-color: #361C5D;
}

.intro__content-description-wrapper-video:before, .intro__content-description-wrapper-video:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.intro__content-description-wrapper-video:before {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
}

.intro__content-description-wrapper-video:after {
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 14px;
  border-color: transparent transparent transparent #361C5D;
  -webkit-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
}

.intro__content-description-wrapper-video:hover .intro__content-description-video {
  background-color: #4d2884;
}

.intro__content-description-wrapper-video:hover:before {
  background-color: #F2994A;
}

.intro__content-description-wrapper-video:hover:after {
  border-color: transparent transparent transparent #ffffff;
}

.intro__content-description-video {
  width: 140px;
  height: 80px;
  background-color: #361C5D;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-radius: 3px;
  cursor: pointer;
}

.intro__content-back-img {
  width: 50%;
}

@media (min-width: 801px) {
  .intro.intro-active {
    margin-top: 215px;
  }
}

@media (max-width: 800px) {
  .intro__content-back-img {
    width: 35%;
  }
}

@media (max-width: 660px) {
  .intro__content-description-title {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .intro {
    margin: 80px 0;
  }
  .intro.intro-active {
    margin-top: 160px;
  }
  .intro__content-back-img {
    display: none;
  }
}

@media (max-width: 425px) {
  .intro__content-description {
    max-width: 100%;
  }
  .intro__content-description-wrapper-video {
    margin-right: 0;
    width: 70%;
    height: 120px;
  }
  .intro__content-description-back-video {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__content-description-back-video-text {
    margin-top: 30px;
  }
  .intro__content-description-video {
    width: 100%;
    height: 120px;
  }
}

@media (max-width: 375px) {
  .intro__content-description-title {
    font-size: 36px;
  }
  .intro__content-description-wrapper-video {
    width: 80%;
    height: 150px;
  }
  .intro__content-description-video {
    height: 150px;
  }
}

.company__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.company__item-img {
  opacity: 0.4;
}

@media (max-width: 830px) {
  .company {
    margin-top: 30px;
  }
  .company__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .company__item {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .company__item:first-child, .company__item:nth-child(2), .company__item:nth-child(3) {
    margin-bottom: 50px;
  }
}

@media (max-width: 560px) {
  .company__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 470px) {
  .company__item {
    width: 45%;
  }
  .company__item:nth-child(4) {
    margin-bottom: 50px;
  }
}

.choice {
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.choice:before {
  position: absolute;
  content: "";
  background-image: url("../img/choice/back.svg");
  background-position: center;
  top: -120px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.choice__content-back-intro {
  text-align: center;
}

.choice__content-back-intro-subtext {
  margin-top: 12px;
}

.choice__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.choice__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30%;
}

.choice__content-item:first-child, .choice__content-item:nth-child(2), .choice__content-item:nth-child(3) {
  margin-bottom: 44px;
}

.choice__content-item-back-img {
  margin-right: 28px;
}

.choice__content-item-description-title {
  font-size: 18px;
  color: #99EFD0;
}

.choice__content-item-description-text {
  color: #8476AA;
  font-size: 14px;
  line-height: 157.14286%;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .choice__content-item {
    max-width: 47%;
  }
}

@media (max-width: 560px) {
  .choice__content-item {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .choice__content-item:nth-child(4), .choice__content-item:nth-child(5) {
    margin-bottom: 44px;
  }
  .choice__content-item-back-img {
    margin-right: 0;
  }
}

.traffic {
  padding-top: 160px;
  z-index: 1;
  position: relative;
}

.traffic.traffic-active .traffic__content .traffic__content-description {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.traffic.traffic-active .traffic__content .traffic__content-back-img {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.traffic__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 7% 0 9%;
}

.traffic__content-description {
  max-width: 470px;
  margin-right: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translate(-55%, 0);
          transform: translate(-55%, 0);
  opacity: 0;
}

.traffic__content-description-back-intro-subtext {
  margin-top: 32px;
}

.traffic__content-description-back-btn {
  margin-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.traffic__content-description-btn {
  padding: 13px 30px;
}

.traffic__content-back-img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translate(55%, 0);
          transform: translate(55%, 0);
  opacity: 0;
}

@media (max-width: 1024px) {
  .traffic__content {
    margin: 0 0 0 9%;
  }
}

@media (max-width: 900px) {
  .traffic__content {
    margin: 0;
  }
  .traffic__content-back-img {
    width: 100%;
  }
  .traffic__content-img {
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
  .traffic__content-description {
    width: 90%;
  }
}

@media (max-width: 690px) {
  .traffic {
    padding-top: 120px;
  }
  .traffic__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .traffic__content-description {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .traffic__content-description-back-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .traffic__content-img {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 570px) {
  .traffic__content-img {
    width: 85%;
  }
}

@media (max-width: 425px) {
  .traffic__content-img {
    width: 100%;
  }
}

.bunch {
  margin-top: 200px;
}

.bunch__content {
  text-align: center;
  position: relative;
}

.bunch__content:before {
  position: absolute;
  content: "";
  background-image: url("../img/common/comets.svg");
  width: 100%;
  height: 180%;
  background-repeat: no-repeat;
  left: -35%;
  top: -115%;
  z-index: -1;
}

.bunch__content-back-intro-title {
  font-size: 36px;
}

.bunch__content-back-intro-subtext {
  max-width: 430px;
  margin: 32px auto 0 auto;
}

.bunch__content-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 48px;
}

.bunch__content-item {
  max-width: 25%;
}

.bunch__content-item-title {
  font-size: 36px;
  color: #99EFD0;
}

.bunch__content-item-description {
  color: #8476AA;
  line-height: 137.5%;
  margin-top: 16px;
}

@media (max-width: 900px) {
  .bunch__content::before {
    top: -85%;
  }
}

@media (max-width: 768px) {
  .bunch__content::before {
    top: -75%;
  }
  .bunch__content-item {
    max-width: 30%;
  }
}

@media (max-width: 690px) {
  .bunch {
    margin-top: 70px;
  }
  .bunch__content::before {
    width: 130%;
    height: 115%;
    left: -70%;
  }
}

@media (max-width: 620px) {
  .bunch__content::before {
    top: -55%;
    width: 150%;
    left: -80%;
    height: 100%;
  }
  .bunch__content-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .bunch__content-item {
    max-width: 45%;
  }
  .bunch__content-item:last-child {
    max-width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 560px) {
  .bunch__content::before {
    display: none;
  }
}

@media (max-width: 500px) {
  .bunch__content-back-intro-title {
    font-size: 34px;
  }
}

@media (max-width: 460px) {
  .bunch__content-item {
    max-width: 100%;
  }
  .bunch__content-item:first-child {
    margin-bottom: 30px;
  }
}

@media (max-width: 375px) {
  .bunch__content-back-intro-title {
    font-size: 32px;
  }
}

.project {
  margin-top: 170px;
}

.project__content {
  text-align: center;
}

.project__content-back-intro {
  max-width: 770px;
  margin: 0 auto;
}

.project__content-back-btn {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project__content-btn {
  padding: 17px 32px;
}

.project__content-back-img {
  width: 100%;
  position: relative;
  top: -100px;
  z-index: -1;
}

.project__content-img {
  width: 100%;
}

@media (max-width: 900px) {
  .project__content-back-img {
    top: -50px;
  }
}

@media (max-width: 768px) {
  .project {
    margin-top: 130px;
  }
}

@media (max-width: 460px) {
  .project {
    margin-top: 100px;
  }
}

.property {
  overflow: hidden;
  padding-bottom: 40px;
}

.property__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.property__content-description {
  margin-left: 7%;
}

.property__content-description-back-intro {
  max-width: 470px;
}

.property__content-description-back-intro-subtext {
  line-height: 187.5%;
  margin-top: 32px;
}

.property__content-description-back-btn {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.property__content-description-btn {
  padding: 17px 30px;
}

.property__content-back-img {
  position: relative;
}

.property__content-img-map {
  position: absolute;
  left: -80px;
  top: 0;
  z-index: -1;
}

@media (max-width: 890px) {
  .property__content-description {
    margin-left: 0;
  }
}

@media (max-width: 835px) {
  .property__content-description {
    width: 85%;
  }
  .property__content-back-img {
    width: 100%;
  }
  .property__content-img {
    width: 100%;
    height: auto;
    max-width: 440px;
    display: block;
    margin-left: auto;
  }
}

@media (max-width: 700px) {
  .property__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .property__content-description {
    text-align: center;
    width: 100%;
  }
  .property__content-description-back-intro {
    max-width: 100%;
  }
  .property__content-description-back-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .property__content-back-img {
    margin-top: 65px;
  }
  .property__content-img {
    max-width: 100%;
  }
}

.help {
  margin-top: 125px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.help:before {
  position: absolute;
  content: "";
  background-image: url("../img/common/comets.svg");
  width: 60%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  right: -450px;
  top: 20%;
  z-index: -1;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__content-description {
  max-width: 480px;
}

.help__content-description-title {
  font-size: 26px;
  line-height: 123.07692%;
  color: #99EFD0;
}

.help__content-description-text {
  color: #8476AA;
  line-height: 137.5%;
  margin-top: 32px;
  font-family: "Gilroy";
}

.help__content-description-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
}

.help__content-description-item {
  max-width: 47%;
}

.help__content-description-item-img {
  height: 40px;
}

.help__content-description-item-title {
  font-size: 16px;
  color: #99EFD0;
  margin-top: 16px;
}

.help__content-description-item-text {
  color: #8476AA;
  line-height: 137.5%;
  margin-top: 8px;
  font-family: "Gilroy";
}

@media (max-width: 920px) {
  .help__content-back-img {
    width: 100%;
  }
  .help__content-img {
    width: 100%;
    height: auto;
    display: block;
  }
  .help__content-description {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .help__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .help__content-back-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .help__content-img {
    width: 75%;
    margin: 0 auto;
  }
  .help__content-description {
    width: 100%;
    margin-bottom: 70px;
    text-align: center;
  }
}

@media (max-width: 590px) {
  .help__content-img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .help__content-description-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .help__content-description-item {
    max-width: 100%;
  }
  .help__content-description-item:first-child {
    margin-bottom: 30px;
  }
}

.reasons {
  margin-top: 196px;
  position: relative;
}

.reasons:before {
  position: absolute;
  content: "";
  top: -60px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/reason/back.svg");
}

.reasons__content {
  background: rgba(60, 62, 125, 0.19);
  -webkit-backdrop-filter: blur(134px);
          backdrop-filter: blur(134px);
  border-radius: 5px;
  text-align: center;
  padding: 50px;
}

.reasons__content-title {
  font-size: 36px;
  line-height: 122.22222%;
  font-family: "Rubik";
  font-weight: 500px;
  color: #F2994A;
}

.reasons__content-description {
  color: #95A1BB;
  line-height: 137.5%;
  max-width: 400px;
  margin: 20px auto 0 auto;
  font-family: "Rubik";
}

.reasons__content-back-form {
  margin-top: 24px;
}

.reasons__content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reasons__content-form-input {
  font-size: 14px;
  color: #F6F6F6;
  outline: none;
  padding: 18px 16px;
  border: 0;
  max-width: 300px;
  width: 300px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #2a2c61;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.reasons__content-form-input:focus {
  background-color: #252756;
}

.reasons__content-form-btn {
  cursor: pointer;
  padding: 0 43px;
  background-color: #F2994A;
  color: #ffffff;
  border-radius: 5px;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.reasons__content-form-btn:hover {
  background-color: #f18e37;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.reasons__content-text {
  font-size: 14px;
  line-height: 142.85714%;
  font-family: "Gilroy";
  font-weight: 600;
  margin-top: 16px;
  color: #8476AA;
}

@media (max-width: 768px) {
  .reasons {
    margin-top: 160px;
  }
}

@media (max-width: 640px) {
  .reasons__content {
    padding: 50px 30px;
  }
}

@media (max-width: 570px) {
  .reasons__content-form-input {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 520px) {
  .reasons {
    margin-top: 120px;
  }
}

@media (max-width: 460px) {
  .reasons__content {
    padding: 40px 25px;
  }
  .reasons__content-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons__content-form-input {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
  }
  .reasons__content-form-btn {
    padding: 18px 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
}

.footer {
  margin-top: 140px;
  padding-bottom: 100px;
  position: relative;
}

.footer:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -45px;
  left: 0;
  background-image: url("../img/footer/back.svg");
  z-index: -1;
}

.footer__content-back-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-back-intro-title {
  font-size: 26px;
  color: #F2994A;
}

.footer__content-back-intro-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content-back-intro-item {
  width: 40px;
  height: 40px;
  background-color: rgba(151, 151, 151, 0.1);
  margin-right: 16px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, -webkit-box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.footer__content-back-intro-item:last-child {
  margin-right: 0;
}

.footer__content-back-intro-item:hover {
  background-color: #F2994A;
  -webkit-box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
          box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

.footer__content-back-intro-item-link {
  padding: 10px 11px;
}

.footer__content-items {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content-item-title {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 25px;
}

.footer__content-item-link {
  color: #ffffff;
  margin-bottom: 16px;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer__content-item-link:hover {
  color: #F2994A;
}

.footer__content-item-link:last-child {
  margin-bottom: 0;
}

.footer__content-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
}

.footer__content-description-text {
  font-size: 14px;
  color: #8D8D8D;
  margin-right: 34px;
}

.footer__content-description-text:last-child {
  margin-right: 0;
}

@media (max-width: 580px) {
  .footer {
    margin-top: 120px;
  }
  .footer:before {
    display: none;
  }
  .footer__content-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .footer__content-item {
    width: 45%;
  }
  .footer__content-item:first-child, .footer__content-item:nth-child(2) {
    margin-bottom: 45px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-bottom: 60px;
  }
  .footer__content-description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    margin-top: 70px;
  }
  .footer__content-description-text {
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__content-description-text:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 375px) {
  .footer {
    margin-top: 90px;
  }
  .footer__content-back-intro {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__content-back-intro-title {
    width: 100%;
  }
  .footer__content-back-intro-items {
    margin-top: 30px;
  }
  .footer__content-items {
    margin-top: 50px;
  }
  .footer__content-item {
    width: 100%;
    margin-bottom: 45px;
  }
  .footer__content-item:last-child {
    margin-bottom: 0;
  }
}
