.btn-menu {
    padding: 8px 0;
    cursor: pointer;

    span {
        position: relative;
        font-size: 0;
        color: transparent;

        display: block;
        width: 20px;
        height: 1px;
        background-color: $black-color;
        border-radius: 1px;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background-color: $black-color;
            border-radius: 1px;
            transition: all $animate;
        }

        &::before {
            top: -6px;
        }

        &::after {
            bottom: -6px;
        }
    }

    &.btn-menu-active {
        span {
            height: 0;

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: -1px;
                transform: rotate(-45deg);
            }
        }
    }
}