.container {
    max-width: 1260px;
    margin: 0 auto;

    &__wrapper {
        border-radius: 70px;
        background-color: $primary-color-1;
    }

    @media (max-width: 1340px) {
        margin: 0 40px;
    }

    @media (max-width: 375px) {
        margin: 0 20px;

        &.container-nor-margin {
            margin: 0;
        }
    }
}