.fill-field-input {
    border-radius: 10px;
    background-color: $white-color;
    padding: 12px 20px;
    border: 1px solid $primary-color-2;

    font-size: 16px;
    line-height: 26/16 * 100%;
    font-family: 'Raleway';

    transition: box-shadow $animate;

    &:focus {
        box-shadow: 0px 2px 4px #FFECA0;
    }
}