.header-with-background {
    display: inline-block;

    span {
        position: relative;
        z-index: 2;
        display: inline-flex;
        margin-right: 8px;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            height: 12px;
            background-color: $primary-color-2;
            z-index: -1;
            bottom: 8px;
        }
    };
}