@import "./var/var";
@import "./mixins/mixins";
@import "./fonts/fonts";

@import "./reset/reset";
@import "./normalize/normalize";

// POPUP TEMPLATES
@import "./popup/popupTemp";

// REVIEWS
@import "./common/reviews";
@import "./common/reviews/cardReviews";

// COMMON
@import "./common/common";
@import "./common/header";
@import "./common/subhead";
@import "./common/advantages";
@import "./common/contacts";
@import "./common/footer";

// POPULAR
@import "./blocks/popular";
@import "./blocks/popular/cardCollections";
@import "./blocks/popular/cardProducts";

// BLOCKS
@import "./blocks/about";
@import "./blocks/brands";
@import "./blocks/services";
