@import "./var/var";
@import "./mixins/mixins";
@import "./fonts/fonts";

@import "./reset/reset";
@import "./normalize/normalize";

// POPUP TEMPLATES
@import "./popup/common";
@import "./popup/popupAddCart";
@import "./popup/popupTemp";
@import "./popup/popupCollection";

// SLIDERS
@import "./sliders/sliderWithPreviews";

// COMMON
@import "./common/sliders";
@import "./common/catalog/product";
@import "./common/catalog/collections";

// REVIEWS
@import "./common/reviews";
@import "./common/reviews/cardReviews";

// COMMON
@import "./common/common";
@import "./common/header";
@import "./common/crackers";
@import "./common/subhead";
@import "./common/advantages";
@import "./common/contacts";
@import "./common/footer";

// BLOCKS
@import "./blocks/about";
@import "./blocks/intro";
@import "./blocks/popularQueries";
@import "./blocks/characteristics";
@import "./blocks/completedProjects";
@import "./blocks/popular";
@import "./blocks/catalog";
@import "./blocks/brands";
@import "./blocks/services";
@import "./blocks/newItems";
