<div class="popup popup-temp @@classPopup">
	<div class="popup__container popup-temp__container">
		<div class="popup__content popup-temp__content">
			<div class="popup__content-wrapper popup-temp__wrapper">
				<div class="popup__content-back-close popup-temp__content-back-close fl">
					<button type="button" class="popup__content-btn-close popup-temp__content-btn-close fl">
						<span>Close popup</span>
					</button>
				</div>
				<div class="popup__content-back-form">
					<form action="./index.html" class="popup__content-form">
						<h2 class="popup__content-form-title">@@titlePopup</h2>
						<div class="popup__content-form-back-input fl">
							<input type="text" placeholder="Ваше имя" class="popup__content-form-input input-form">
							<input type="tel" placeholder="Номер телефона" class="popup__content-form-input input-form">
						</div>
						<textarea placeholder="Текст сообщения" cols="30" rows="10" class="popup__content-form-textarea textarea-form"></textarea>
						<div class="popup__content-form-back-btn fl">
							<button type="submit" class="popup__content-form-btn filled-btn-form">@@buttonText</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>