<div class="popup-collection popup-temp">
	<div class="popup-collection__container popup-temp__container">
		<div class="popup-collection__content popup-temp__content">
			<div class="popup-collection-back-close popup-temp__content-back-close fl">
				<button type="button" class="popup-collection-btn-close popup-temp__content-btn-close fl">
					<span>Close popup</span>
				</button>
			</div>
			<div class="popup-collection__wrapper fl just_cont">
				<div class="popup-collection__content-slider-with-previews slider-with-previews">
					<div class="slider-navigation">
						<div class="back-btn-slider-push back-btn-slider-push-left">
							<button data-direction="last" type="button" class="btn-slider-push btn-slider-push-last">Button</button>
						</div>
						<div class="back-btn-slider-push back-btn-slider-push-right">
							<button data-direction="next" type="button" class="btn-slider-push btn-slider-push-next">Button</button>
						</div>
					</div>
					<div class="slider-list">
						<div class="slider-track">
							<div class="popup-collection__content-slider-with-previews-slide slide">
								<div class="popup-collection__content-slider-with-previews-slide-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collections" class="popup-collection__content-slider-with-previews-slide-img">
								</div>
							</div>
							<div class="popup-collection__content-slider-with-previews-slide slide">
								<div class="popup-collection__content-slider-with-previews-slide-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collections" class="popup-collection__content-slider-with-previews-slide-img">
								</div>
							</div>
							<div class="popup-collection__content-slider-with-previews-slide slide">
								<div class="popup-collection__content-slider-with-previews-slide-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collections" class="popup-collection__content-slider-with-previews-slide-img">
								</div>
							</div>
							<div class="popup-collection__content-slider-with-previews-slide slide">
								<div class="popup-collection__content-slider-with-previews-slide-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collections" class="popup-collection__content-slider-with-previews-slide-img">
								</div>
							</div>
							<div class="popup-collection__content-slider-with-previews-slide slide">
								<div class="popup-collection__content-slider-with-previews-slide-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collections" class="popup-collection__content-slider-with-previews-slide-img">
								</div>
							</div>
						</div>
					</div>
					<div class="slider-list-previews">
						<div class="slider-track-previews">
							<div class="popup-collection__content-slider-with-previews-slide-preview slide-preview">
								<div class="popup-collection__content-slider-with-previews-slide-preview-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collection" class="popup-collection__content-slider-with-previews-slide-preview-img">
								</div>
							</div>
							<div class="popup-collection__content-slider-with-previews-slide-preview slide-preview">
								<div class="popup-collection__content-slider-with-previews-slide-preview-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collection" class="popup-collection__content-slider-with-previews-slide-preview-img">
								</div>
							</div>
							<div class="popup-collection__content-slider-with-previews-slide-preview slide-preview">
								<div class="popup-collection__content-slider-with-previews-slide-preview-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collection" class="popup-collection__content-slider-with-previews-slide-preview-img">
								</div>
							</div>
							<div class="popup-collection__content-slider-with-previews-slide-preview slide-preview">
								<div class="popup-collection__content-slider-with-previews-slide-preview-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collection" class="popup-collection__content-slider-with-previews-slide-preview-img">
								</div>
							</div>
							<div class="popup-collection__content-slider-with-previews-slide-preview slide-preview">
								<div class="popup-collection__content-slider-with-previews-slide-preview-back-img fl">
									<img src="./img/newItems/new-items-3.jpg" alt="collection" class="popup-collection__content-slider-with-previews-slide-preview-img">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="popup-collection__content-description">
					<div class="popup-collection__content-description-back-title">
						<h2 class="popup-collection__content-description-title">Коллекция “SIMPLE”</h2>
						<h4 class="popup-collection__content-description-subtitle">В коллекции: базовая плитка, напольная плитка, бордюры</h4>
					</div>
					<div class="popup-collection__content-description-info">
						<ul class="popup-collection__content-description-info-items fl just_cont">
							<li class="popup-collection__content-description-info-item">
								<h4 class="popup-collection__content-description-info-item-overhead">Применение:</h4>
								<h3 class="popup-collection__content-description-info-item-title">для ванной</h3>
							</li>
							<li class="popup-collection__content-description-info-item">
								<h4 class="popup-collection__content-description-info-item-overhead">Цвета:</h4>
								<h3 class="popup-collection__content-description-info-item-title">серый, белый, зелёный</h3>
							</li>
							<li class="popup-collection__content-description-info-item">
								<h4 class="popup-collection__content-description-info-item-overhead">Стилистика:</h4>
								<h3 class="popup-collection__content-description-info-item-title">под бетон, под кирпич</h3>
							</li>
							<li class="popup-collection__content-description-info-item">
								<h4 class="popup-collection__content-description-info-item-overhead">Рисунок:</h4>
								<h3 class="popup-collection__content-description-info-item-title">под бетон, под кирпич</h3>
							</li>
							<li class="popup-collection__content-description-info-item">
								<h4 class="popup-collection__content-description-info-item-overhead">Размеры:</h4>
								<h3 class="popup-collection__content-description-info-item-title">20*60, 40*40, 10*26, 3*26</h3>
							</li>
							<li class="popup-collection__content-description-info-item">
								<h4 class="popup-collection__content-description-info-item-overhead">Форматы</h4>
								<h3 class="popup-collection__content-description-info-item-title">прямоугольник, крупные форматы</h3>
							</li>
						</ul>
					</div>
					<div class="popup-collection__content-description-back-price fl al_it">
						<h3 class="popup-collection__content-description-price">
							<span>Цена:</span> от 5 600 руб.<strike>от 5 600 руб.</strike>
						</h3>
						<h4 class="popup-collection__content-description-discount">Скидка 30%<br>до 15 августа</h4>
					</div>
					<div class="popup-collection__content-description-back-btns fl just_cont">
						<button class="popup-collection__content-description-btn-like fl al_it">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="none" viewBox="0 0 24 20">
								<path stroke="#6F6F6F" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M20.84 2.61a5.5 5.5 0 0 0-7.78 0L12 3.67l-1.06-1.06a5.501 5.501 0 1 0-7.78 7.78l1.06 1.06L12 19.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78v0z"/>
							</svg>
							В избранное
						</button>
						<button class="popup-collection__content-description-btn-info fl al_it">
							Подробнее
							<svg width="16" height="16" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.3994 27L30 13.5L16.3994 0L13.7755 2.59003L22.8863 11.619H0V15.381H22.8863L13.7755 24.4244L16.3994 27Z" fill="#FF0000"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>