<div class="popup-add-cart popup-temp">
	<div class="popup-add-cart__container popup-temp__container">
		<div class="popup-add-cart__content popup-temp__content">
			<div class="popup-add-cart__wrapper popup-temp__wrapper">
				<div class="popup-add-cart-back-close popup-temp__content-back-close fl">
					<button type="button" class="popup-add-cart-btn-close popup-temp__content-btn-close fl">
						<span>Close popup</span>
					</button>
				</div>
				<div class="popup-add-cart__content-wrapper">
					<div class="popup-add-cart__content-description">
						<h3 class="popup-add-cart__content-description-title">Добавление в корзину</h3>
						<h4 class="popup-add-cart__content-description-subtitle">Керамогранит Creto Forza Calacatta white PG 01 45х45</h4>
					</div>
					<div class="popup-add-cart__content-choice fl">
						<div class="popup-add-cart__content-choice-quantity fl al_it">
							<button class="popup-add-cart__content-choice-quantity-subtract subtract fl al_it">
								<svg width="15" height="2" viewBox="0 0 15 2" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 1H13.5" stroke="#6F6F6F" stroke-width="2" stroke-linecap="round"/>
								</svg>
							</button>
							<input class="popup-add-cart__content-choice-quantity-num" type="number" value="10" />
							<button class="popup-add-cart__content-choice-quantity-add add fl al_it">
								<svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M1 8H13.5" stroke="#6F6F6F" stroke-width="2" stroke-linecap="round"/>
									<path d="M7.25 14.25L7.25 1.75" stroke="#6F6F6F" stroke-width="2" stroke-linecap="round"/>
								</svg>
							</button>
						</div>
					</div>
					<h4 class="popup-add-cart__content-price">Итого: <span>5 600 руб.</span></h4>
					<div class="popup-add-cart__content-back-btn fl">
						<button type="button" class="popup-add-cart__content-btn filled-btn">В корзину</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>